{% set title = "Ajustes. Servicio: 1452 - Premios de Orientación Profesional. Catálogo de servicios. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-subheader-fixed-headroom.njk" %}

{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/detail-header/_macro.detail-header.njk" import componentDetailHeader %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/label/_macro.label.njk" import componentLabel %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/tabs/_macro.tabs.njk" import componentTabs %}
{% from "includes/_macro.tabs-cambios.njk" import tabsCambios %}

{% import "includes/_actions-examples-item-list-services.njk" as actions %}
{% import "includes/_detalles-items-varios.njk" as detalles with context %}

{% block subheaderBlock %}
  <div class="border-b border-neutral-dark">
    <div class="container mx-auto mt-lg -mb-px px-base">
      {% call componentDetailHeader({
        "breadcrumbs": {
          "items": [
            {
              "text": "Servicios del departamento",
              "href": "/"
            },
            {
              "text": "1452 - Premios de Orientación Profesional"
            }
          ]
        },
        "idNumber": "1452",
        "text": "Premios de Orientación Profesional",
        "icon": {
          "type": "servicio"
        },
        "status": {
          "type": "publicado"
        },
        "menuHorizontal": {
          "classes": "c-menu-horizontal--tabs text-sm w-full",
          "items": [
            {
              "href": "#",
              "text": "Resumen"
            },
            {
              "href": "#",
              "text": "Datos"
            },
            {
              "href": "#",
              "text": "Convocatorias"
            },
            {
              "href": "#",
              "text": "Procesos específicos"
            },
            {
              "href": "#",
              "text": "Ajustes",
              "active": true
            },
            {
              "href": "#",
              "text": "Histórico"
            },
            {
              "href": "#",
              "text": "Notas"
            }
          ],
          "attributes": {
            "aria-label": "Menu horizontal"
          }
        }
      })  %}
        {{ actions.actionsPublicado | safe }}
      {% endcall %}
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <h1 class="c-h1 mb-0">Ajustes del servicio</h1>
  <p class="mb-lg text-neutral-dark">Características propias del servicio</p>

  <div class="mb-xl">
    {{ componentButton({
      "text": "Editar Ajustes"
    })  }}
  </div>

  <h2 id="organo-adminitrativo" class="font-bold mb-base">Órgano administrativo responsable del servicio</h2>
  <p class="c-paragraph-base">Todavía no hay un órgano añadido, por favor añade un órgano administrativo responsable del servicio.</p>
  <div class="mb-2xl">
    {% include "includes/_anadir-organo-disabled.njk" %}
  </div>


  <h2 id="organo-adminitrativo" class="font-bold mb-base">Órgano administrativo responsable del servicio</h2>
  <div class="mb-2xl">
    {% call componentItem({
      "title": {
        "text": "Órgano 1"
      },
      "classes": "p-sm mb-sm"
    })  %}
        <div class="flex flex-wrap gap-sm">
        <button class=" c-button c-button--disabled c-button--sm c-button--transparent">Eliminar<span class="sr-only"> Órgano</span></button>
          <button class=" c-button c-button--disabled c-button--sm c-button--transparent">Editar<span class="sr-only"> Órgano</span></button>
        </div>
    {% endcall %}
  </div>

  <div class="grid grid-cols-4 gap-x-2xl mb-xl">
    <div class="col-span-4 lg:col-span-2 mb-xl lg:mb-0">
      <fieldset>
        <legend class="font-bold mb-sm">
          Tipo de servicio
        </legend>
      {{ componentRadios({
        "idPrefix": "procedimiento",
        "name": "procedimiento",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Con o sin Procedimiento",
            "classes": "sr-only"
          }
        },
        "items": [
          {
            "value": "si-procedmiento",
            "text": "Procedimiento",
            "checked": true,
            "disabled": true
          },
          {
            "value": "no-procedimiento",
            "text": "Servicio sin tramitación de procedimiento",
            "disabled": true
          }
        ]
      })  }}
      <hr class="border-neutral-base">
      {{ componentRadios({
        "idPrefix": "interno-externo",
        "name": "interno-externo",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Interno/Externo",
            "classes": "sr-only"
          }
        },
        "items": [
          {
            "value": "interno",
            "text": "Interno",
            "disabled": true
          },
          {
            "value": "externo",
            "text": "Externo",
            "checked": true,
            "disabled": true
          }
        ]
      })  }}
      <hr class="border-neutral-base">
      {{ componentRadios({
        "idPrefix": "comun-especifico",
        "name": "comun-especifico",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Común-Específico",
            "classes": "sr-only"
          }
        },
        "items": [
          {
            "value": "comun",
            "text": "Común",
            "checked": true,
            "disabled": true
          },
          {
            "value": "especifico",
            "text": "Específico",
            "disabled": true
          }
        ]
      })  }}
      </fieldset>
    </div>
    <div class="col-span-4 lg:col-span-2">
      {{ componentCheckboxes({
        "idPrefix": "inicio-servicio",
        "name": "inicio-servicio",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Formas de iniciar el servicio",
            "classes": "font-bold mb-sm"
          }
        },
        "items": [
          {
            "value": "oficio",
            "text": "Inicio de oficio",
            "checked": true,
            "disabled": true
          },
          {
            "value": "interesado",
            "text": "Inicio a instancia del interesado",
            "checked": true,
            "disabled": true
          }
        ]
      })  }}
      <hr class="border-neutral-base my-xl">
      {{ componentCheckboxes({
        "idPrefix": "convocatorias-servicio",
        "name": "convocatorias-servicio",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Convocatorias",
            "classes": "font-bold mb-sm"
          }
        },
        "items": [
          {
            "value": "convocatorias",
            "text": "Este servicio requiere convocatorias",
            "checked": true,
            "disabled": true
          }
        ]
      })  }}
    </div>
  </div>
  <hr class="border-neutral-base my-xl">
  <h2 class="font-bold mb-base">URL del servicio en SEDE</h2>
  {{ detalles.urlSede | safe }}
  {{ tabsCambios('url-de-sede', 'URL del servicio en SEDE',  detalles.urlSede | safe , detalles.urlSedeCambios | safe , 'Cambios realizados hace 2 horas') }}
  <hr class="border-neutral-base my-xl">
  <h2 class="font-bold mb-base">URL de sus procesos y convocatorias</h2>
  {{ detalles.urlProcesosYConvocatorias | safe }}
  {{ tabsCambios('url-de-sus-procesos-y-convocatorias', 'URL de sus procesos y convocatorias',  detalles.urlProcesosYConvocatorias | safe , detalles.urlProcesosYConvocatoriasCambios | safe , 'Cambios realizados hace 2 horas') }}


{% endblock %}