{% set title = "Histórico. Servicio: 1452 - Premios de Orientación Profesional. Catálogo de servicios. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-subheader-fixed-headroom.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/detail-header/_macro.detail-header.njk" import componentDetailHeader %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item-list-service-history/_macro.item-list-service-history.njk" import componentItemListServiceHistory %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}

{% set itemId = "1452" %}
{% set itemText = "Premios de Orientación Profesional" %}
{% import "includes/_actions-examples-item-list-services.njk" as actions with context %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark">
    <div class="container mx-auto mt-lg -mb-px px-base">
      {% call componentDetailHeader({
        "breadcrumbs": {
          "items": [
            {
              "text": "Servicios del departamento",
              "href": "/"
            },
            {
              "text": itemId + " - " + itemText
            }
          ]
        },
        "idNumber": itemId,
        "text": itemText,
        "icon": {
          "type": "servicio"
        },
        "status": {
          "type": "publicado"
        },
        "menuHorizontal": {
          "classes": "c-menu-horizontal--tabs text-sm w-full",
          "items": [
            {
              "href": "#",
              "text": "Resumen"
            },
            {
              "href": "#",
              "text": "Datos"
            },
            {
              "href": "#",
              "text": "Convocatorias"
            },
            {
              "href": "#",
              "text": "Procesos específicos"
            },
            {
              "href": "#",
              "text": "Ajustes"
            },
            {
              "href": "#",
              "text": "Histórico",
              "active": true
            },
            {
              "href": "#",
              "text": "Notas"
            }
          ],
          "attributes": {
            "aria-labelledby": itemId
          }
        }
      })  %}
        {{ actions.actionsPublicado | safe }}
      {% endcall %}
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <div class="lg:flex items-start justify-between">
    <h1 class="c-h1 mb-base">Histórico</h1>
    {% include "includes/_filtros-y-ordenacion-historico.njk"%}
  </div>
  <ul>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "default",
          "text": "Borrador creado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "rechazado",
          "text": "Borrador descartado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {% call componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "rechazado",
          "text": "Borrador descartado"
        },
        "date": "Miércoles, 6 Diciembre 2018",
        "user": {
          "name": "Ana Pérez",
          "email": "ana.perez@gobierno.es"
        }
      })  %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dignissim est. Vestibulum in leo nisi. Morbi eget bibendum nisl. Cras egestas eu eros hendrerit mollis. In elementum ante nec quam bibendum, molestie elementum nisl vehicula. Mauris ornare odio sed nulla vestibulum viverra. Mauris in dui ut odio fringilla placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
          <p>Saludos</p>
      {% endcall %}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Servicio",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Borrador aprobado"
        },
        "date": "Miércoles, 6 Diciembre 2018"
      })  }}
    </li>
  </ul>
  <div class="mt-base">
    {{ componentPagination({
      "id": "pagination",
      "hasSelect": true,
      "idPrefix": "pagination-items",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente"
    })  }}
  </div>



{% endblock %}