{% set title = "Editando servicio: 1452 - Premios de Orientación Profesional. Catálogo de servicios. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed-with-sticky-sidebar.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/tree/_macro.tree.njk" import componentTree %}

{% import "includes/_editar-varios.njk" as editar with context %}


{% block headerTitleEditBlock %}
  <div class="flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mt-xs mr-base"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M133.683 36.167L74.13 5.378a9 9 0 00-8.26 0L6.317 36.167a3.593 3.593 0 000 6.381L65.87 73.354a9 9 0 008.26 0l59.553-30.77a3.593 3.593 0 000-6.382z" stroke-width="8.749995"/><path d="M29.75 54.688L6.318 66.808a3.593 3.593 0 000 6.382l59.552 30.806a9 9 0 008.26 0l59.553-30.806a3.593 3.593 0 000-6.382L110.25 54.687" stroke-width="8.749995"/><path d="M29.75 85.313L6.318 97.416a3.593 3.593 0 000 6.381l59.552 30.806a9 9 0 008.26 0l59.553-30.77a3.593 3.593 0 000-6.382l-23.433-12.14" stroke-width="8.749995"/></g></svg>
    <div class="flex-1">
      <h1 class="text-lg uppercase font-semibold leading-tight ">
        Editando servicio
        <span class="block font-bold normal-case text-lg mb-xs">1452 - Premios de Orientación Profesional</span>
      </h1>
    </div>
  </div>
{% endblock %}


{% block sidebarBlock %}
  <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2>
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "#datos-generales",
        "text": "Datos generales",
        "sub": {
          "items": [
            {
              "href": "#denominacion",
              "text": "Denominación"
            },
            {
              "href": "#descripcion",
              "text": "Descripción"
            },
            {
              "href": "#organos-o-unidades-gestoras",
              "text": "Órganos o unidades gestoras"
            },
            {
              "href": "#categorias",
              "text": "Categorías"
            },
            {
              "href": "#etiquetas-libres",
              "text": "Etiquetas libres"
            }
          ]
        }
      },
      {
        "text": "Normativa general",
        "href": "#normativa-general"
      },
      {
        "href": "#caracteristicas-generales-de-tramitacion",
        "text": "Características generales de tramitación",
        "sub": {
          "items": [
            {
              "href": "#grupos-de-destinatarios",
              "text": "Grupos de destinatarios"
            },
            {
              "href": "#destinatarios",
              "text": "Destinatarios"
            },
            {
              "href": "#requisitos-generales",
              "text": "Requisitos generales"
            },
            {
              "href": "#canales-de-informacion",
              "text": "Canales de información"
            },
            {
              "href": "#tramites-principales",
              "text": "Trámites principales"
            },
            {
              "href": "#resolucion",
              "text": "Resolución"
            }
          ]
        }
      }
    ],
    "attributes": {
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endblock %}

{% block innerContentBlock %}
  <h2 id="datos-generales" class="c-h1 c-anchor-scroll-edit">Datos generales</h2>
  <h3 id="denominacion" class="c-anchor-scroll-edit c-h3">Denominación del servicio <span class="font-normal text-sm text-neutral-dark">(Obligatorio)</span></h3>
  <p class="c-paragraph-base">
    Nombre del servicio o procedimiento que se mostrará en aragon.es y que verá las personas o entidades interesadas.
    <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de denominación de servicio</span></a>
  </p>
  {{ componentCharacterCount({
    "id": "denominacion",
    "name": "denominacion",
    "rows": 2,
    "classes": "w-full",
    "label": {
      "text": "Denominación del servicio",
      "classes": "sr-only"
    },
    "maxlength": 200,
    "countMessage": {
      "classes": "text-right mb-2xl"
    }
  })  }}
  <h3 id="descripcion" class="c-anchor-scroll-edit c-h3">Descripción del servicio <span class="font-normal text-sm text-neutral-dark">(Obligatorio para publicar)</span></h3>
  <p class="c-paragraph-base">
    Incluye aquí una breve descripción del servicio o procedimiento.
    <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de descripción de servicio</span></a>
  </p>
  {{ componentCharacterCount({
    "id": "descripcion",
    "name": "descripcion",
    "rows": 10,
    "classes": "w-full",
    "label": {
      "text": "Descripción del servicio",
      "classes": "sr-only"
    },
    "maxlength": 500,
    "countMessage": {
      "classes": "text-right mb-2xl"
    }
  })  }}
  <h3 id="organos-o-unidades-gestoras" class="c-anchor-scroll-edit c-h3">Órganos o unidades administrativas gestoras del servicio <span class="font-normal text-sm text-neutral-dark">(Obligatorio para publicar)</span></h3>
  <p class="c-paragraph-base">Indica las unidades tramitadoras de las que depende el servicio o procedimiento.</p>
  <ul class="flex flex-wrap gap-sm mb-base">
    <li>
      {{ componentPill({
        "type": "button",
        "html": 'Organismo nombre <svg viewBox="0 0 140 140" class=" self-center ml-2" aria-hidden="true" width=".75em" height=".75em"><path fill="currentColor" d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z"/></svg>',
        "classes": "cursor-pointer",
        "attributes": {
          "aria-label": "Eliminar la etiqueta libre: Organismo nombre"
        }
      })  }}
    </li>
    <li>
      {{ componentPill({
        "type": "button",
        "html": 'Organismo nombre <svg viewBox="0 0 140 140" class=" self-center ml-2" aria-hidden="true" width=".75em" height=".75em"><path fill="currentColor" d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z"/></svg>',
        "classes": "cursor-pointer",
        "attributes": {
          "aria-label": "Eliminar la etiqueta libre: Organismo nombre"
        }
      })  }}
    </li>
  </ul>
  <p class="mb-2xl">
    {% include "includes/_anadir-unidad.njk" %}
  </p>
  <h3 id="categorias" class="c-anchor-scroll-edit c-h3">Categorización del servicio <span class="font-normal text-sm text-neutral-dark">(Obligatorio para publicar)</span></h3>
  <p class="c-paragraph-base">
    Estas categorías ayudarán a las personas o entidades interesadas a encontrar el servicio o procedimiento. Además, facilitará la relación entre los diversos servicios o procedimientos.
    <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de categorización del servicio</span></a>
  </p>

  <fieldset class="mt-base mb-2xl">
    <legend class="sr-only mb-sm font-bold">
      Categorización del servicio
    </legend>
    <div class="border border-neutral-base p-sm rounded">
      <div class="max-h-64 overflow-y-auto">
        {% include "includes/_arbol-categorias.njk" %}
      </div>
    </div>
  </fieldset>
  <h3 id="etiquetas-libres" class="c-anchor-scroll-edit c-h3">Etiquetas libres</h3>
  <p class="c-paragraph-base">
    Puedes añadir etiquetas adicionales que estén relacionadas con el servicio o procedimiento para ayudar a localizarlo y clasificarlo.
    <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de etiquetas libres</span></a>
  </p>
  <ul class="flex flex-wrap gap-sm mb-base">
    <li>
      {{ componentPill({
        "type": "button",
        "html": 'Subvenciones <svg viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" width=".75em" height=".75em"><path fill="currentColor" d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z"/></svg>',
        "classes": "cursor-pointer",
        "attributes": {
          "aria-label": "Eliminar la etiqueta libre: Subvenciones"
        }
      })  }}
    </li>
    <li>
      {{ componentPill({
        "type": "button",
        "html": '2018 <svg viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" width=".75em" height=".75em"><path fill="currentColor" d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z"/></svg>',
        "classes": "cursor-pointer",
        "attributes": {
          "aria-label": "Eliminar la etiqueta libre: 2018"
        }
      })  }}
    </li>
    <li>
      {{ componentPill({
        "type": "button",
        "html": 'Teruel <svg viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" width=".75em" height=".75em"><path fill="currentColor" d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z"/></svg>',
        "classes": "cursor-pointer",
        "attributes": {
          "aria-label": "Eliminar la etiqueta libre: Teruel"
        }
      })  }}
    </li>
  </ul>
  <p class="mb-2xl">
    {{ componentButton({
      "text": "Añadir etiqueta",
      "href": "#"
    })  }}
  </p>
  {{ editar.aniadirEtiqueta | safe }}
  <hr class="border-neutral-base my-2xl">
  <h2 id="normativa-general" class="c-h1 c-anchor-scroll-edit">Normativa general del servicio <span class="font-normal text-sm text-neutral-dark">(Obligatorio para publicar)</span></h2>
  <p class="c-paragraph-base">
    Añade la normativa general que regula este servicio o procedimiento. la normativa propia de cada convocatoria o proceso específico (por ejemplo, altas y bajas de un Registro) es mejor que las incorpores dentro del apartado de normativa específica.
    <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de normativa general de servicio</span></a>
  </p>
  <ul class="mb-base">
    <li>
      {% call componentItem({
        "title": {
          "html": '<a href="#" class="c-link">Orden IIU/910/2016, de 8 de agosto, por la que se convocan subvenciones para 2016, para la implantación y difusión de las tecnologías de la información y las comunicaciones (TIC) y de la sociedad de la información</a>'
        },
        "classes": "p-sm mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "1" %}
            {% set dropdownTitle = "Orden IIU/910/2016, de 8 de agosto, por la que se convocan subvenciones para 2016, para la implantación y difusión de las tecnologías de la información y las comunicaciones (TIC) y de la sociedad de la información" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
  </ul>
  <ul class="flex flex-wrap gap-sm mb-2xl">
      <li>
        {{ componentButton({
          "text": "Añadir normativa",
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Importar&nbsp;<span class="sr-only">normativa</span> desde otro servicio',
          "classes": "c-button--transparent"
        })  }}
      </li>
  </ul>
  {{ editar.aniadirNormativa | safe }}
  <hr class="border-neutral-base my-2xl">
  <h2 id="caracteristicas-generales-de-tramitacion" class="c-h1 c-anchor-scroll-edit">Características generales de tramitación</h2>
  {{ componentCheckboxes({
    "name": "grupos-de-destinatarios",
    "fieldset": {
      "legend": {
        "text": "Grupos de destinatarios",
        "classes": "c-anchor-scroll-edit c-h3",
        "isPageHeading": true
      },
      "headingLevel": 3,
      "classes": "mb-2xl"
    },
    "hint": {
      "text": "Añade una a una las personas o entidades interesadas que pueden solicitar este servicio o procedimiento."
    },
    "items": [
      {
        "value": "ciudadania",
        "text": "Ciudadanía"
      },
      {
        "value": "empresas",
        "text": "Empresas u organizaciones"
      },
      {
        "value": "administracion",
        "text": "Administración"
      }
    ]
  })  }}
  <h3 id="destinatarios" class="c-anchor-scroll-edit c-h3">Destinatarios <span class="font-normal text-sm text-neutral-dark">(Obligatorio para publicar)</span></h3>
  <p class="c-paragraph-base">
    Añade una a una las personas interesadas que pueden solicitar este servicio o procedimiento. Puedes arrastrar los elementos para ordenarlos y anidarlos.
    <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de destinatarios</span></a>
  </p>
  <ul class="mb-base">
    <li>
      {% call componentItem({
        "title": {
          "text": "Ciudadanos"
        },
        "classes": "p-sm mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "2" %}
            {% set dropdownTitle = "Ciudadanos" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Ciudadanos mayores de 18 años cursando estudios"
        },
        "classes": "p-sm mb-sm ml-lg",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "3" %}
            {% set dropdownTitle = "Ciudadanos mayores de 18 años cursando estudios" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Todos los demás también"
        },
        "classes": "p-sm mb-sm ml-lg",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "4" %}
            {% set dropdownTitle = "Todos los demás también" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
  </ul>
  <ul class="mb-2xl flex flex-wrap gap-sm">
      <li>
        {{ componentButton({
          "text": "Añadir destinatario",
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Importar&nbsp;<span class="sr-only">destinatario</span> desde otro servicio',
          "classes": "c-button--transparent",
          "disabled": true
        })  }}
      </li>
  </ul>
  {{ editar.aniadirDestinatario | safe }}
  <h3 id="requisitos-generales" class="c-anchor-scroll-edit c-h3">Requisitos generales</h3>
  <p class="c-paragraph-base">
    Añade una a una las condiciones que tienen que cumplirse para poder solicitar el servicio o procedimiento. Redacta esta información de la manera más clara posible.
    <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de requisitos generales</span></a>
  </p>
  <ul class="mb-base">
    <li>
      {% call componentItem({
        "title": {
          "text": "Las entidades beneficiarias deberán tener su sede y actividad principal en Aragón"
        },
        "classes": "p-sm mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "5" %}
            {% set dropdownTitle = "Las entidades beneficiarias deberán tener su sede y actividad principal en Aragón" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Los gastos deberán ser realizados en el ejercicio 2016"
        },
        "classes": "p-sm mb-sm ml-lg",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "6" %}
            {% set dropdownTitle = "Los gastos deberán ser realizados en el ejercicio 2016" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
  </ul>
  <ul class="flex flex-wrap gap-sm mb-2xl">
    <li>
      {{ componentButton({
        "text": "Añadir requisito",
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "html": 'Importar&nbsp;<span class="sr-only">requisito</span> desde otro servicio',
        "classes": "c-button--transparent",
        "disabled": true
      })  }}
    </li>
  </ul>
  {{ editar.aniadirRequisito | safe }}
  <h3 id="canales-de-informacion" class="c-anchor-scroll-edit c-h3">Canales de información adicional</h3>
  <p class="c-paragraph-base">
    Describe los canales por los cuales las personas o entidades interesadas pueden obtener inoformación adicional sobre el servicio o procedimiento.
    <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de canales de información adicional</span></a>
  </p>
  <ul class="mb-base">
    <li>
      {% call componentItem({
        "title": {
          "html": 'Teléfono <span class="font-normal text-sm text-neutral-dark">(Recomendado)</span>',
          "classes": "font-bold"
        },
        "description": {
          "text": "999 999 999"
        },
        "classes": "p-sm mb-sm",
        "isLocked": true
      })  %}
          <div class="flex">
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> Teléfono</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "html": 'Correo electrónico <span class="font-normal text-sm text-neutral-dark">(Recomendado)</span>',
          "classes": "font-bold"
        },
        "description": {
          "html": '<span class="italic">Sin definir</span>'
        },
        "classes": "p-sm mb-sm",
        "isLocked": true
      })  %}
          <div class="flex">
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> Correo electrónico</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Cita previa",
          "classes": "font-bold"
        },
        "description": {
          "text": "Llamando al 973 432 221 o por la página web www.paginaweb.com"
        },
        "classes": "p-sm mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "7" %}
            {% set dropdownTitle = "Cita previa" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Otros canales",
          "classes": "font-bold"
        },
        "description": {
          "text": "Puedes ponerte en contacto con nosotros a través de nuestro Telegram 634 334 342"
        },
        "classes": "p-sm mb-sm",
        "isDraggable": true
      })  %}
           <div class="flex">
            {% set dropdownId = "8" %}
            {% set dropdownTitle = "Otros canales" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
  </ul>
  <ul class="flex flex-wrap gap-sm mb-2xl">
      <li>
        {{ componentButton({
          "html": 'Añadir nuevo canal&nbsp;<span class="sr-only">de información</span>',
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": 'Importar&nbsp;<span class="sr-only">nuevo canal de información</span> desde otro servicio',
          "classes": "c-button--transparent"
        })  }}
      </li>
  </ul>
  {{ editar.aniadirNuevoCanal | safe }}
  {{ componentCheckboxes({
    "name": "tramites-principales",
    "fieldset": {
      "legend": {
        "text": "Trámites del servicio",
        "classes": "c-anchor-scroll-edit c-h3",
        "isPageHeading": true
      },
      "headingLevel": 3,
      "attributes": {
        "id": "tramites-principales"
      }
    },
    "hint": {
      "classes": "text-black mb-base",
      "html": 'Selecciona cuáles de los trámites formarán parte de tu servicio o procedimiento. <a href="#" class="c-link">Más información de los trámites</a>'
    },
    "classes": "mb-xl",
    "items": [
      {
        "name": "subsanacion",
        "id": "subsanacion",
        "value": "subsanacion",
        "text": "Subsanación",
        "checked": true,
        "hint": {
          "text": "En la tramitación del procedimiento o la gestión del servicio se prevé la posibilidad de abrir un período de subsanación."
        }
      },
      {
        "name": "participacion",
        "id": "participacion",
        "value": "participacion",
        "text": "Procesos de participación y/o audiencia a las partes interesadas",
        "hint": {
          "text": "La tramitación del procedimiento o la gestión del servicio va a contar con un trámite de información pública o de audiencia a las personas interesadas, de acuerdo con lo previsto en su normativa reguladora."
        }
      },
      {
        "name": "practica",
        "id": "practica",
        "value": "practica",
        "text": "Práctica de prueba",
        "hint": {
          "text": "En la norma reguladora del procedimiento o servicio se prevé la posiblidad de abrir un período de prueba."
        }
      },
      {
        "name": "informes",
        "id": "informes",
        "value": "informes",
        "text": "Informes preceptivos",
        "hint": {
          "text": "Es necesario pedir informes preceptivos a otros órganos administrativos con carácter previoa la terminación del procedimiento o la prestación del servicio."
        }
      },
      {
        "name": "resolucion",
        "id": "tramite-resolucion",
        "value": "resolucion",
        "text": "Resolución",
        "hint": {
          "text": "El procedimiento termina mediante resolución."
        }
      },
      {
        "name": "revision",
        "id": "revision",
        "value": "revision",
        "text": "Revisiones y recursos",
        "hint": {
          "text": "La resolución que finaliza el procedimiento es susceptible de recursos, reclamaciones o revisiones e vía administrativa."
        }
      },
      {
        "name": "opcion",
        "id": "opcion",
        "value": "opcion",
        "text": "Opción",
        "hint": {
          "text": "Con la finalización del procedimiento nace una obligación de abono o de pago respecto a la persona interesada."
        }
      }
    ]
  })  }}
  <h3 id="resolucion" class="c-anchor-scroll-edit c-h3">Resolución</h3>
  <p class="c-paragraph-base">Indica las características que tendrá este servicio o procedimiento en su fase de resolución.</p>
  {{ editar.silencioAdministrativo | safe }}
  {{ editar.efectosDeLaResolucion | safe }}


{% endblock %}