{% set title = "Histórico. Proceso específico: 21342 - Aportación de documentación justificativa. " %}
{% extends "pages/_template.logged-selector-subheader-fixed-headroom.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/detail-header/_macro.detail-header.njk" import componentDetailHeader %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item-list-service-history/_macro.item-list-service-history.njk" import componentItemListServiceHistory %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}

{% set itemId = "21342" %}
{% set itemText = "Aportación de documentación justificativa" %}
{% import "includes/_actions-examples-item-list-services.njk" as actions with context %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark">
    <div class="container mx-auto mt-lg -mb-px px-base">
      {% call componentDetailHeader({
        "idNumber": itemId,
        "breadcrumbs": {
          "items": [
            {
              "text": "Servicios del departamento",
              "href": "/"
            },
            {
              "text": "1452 - Premios de Orientación Profesional",
              "href": "/"
            },
            {
              "text": itemId + " - " + itemText
            }
          ]
        },
        "text": itemText,
        "icon": {
          "type": "proceso"
        },
        "status": {
          "type": "para-publicar"
        },
        "menuHorizontal": {
          "classes": "c-menu-horizontal--tabs text-sm w-full",
          "items": [
            {
              "href": "#",
              "text": "Datos, documentos y presentación"
            },
            {
              "href": "#",
              "text": "Histórico",
              "active": true
            }
          ],
          "attributes": {
            "aria-labelledby": itemId
          }
        }
      })  %}
        {% call componentDropdown({
          "html": 'Más <span class="sr-only">acciones</span>',
          "classes": "c-dropdown--secondary c-dropdown--sm mr-sm"
        })  %}
            {{ componentNav({
              "hasNav": true,
              "idPrefix": "mas-acciones-proceso",
              "attributes": {
                "id": "mas-acciones",
                "aria-label": "Más acciones del proceso"
              },
              "items": [
                {
                  "href": "#",
                  "text": "Cancelar envío a publicar"
                },
                {
                  "href": "#",
                  "text": "Duplicar"
                }
              ],
              "classes": "w-max max-w-64"
            })  }}
        {% endcall %}
        {{ componentButton({
          "text": "Rechazar",
          "classes": "c-button--sm mr-sm"
        })  }}
        {{ componentButton({
          "text": "Previsualizar",
          "classes": "c-button--sm mr-sm"
        })  }}
                {{ componentButton({
          "text": "Validar y publicar",
          "classes": "c-button--primary c-button--sm"
        })  }}
      {% endcall %}
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <div class="lg:flex items-start justify-between">
    <h1 class="c-h1 mb-base">Histórico <span class="sr-only">de: {{ itemId }} - {{ itemText }}</span></h1>
    {% include "includes/_filtros-y-ordenacion-historico.njk"%}
  </div>
  <ul>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Borrador creado"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Cambios publicados"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Cambios enviados a publicar"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Cambios realizados"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Ana Peralta",
        "status": {
          "type": "aprobado",
          "text": "Publicado"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Borrador enviado a publicar"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {% call componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Ana Peralta",
        "status": {
          "type": "rechazado",
          "text": "Borrador rechazado"
        },
        "date": "20 feb 2020, 09:40",
        "user": {
          "name": "Ana Pérez",
          "email": "ana.perez@gobierno.es"
        }
      })  %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dignissim est. Vestibulum in leo nisi. Morbi eget bibendum nisl. Cras egestas eu eros hendrerit mollis. In elementum ante nec quam bibendum, molestie elementum nisl vehicula. Mauris ornare odio sed nulla vestibulum viverra. Mauris in dui ut odio fringilla placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
          <p>Saludos</p>
      {% endcall %}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Borrador enviado a publicar"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
    <li>
      {{ componentItemListServiceHistory({
        "itemType": "Proceso específico",
        "author": "Juan Ruiz",
        "status": {
          "type": "default",
          "text": "Borrador creado"
        },
        "date": "20 feb 2020, 09:40"
      })  }}
    </li>
  </ul>
  <div class="mt-base">
    {{ componentPagination({
      "id": "pagination",
      "hasSelect": true,
      "idPrefix": "pagination-items",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente"
    })  }}
  </div>



{% endblock %}