{% set title = "Datos, documentos y presentación. Proceso específico: 21342 - Aportación de documentación justificativa. " %}
{% extends "pages/_template.logged-selector-subheader-fixed-headroom.njk" %}

{% from "components/alert/_macro.alert.njk" import componentAlert %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/detail-header/_macro.detail-header.njk" import componentDetailHeader %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item-list-service-history/_macro.item-list-service-history.njk" import componentItemListServiceHistory %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/media-object/_macro.media-object.njk" import componentMediaObject %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}
{% from "includes/_macro.tabs-cambios.njk" import tabsCambios %}

{% set itemId = "21342" %}
{% set itemText = "Aportación de documentación justificativa" %}
{% import "includes/_actions-examples-item-list-services.njk" as actions with context %}
{% import "includes/_detalles-items-varios.njk" as detalles with context %}

{% macro figureEdit(editText) %}
  <div class="lg:opacity-0 group-hover:opacity-100 focus-within:opacity-100">
    {{ componentButton({
      "html": 'Editar <span class="sr-only">' + editText + '</span>'
    })  }}
  </div>
{% endmacro %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark">
    <div class="container mx-auto mt-lg -mb-px px-base">
      {% call componentDetailHeader({
        "idNumber": itemId,
        "breadcrumbs": {
          "items": [
            {
              "text": "Servicios del departamento",
              "href": "/"
            },
            {
              "text": "1452 - Premios de Orientación Profesional",
              "href": "/"
            },
            {
              "text": itemId + " - " + itemText
            }
          ]
        },
        "text": itemText,
        "icon": {
          "type": "proceso"
        },
        "status": {
          "type": "en-borrador"
        },
        "menuHorizontal": {
          "classes": "c-menu-horizontal--tabs text-sm w-full",
          "items": [
            {
              "href": "#",
              "text": "Datos, documentos y presentación",
              "active": true
            },
            {
              "href": "#",
              "text": "Histórico"
            }
          ],
          "attributes": {
            "aria-labelledby": itemId
          }
        }
      })  %}
        <div class="grid gap-sm">

        </div>
        <div class="flex flex-wrap gap-sm">
          {% call componentDropdown({
            "html": 'Más <span class="sr-only">acciones</span>',
            "classes": "c-dropdown--secondary c-dropdown--sm"
          })  %}
              {{ componentNav({
                "hasNav": true,
                "idPrefix": "mas-acciones-proceso",
                "attributes": {
                  "id": "mas-acciones",
                  "aria-label": "Más acciones del proceso"
                },
                "items": [
                  {
                    "href": "#",
                    "text": "Cancelar envío a publicar"
                  },
                  {
                    "href": "#",
                    "text": "Duplicar"
                  }
                ],
                "classes": "w-max max-w-64"
              })  }}
          {% endcall %}
          {{ componentButton({
            "text": "Rechazar",
            "classes": "c-button--sm"
          })  }}
          {{ componentButton({
            "text": "Previsualizar",
            "classes": "c-button--sm"
          })  }}
          {{ componentButton({
            "text": "Validar y publicar",
            "classes": "c-button--primary c-button--sm"
          })  }}
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="grid grid-cols-4 gap-x-lg">
    <div class="sticky top-0 hidden lg:block lg:col-span-1 h-screen lg:pt-xl overflow-y-auto">
      <h3 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h3>
      {{ componentMenuVertical({
        "idPrefix": "sidebar-item",
        "items": [
          {
            "href": "#datos-especificos",
            "text": "Datos específicos",
            "sub": {
              "items": [
                {
                  "href": "#denominacion",
                  "text": "Denominación"
                },
                {
                  "href": "#descripcion",
                  "text": "Descripción"
                }
              ]
            }
          },
          {
            "text": "Normativa específica",
            "href": "#normativa-especifica"
          },
          {
            "href": "#caracteristicas-especificas",
            "text": "Características específicas",
            "sub": {
              "items": [
                {
                  "href": "#destinatarios-especificos",
                  "text": "Destinatarios específicos"
                },
                {
                  "href": "#requisitos-especificos",
                  "text": "Requisitos específicos"
                },
                {
                  "href": "#canales-de-informacion",
                  "text": "Canales de información"
                },
                {
                  "href": "#pago-de-tasas",
                  "text": "Pago de tasas"
                },
                {
                  "href": "#tramites-principales",
                  "text": "Trámites principales"
                },
                {
                  "href": "#finalizacion-y-revision",
                  "text": "Finalización y revisión"
                },
                {
                  "href": "#informacion-adicional",
                  "text": "Información adicional"
                },
                {
                  "href": "#otras-consideraciones",
                  "text": "Otras consideraciones"
                }
              ]
            }
          },
          {
            "href": "#presentacion-de-la-solicitud",
            "text": "Presentación de la solicitud",
            "sub": {
              "items": [
                {
                  "href": "#organo-de-destino",
                  "text": "Órgano de destino"
                },
                {
                  "href": "#forma-de-presentar-la-solicitud",
                  "text": "Forma de presentar la solicitud"
                },
                {
                  "href": "#plazos-de-presentacion",
                  "text": "Plazos de presentación"
                }
              ]
            }
          },
          {
            "text": "Modelo de solicitud",
            "href": "#modelo-de-solicitud"
          },
          {
            "text": "Documentación a presentar",
            "href": "#documentacion-a-presentar"
          }
        ],
        "attributes": {
          "aria-labelledby": "apartados-de-pagina"
        }
      })  }}
    </div>

    <section class="col-span-4 lg:col-span-3 py-xl lg:pl-lg">

      <h1 id="datos-del-proceso-especifico" class="c-anchor-scroll c-h1">Datos del proceso específico <span class="sr-only">{{ itemId }} - {{ itemText }}</span></h1>
      <p class="c-paragraph-base">Esta es la información general sobre el proceso que cualquier persona interesada en él verá en aragon.es</p>
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor" /></svg>
        <a href="#" class="c-link">Saber más sobre datos del servicio y lenguaje claro</a>
      </p>
      <ul class="flex flex-wrap gap-base mb-base">
        <li>
          {{ componentButton({
            "text": "Editar datos",
            "classes": "c-button--primary"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Editar plazo",
            "classes": "c-button--transparent"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Editar normativa",
            "classes": "c-button--transparent"
          })  }}
        </li>
      </ul>


      <div class="lg:flex lg:flex-wrap lg:items-center lg:justify-between w-full mb-lg p-sm bg-warning-light">
          <p class="mb-base lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-middle w-4 h-4 mx-sm -mt-1" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg> Últimos cambios realizados hace 2 horas</p>
        <ul class="flex flex-wrap">
          <li>
            {{ componentButton({
              "text": "Descartar cambios",
              "classes": "c-button--transparent mr-sm"
            })  }}
          </li>
          <li>
            {{ componentButton({
              "text": "Editar cambios"
            })  }}
          </li>
        </ul>
      </div>
      <div class="w-full mb-lg p-base bg-neutral-light">
          <p class="mb-base lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block w-base h-base mr-sm -mt-1 text-neutral-dark" aria-label="Bloqueado" focusable="false" role="img"><path d="M115 55.86V45a45 45 0 00-90 0v10.86A15 15 0 0015 70v55a15 15 0 0015 15h80a15 15 0 0015-15V70a15 15 0 00-10-14.14zM70 110a12.5 12.5 0 1112.5-12.5A12.5 12.5 0 0170 110zm25-55H45V45a25 25 0 0150 0z" fill="currentColor"/></svg> No es posible editar mientras el servicio o proceso está pendiente de publicación</p>
      </div>

      <hr class="border-neutral-base my-2xl">

      <h2 id="datos-especificos" class="c-anchor-scroll c-h2 mb-lg">Datos específicos</h2>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Denominación') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="denominacion" class="c-anchor-scroll c-h3">Denominación</h3>
          <div class="prose-sm lg:prose max-w-none lg:max-w-none mx-auto">
            <p>
              Proceso específico
            </p>
          </div>
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Descripción') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="descripcion" class="c-anchor-scroll c-h3">Descripción</h3>
          <div class="prose-sm lg:prose max-w-none lg:max-w-none mx-auto">
            <p>
              Podrán ser objeto de subvención las obras de rehabilitación de viviendas (pisos), situadas en edificios de viviendas de tipología residencial colectiva (de dos o más viviendas on elementos comunes) ubicados en el ámbito territorial de la Comunidad Autónoma de Aragón.
            </p>
          </div>
        {% endcall %}
      </div>
      <hr class="border-neutral-base my-2xl">
      <div class="lg:flex lg:flex-wrap justify-between">
        <h2 id="normativa-especifica" class="c-anchor-scroll c-h2 mb-lg">Normativa específica</h2>
        {{ componentToggle({
          "classes": "c-button c-button--sm c-button--transparent no-underline",
          "offState": {
            "classes": "",
            "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M13.33 5.5c-.2-.21-.43-.46-.69-.72a.25.25 0 0 0-.18-.08.26.26 0 0 0-.17.07l-1.07 1.07a.24.24 0 0 0 0 .35c.21.21.41.42.61.64a.25.25 0 0 1 0 .34C10.57 8.53 9.11 9.93 7.16 10a.28.28 0 0 0-.17.07l-1.38 1.38a.25.25 0 0 0-.06.25.24.24 0 0 0 .19.17A6.4 6.4 0 0 0 7 12c3.1 0 5.2-2.28 6.33-3.5l.14-.15a2 2 0 0 0 0-2.7ZM13.78.22a.75.75 0 0 0-1.06 0l-2.47 2.47a.26.26 0 0 1-.29 0A6.51 6.51 0 0 0 7 2C3.9 2 1.8 4.28.67 5.5l-.14.15a2 2 0 0 0 0 2.7l.14.15a18.42 18.42 0 0 0 1.71 1.67.21.21 0 0 1 .09.18.23.23 0 0 1-.07.19L.22 12.72a.75.75 0 0 0 0 1.06.75.75 0 0 0 1.06 0l12.5-12.5a.75.75 0 0 0 0-1.06Zm-11.61 7a.25.25 0 0 1 0-.34C3.49 5.41 5 4 7 4a4.18 4.18 0 0 1 1.24.18.26.26 0 0 1 .17.18.27.27 0 0 1-.07.24L4.18 8.76a.26.26 0 0 1-.33 0 16 16 0 0 1-1.68-1.59Z\" fill=\"currentColor\" transform=\"scale(3.42857)\"/></svg><span aria-hidden=\"true\">Ocultar heredados del servicio</span><span class=\"sr-only\">Mostrar heredados del servicio</span></span>"
          },
          "onState": {
            "classes": "",
            "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><g transform=\"scale(3.42857)\"><circle cx=\"7\" cy=\"7\" r=\"2\" fill=\"currentColor\" /><path d=\"m13.47 5.65-.14-.15C12.2 4.28 10.1 2 7 2S1.8 4.28.67 5.5l-.14.15a2 2 0 0 0 0 2.7l.14.15C1.8 9.72 3.9 12 7 12s5.2-2.28 6.33-3.5l.14-.15a2 2 0 0 0 0-2.7Zm-1.64 1.52C10.53 8.57 9 10 7 10S3.47 8.57 2.17 7.17a.25.25 0 0 1 0-.34C3.49 5.41 5 4 7 4s3.51 1.41 4.83 2.83a.25.25 0 0 1 0 .34Z\" fill=\"currentColor\"/></g></svg>Mostrar heredados del servicio</span>"
          },
          "attributes": {
            "onclick": "toggleInherited()"
          }
        })  }}
        <script>
          function toggleInherited() {
            var element = document.getElementById('normativa-especifica-heredados');
            element.classList.toggle('hidden');
          }
        </script>
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Normativa específica') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <div id="normativa-especifica-heredados" >
            <ol class="c-ul">
              <li>{{ detalles.normativaGeneralEspecificaHeredada | safe }}</li>
              <li>{{ detalles.normativaGeneralEspecificaHeredada | safe }}</li>
              <li>{{ detalles.normativaGeneralEspecificaHeredada | safe }}</li>
            </ol>
          </div>
          <ol class="c-ul">
            <li>{{ detalles.normativaGeneralEspecifica | safe }}</li>
          </ol>
        {% endcall %}
      </div>
      <hr class="border-neutral-base my-2xl">
      <div class="lg:flex lg:flex-wrap justify-between">
        <h2 id="caracteristicas-especificas" class="c-anchor-scroll c-h2 mb-lg">Características específicas de la tramitación</h2>
        {{ componentToggle({
          "classes": "c-button c-button--sm c-button--transparent no-underline",
          "offState": {
            "classes": "",
            "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M13.33 5.5c-.2-.21-.43-.46-.69-.72a.25.25 0 0 0-.18-.08.26.26 0 0 0-.17.07l-1.07 1.07a.24.24 0 0 0 0 .35c.21.21.41.42.61.64a.25.25 0 0 1 0 .34C10.57 8.53 9.11 9.93 7.16 10a.28.28 0 0 0-.17.07l-1.38 1.38a.25.25 0 0 0-.06.25.24.24 0 0 0 .19.17A6.4 6.4 0 0 0 7 12c3.1 0 5.2-2.28 6.33-3.5l.14-.15a2 2 0 0 0 0-2.7ZM13.78.22a.75.75 0 0 0-1.06 0l-2.47 2.47a.26.26 0 0 1-.29 0A6.51 6.51 0 0 0 7 2C3.9 2 1.8 4.28.67 5.5l-.14.15a2 2 0 0 0 0 2.7l.14.15a18.42 18.42 0 0 0 1.71 1.67.21.21 0 0 1 .09.18.23.23 0 0 1-.07.19L.22 12.72a.75.75 0 0 0 0 1.06.75.75 0 0 0 1.06 0l12.5-12.5a.75.75 0 0 0 0-1.06Zm-11.61 7a.25.25 0 0 1 0-.34C3.49 5.41 5 4 7 4a4.18 4.18 0 0 1 1.24.18.26.26 0 0 1 .17.18.27.27 0 0 1-.07.24L4.18 8.76a.26.26 0 0 1-.33 0 16 16 0 0 1-1.68-1.59Z\" fill=\"currentColor\" transform=\"scale(3.42857)\"/></svg><span aria-hidden=\"true\">Ocultar heredados del servicio</span><span class=\"sr-only\">Mostrar heredados del servicio</span></span>"
          },
          "onState": {
            "classes": "",
            "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><g transform=\"scale(3.42857)\"><circle cx=\"7\" cy=\"7\" r=\"2\" fill=\"currentColor\" /><path d=\"m13.47 5.65-.14-.15C12.2 4.28 10.1 2 7 2S1.8 4.28.67 5.5l-.14.15a2 2 0 0 0 0 2.7l.14.15C1.8 9.72 3.9 12 7 12s5.2-2.28 6.33-3.5l.14-.15a2 2 0 0 0 0-2.7Zm-1.64 1.52C10.53 8.57 9 10 7 10S3.47 8.57 2.17 7.17a.25.25 0 0 1 0-.34C3.49 5.41 5 4 7 4s3.51 1.41 4.83 2.83a.25.25 0 0 1 0 .34Z\" fill=\"currentColor\"/></g></svg>Mostrar heredados del servicio</span>"
          },
          "attributes": {
            "onclick": "toggleFeatures()"
          }
        })  }}
        <script>
          function toggleFeatures() {
            var element = document.getElementById('caracteristicas-especificas-heredados');
            element.classList.toggle('hidden');
          }
        </script>
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Destinatarios específicos') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="destinatarios-especificos" class="c-anchor-scroll c-h3">Destinatarios especificos</h3>
          {{ detalles.destinatarios | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Requisitos específicos') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="requisitos-especificos" class="c-anchor-scroll c-h3">Requisitos específicos</h3>
          {{ detalles.requisitos | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Canales de información') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="canales-de-informacion" class="c-anchor-scroll c-h3">Canales de información</h3>
          {{ detalles.canales | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Pago de tasas') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="pago-de-tasas" class="c-anchor-scroll c-h3">Pago de tasas</h3>
          <div class="prose-sm lg:prose max-w-none lg:max-w-none mx-auto">
            <p>
              Esta solicitud requiere el pago de 10 euros en concepto de gestión como indica el modelo de tasas Nº 5, más infomación en <a href="#">www.tasas.com</a>
            </p>
          </div>
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Trámites principales') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="tramites-principales" class="c-anchor-scroll c-h3">Trámites principales</h3>
          {{ detalles.tramitesDelServicio | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Finalización y revisión') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="finalizacion-y-revision" class="c-anchor-scroll c-h3">Finalización y revisión</h3>
          {{ detalles.finalizacionYRevision | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Información adicional') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="informacion-adicional" class="c-anchor-scroll c-h3">Información adicional</h3>
          <p class="c-paragraph-base"><span class="italic">Sin definir</span></p>
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Enlaces y documentos con información adicional') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="enlaces-y-documentos-con-informacion-adicional" class="c-anchor-scroll c-h3">Enlaces y documentos con información adicional</h3>
          {{ detalles.enlacesYDocumentosConInformacionAdicional | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Otras consideraciones') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="otras-consideraciones" class="c-anchor-scroll c-h3">Otras consideraciones</h3>
          <p class="c-paragraph-base"><span class="italic">Sin definir</span></p>
        {% endcall %}
      </div>
      <hr class="border-neutral-base my-2xl">
      <h2 id="presentacion-de-la-solicitud" class="c-anchor-scroll c-h2 mb-lg">Presentación de la solicitud</h2>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Órgano de destino') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="organo-de-destino" class="c-anchor-scroll c-h3">Órgano de destino</h3>
          {{ detalles.organoDeDestino | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Forma de presentar la solicitud') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="forma-de-presentar-la-solicitud" class="c-anchor-scroll c-h3">Forma de presentar la solicitud</h3>
          <div class="prose-sm lg:prose max-w-none lg:max-w-none mx-auto">
            <h4 class="mb-base font-bold">Presencial</h4>
            <p>Para presentar la solicitud de forma presencial siga los siguientes pasos:</p>
            <ol>
              <li>
                Descarga el Formulario de solicitud...
              </li>
              <li>
                Reune los documentos...
              </li>
              <li>
                Dirígete a...
                  <ul>
                    <li>Huesca: aqui...</li>
                    <li>Teruel: aqui...</li>
                    <li>Zaragoza: aqui...</li>
                  </ul>
              </li>
            </ol>
            <h4 class="mb-base font-bold">Electrónica</h4>
            <p>A través de Tramitador Telemático Online (TTO): <br><a href="#">https://preaplicaciones.aragon.es/tramitar/ayudas-solvencia-empresarial-respuesta-pandemia-covid</a></p>
          </div>
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Plazos de presentación') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="plazos-de-presentacion" class="c-anchor-scroll c-h3">Plazos de presentación</h3>
          <p class="c-paragraph-base"><span class="italic">Sin definir</span></p>
        {% endcall %}
      </div>
      <hr class="border-neutral-base my-2xl">
      <h2 id="modelo-de-solicitud" class="c-anchor-scroll c-h2 mb-lg">Modelo de solicitud</h2>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Modelo de solicitud') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          {% call componentItem({
            "title": {
              "text": "Modelo de solicitud de procedimiento",
              "classes": "font-semibold"
            },
            "content": {
              "html": "<a class=\" c-link break-all \" href=\" # \">Modelo de solicitud (PDF, 20Kb)</a> "
            },
            "icon": {
              "type": "document"
            }
          })  %}
          {% endcall %}
          <p class="c-paragraph-base">No es necesario un modelo normalizado de solicitud</p>
        {% endcall %}
      </div>
      <hr class="border-neutral-base my-2xl">
      <h2 id="documentacion-a-presentar" class="c-anchor-scroll c-h2 mb-lg">Documentación a presentar</h2>
      <div class="mb-xl">
        {% set figureTemp %}{{ figureEdit('Documentación a presentar') }}{% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": figureTemp,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 class="c-h3 mb-base">Documentación a aportar por el solicitante</h3>
          {{ detalles.documentacionAPresentar | safe }}
          <h3 class="c-h3 mb-base">Documentación a consultar que obra en poder de la administración</h3>
          {{ detalles.documentacionAPresentarAdministracion | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {{ tabsCambios('documentacion-a-presentar', 'Documentación a presentar', '<h3 class="c-h3 mb-base">Documentación a aportar por el solicitante</h3>' + detalles.documentacionAPresentar | safe + '<h3 class="c-h3 mb-base">Documentación a consultar que obra en poder de la administración</h3>' + detalles.documentacionAPresentarAdministracion | safe, '<h3 class="c-h3 mb-base">Documentación a aportar por el solicitante</h3>' + detalles.documentacionAPresentar | safe + '<h3 class="c-h3 mb-base">Documentación a consultar que obra en poder de la administración</h3>' + detalles.documentacionAPresentarAdministracion | safe, 'Cambios realizados hace 2 horas') }}
      </div>
    </section>
  </div>
{% endblock %}