{% set title = "Procesos específicos. Servicio: 1452 - Premios de Orientación Profesional. Catálogo de servicios. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-subheader-fixed-headroom.njk" %}

{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/detail-header/_macro.detail-header.njk" import componentDetailHeader %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item-list-convocatorias/_macro.item-list-convocatorias.njk" import componentItemListConvocatorias %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/label/_macro.label.njk" import componentLabel %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}


{% set itemId = "1452" %}
{% set itemText = "Premios de Orientación Profesional" %}
{% import "includes/_actions-examples-item-list-services.njk" as actionsServices with context %}
{% import "includes/_actions-examples-item-list-convocatorias.njk" as actionsConvocatorias with context %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark">
    <div class="container mx-auto mt-lg -mb-px px-base">
      {% call componentDetailHeader({
        "breadcrumbs": {
          "items": [
            {
              "text": "Servicios del departamento",
              "href": "/"
            },
            {
              "text": itemId + " - " + itemText
            }
          ]
        },
        "idNumber": itemId,
        "text": itemText,
        "icon": {
          "type": "servicio"
        },
        "status": {
          "type": "publicado"
        },
        "menuHorizontal": {
          "classes": "c-menu-horizontal--tabs text-sm w-full",
          "items": [
            {
              "href": "#",
              "text": "Resumen"
            },
            {
              "href": "#",
              "text": "Datos"
            },
            {
              "href": "#",
              "text": "Convocatorias"
            },
            {
              "href": "#",
              "text": "Procesos específicos",
              "active": true
            },
            {
              "href": "#",
              "text": "Ajustes"
            },
            {
              "href": "#",
              "text": "Histórico"
            },
            {
              "href": "#",
              "text": "Notas"
            }
          ],
          "attributes": {
            "aria-labelledby": itemId
          }
        }
      })  %}
        {{ actionsServices.actionsPublicado | safe }}
      {% endcall %}
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="lg:flex lg:flex-wrap w-full pt-lg">
    <h1 class="c-h1 flex-1 mb-0">Procesos específicos<span class="sr-only">del servicio: 1452 - Gestión de alquileres</span></h1>
    <div class="lg:order-3 w-full mb-lg">
      <div class="lg:w-2/3">
        <p class="c-paragraph-base">Son las acciones o trámites que pueden derivarse del servicio (por ejemplo, altas o bajas de un registro) y también las solicitudes específicas para algún colectivo (por ejemplo, empresas, autónomos, etc...)</p>
        {# Intentar no usar este párrafo superior si se puede usar el tooltip siguiente, que es un forma más conveniente de mostrar info corta en esta zona #}
        {% call componentTooltip({
          "id": "acerca-de-tooltip",
          "icon": {
            "type": "info"
          },
          "text": "Acerca de procesos específicos"
        })  %}
            <p class="c-paragraph-base mb-0">Son las acciones o trámites que pueden derivarse del servicio (por ejemplo, altas o bajas de un registro) y también las solicitudes específicas para algún colectivo (por ejemplo, empresas, autónomos, etc...)</p>
        {% endcall %}
      </div>
    </div>
    <div class="flex flex-wrap lg:items-start mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base">
      {{ componentButton({
        "text": "Nuevo proceso específico",
        "classes": "c-button--primary"
      })  }}
      {{ componentButton({
        "text": "Importar",
        "classes": "ml-base"
      })  }}
    </div>
  </div>

  <div class="mb-sm">
    {% include "includes/_menubar-filtro-orden.njk"%}
  </div>

  <p class="sr-only">Lista de Procesos específicos del sevicio</p>
  <ul>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Alta en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "en-borrador"
        },
        "statusDateText": "Creado el 10 de enero",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "--"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "--"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "--"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  %}
        {{ actionsConvocatorias.actionsEnBorrador | safe }}
      {% endcall %}
    </li>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Alta en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "borrador-rechazado"
        },
        "statusDateText": "Rechazado el 10 de enero",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "Temporal - desde 15/06/19 hasta 22/10/19"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Presencial"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "1 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  %}
        {{ actionsConvocatorias.actionsBorradorRechazado | safe }}
      {% endcall %}
    </li>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Alta en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "en-validacion"
        },
        "statusDateText": "Enviado el 10 de enero (hace 3 días)",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "Permanente"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Presencial"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "1 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  %}
        {{ actionsConvocatorias.actionsEnValidacionUsuarioEditor | safe }}
      {% endcall %}
    </li>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Alta en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "para-publicar"
        },
        "statusDateText": "Enviado el 10 de enero (hace 3 días)",
        "link": {
          "text": "Rechazar",
          "url": "#"
        },
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "Permanente"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Presencial"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "1 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  %}
        {{ actionsConvocatorias.actionsEnValidacionUsuarioValidador | safe }}
      {% endcall %}
    </li>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Baja en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "publicado"
        },
        "statusDateText": "En plazo hasta el 10 de febrero",
        "link": {
          "text": "Ver en aragon.es",
          "url": "http://www.aragon.es"
        },
        "views": "1587 vistas",
        "sentRequests": "321 solicitudes enviadas",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "Temporal - desde 30/01/18 hasta 10/12/18"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Presencial, electrónica (TTO), otros"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "3 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  %}
        {{ actionsConvocatorias.actionsProcesoPublicado | safe }}
      {% endcall %}
    </li>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Baja en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "publicado"
        },
        "statusDateText": "En plazo hasta el 10 de febrero",
        "link": {
          "text": "Ver en aragon.es",
          "url": "http://www.aragon.es"
        },
        "views": "1587 vistas",
        "sentRequests": "321 solicitudes enviadas",
        "changes": {
          "type": "sin-enviar-a-publicar",
          "url": "#"
        },
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "Temporal - desde 30/01/18 hasta 10/12/18"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Presencial, electrónica (TTO), otros"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "3 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  %}
        {{ actionsConvocatorias.actionsProcesoPublicadoConCambios | safe }}
      {% endcall %}
    </li>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Baja en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "publicado"
        },
        "statusDateText": "En plazo hasta el 10 de febrero",
        "link": {
          "text": "Ver en aragon.es",
          "url": "http://www.aragon.es"
        },
        "views": "1587 vistas",
        "sentRequests": "321 solicitudes enviadas",
        "changes": {
          "type": "pendientes-de-publicar",
          "url": "#"
        },
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "Temporal - desde 30/01/18 hasta 10/12/18"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Presencial, electrónica (TTO), otros"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "3 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  %}
        {{ actionsConvocatorias.actionsProcesoPublicadoConCambiosEnviadosAPublicar | safe }}
      {% endcall %}
    </li>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Baja en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "publicado"
        },
        "statusDateText": "En plazo hasta el 10 de febrero",
        "link": {
          "text": "Ver en aragon.es",
          "url": "http://www.aragon.es"
        },
        "views": "1587 vistas",
        "sentRequests": "321 solicitudes enviadas",
        "changes": {
          "type": "para-publicar",
          "url": "#"
        },
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "Temporal - desde 30/01/18 hasta 10/12/18"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Presencial, electrónica (TTO), otros"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "3 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  %}
        {{ actionsConvocatorias.actionsProcesoPublicadoConCambiosParaPublicarUsuarioValidador | safe }}
      {% endcall %}
    </li>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Baja en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "fuera-plazo"
        },
        "statusDateText": "Fuera de plazo desde el 10 febrero (hace 20 días)",
        "views": "787 vistas",
        "sentRequests": "305 solicitudes enviadas",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "Temporal - desde 17/11/20 hasta 18/12/20"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Presencial, electrónica (TTO), otros"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "5 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  %}
        {{ actionsConvocatorias.actionsPublicadoFueraPlazo | safe }}
      {% endcall %}
    </li>
    <li>
      {% call componentItemListConvocatorias({
        "text": "Baja en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "suspendido",
          "text": "Suspendido desde el 10 de Enero"
        },
        "statusDateText": "Despublicado el 10 de febrero (hace 20 días)",
        "views": "985 vistas",
        "sentRequests": "220 solicitudes enviadas",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "Temporal - desde 15/06/19 hasta 22/10/19"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Electrónica (TTO)"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "2 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        },
        "caller": "\n\n\n<div data-module=\"c-dropdown\" class=\" relative\">\n  <button class=\"c-dropdown c-dropdown--secondary c-dropdown--sm mr-base\" data-module=\"c-dropdown-button\" aria-haspopup=\"true\" >\n    <span class=\"inline-block self-center max-w-xs align-middle truncate\">Más</span>\n      <svg class=\"inline-block -mr-2  align-middle\" viewBox=\"0 0 96 96\" aria-hidden=\"true\" fill=\"currentColor\" focusable=\"false\" width=\"1.5em\" height=\"1.5em\"><g><path d=\"M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z\"/></g></svg></button>\n  <div class=\"-ml-sm mt-2 border border-neutral-base shadow-md bg-white\" data-module=\"c-dropdown-tooltip\" >\n      \n\n<ul class=\"text-sm\" id=\"nav-id-example\" aria-label=\"External links\" role=\"menu\">\n  <li role=\"menuitem\">\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"site-menu-item\">\n      Ver detalles\n    </a>\n  </li>\n  <li role=\"menuitem\">\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"site-menu-item-2\">\n      Previsualizar\n    </a>\n  </li>\n  <li role=\"menuitem\">\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"site-menu-item-3\">\n      Enviar a publicar...\n    </a>\n  </li>\n  <li role=\"menuitem\">\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"site-menu-item-4\">\n      Validar y Publicar cambios...\n    </a>\n  </li>\n  <li class=\"my-sm border-b border-neutral-base\" aria-hidden=\"true\">\n    <div class=\"sr-only\">Separador</div>\n  </li>\n  <li role=\"menuitem\">\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"site-menu-item-5\">\n      Duplicar\n    </a>\n  </li>\n  <li class=\"my-sm border-b border-neutral-base\" aria-hidden=\"true\">\n    <div class=\"sr-only\">Separador</div>\n  </li>\n  <li role=\"menuitem\">\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black text-alert-base\" id=\"site-menu-item-6\">\n      Dar de baja...\n    </a>\n  </li>\n</ul>\n\r\n  </div>\n</div>  <a href=\"#\" role=\"button\" draggable=\"false\" class=\"c-button c-button--sm\" >\n  Editar\n</a>\r\n"
      })  %}
        {{ actionsConvocatorias.actionsSuspendido | safe }}
      {% endcall %}
    </li>
    <li>
      {{ componentItemListConvocatorias({
        "text": "Baja en los premios",
        "idNumber": "ID - 1452",
        "status": {
          "type": "baja",
          "text": "Dado de baja el 10 de enero 2020"
        },
        "statusDateText": "Publicado el 10 de enero",
        "views": "1188 vistas",
        "sentRequests": "123 solicitudes enviadas",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Plazo"
              },
              "definition": {
                "text": "--"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Presentación de solicitud"
              },
              "definition": {
                "text": "Presencial"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Documentos a presentar"
              },
              "definition": {
                "text": "2 documentos"
              },
              "classes": "lg:w-1/3 pr-base mb-xs"
            }
          ]
        }
      })  }}
    </li>
  </ul>

  <div class="mt-base">
    {{ componentPagination({
      "hasSelect": true,
      "idPrefix": "pagination",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente"
    })  }}
  </div>

{% endblock %}