{% set title = "Datos. Servicio: 1452 - Gestión de alquileres. Catálogo de servicios. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-subheader-fixed-headroom.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/detail-header/_macro.detail-header.njk" import componentDetailHeader %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/media-object/_macro.media-object.njk" import componentMediaObject %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/tabs/_macro.tabs.njk" import componentTabs %}
{% from "includes/_macro.tabs-cambios.njk" import tabsCambios %}

{% set itemId = "1452" %}
{% set itemText = "Gestión de alquileres" %}
{% import "includes/_actions-examples-item-list-services.njk" as actions with context %}
{% import "includes/_detalles-items-varios.njk" as detalles with context %}

{% macro figureEdit(sectionText) %}
  <div class="lg:opacity-0 group-hover:opacity-100 focus-within:opacity-100">
    {{ componentButton({
      "html": 'Editar <span class="sr-only">' + sectionText + '</span>'
    })  }}
  </div>
{% endmacro %}

{% block subheaderBlock %}
  <div class="c-subheader border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base sm:mt-lg -mb-px px-base">
      {% call componentDetailHeader({
        "breadcrumbs": {
          "items": [
            {
              "text": "Servicios del departamento",
              "href": "/"
            },
            {
              "text": itemId + " - " + itemText
            }
          ]
        },
        "idNumber": itemId,
        "text": itemText,
        "icon": {
          "type": "servicio"
        },
        "status": {
          "type": "publicado"
        },
        "changes": {
          "type": "sin-enviar-a-publicar",
          "url": "#"
        },
        "menuHorizontal": {
          "classes": "c-menu-horizontal--tabs text-sm w-full",
          "items": [
            {
              "href": "#",
              "text": "Resumen"
            },
            {
              "href": "#",
              "html": '<span class="bg-warning-light">Datos<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block w-3 h-3 ml-sm -mt-0.5" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg></span>',
              "active": true
            },
            {
              "href": "#",
              "html": '<span class="bg-warning-light">Convocatorias<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block w-3 h-3 ml-sm -mt-0.5" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg></span>'
            },
            {
              "href": "#",
              "text": "Procesos específicos"
            },
            {
              "href": "#",
              "text": "Ajustes"
            },
            {
              "href": "#",
              "text": "Histórico"
            },
            {
              "href": "#",
              "text": "Notas"
            }
          ],
          "attributes": {
            "aria-labelledby": itemId
          }
        }
      })  %}
        {{ actions.actionsPublicado | safe }}
      {% endcall %}
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="grid grid-cols-4 gap-x-lg" >
    <div class="sticky top-0 hidden lg:block lg:col-span-1 h-screen pt-base lg:pt-xl overflow-y-auto">
      <h3 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h3>
      {{ componentMenuVertical({
        "idPrefix": "sidebar-item",
        "items": [
          {
            "href": "#datos-generales",
            "text": "Datos generales",
            "sub": {
              "items": [
                {
                  "href": "#denominacion",
                  "text": "Denominación",
                  "attributes": {
                    "data-scroll": "true"
                  }
                },
                {
                  "href": "#descripcion",
                  "text": "Descripción",
                  "attributes": {
                    "data-scroll": "true"
                  }
                },
                {
                  "href": "#organo-responsable",
                  "text": "Órgano responsable",
                  "attributes": {
                    "data-scroll": "true"
                  }
                },
                {
                  "href": "#unidades-gestoras",
                  "text": "Unidades gestoras",
                  "attributes": {
                    "data-scroll": "true"
                  }
                },
                {
                  "href": "#categorias",
                  "text": "Categorías",
                  "attributes": {
                    "data-scroll": "true"
                  }
                },
                {
                  "href": "#etiquetas-libres",
                  "text": "Etiquetas libres",
                  "attributes": {
                    "data-scroll": "true"
                  }
                }
              ]
            }
          },
          {
            "html": 'Normativa general <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-baseline w-3 h-3 ml-sm" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>',
            "href": "#normativa-general",
            "classes": "bg-warning-light",
            "attributes": {
              "data-scroll": "true"
            }
          },
          {
            "href": "#caracteristicas-generales-de-tramitacion",
            "text": "Características generales de tramitación",
            "sub": {
              "items": [
                {
                  "href": "#destinatarios",
                  "text": "Destinatarios",
                  "attributes": {
                    "data-scroll": "true"
                  }
                },
                {
                  "href": "#requisitos-generales",
                  "text": "Requisitos generales",
                  "attributes": {
                    "data-scroll": "true"
                  }
                },
                {
                  "href": "#",
                  "html": 'Canales de información<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-baseline w-3 h-3 ml-sm" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>',
                  "href": "#canales-de-informacion",
                  "classes": "bg-warning-light",
                  "attributes": {
                    "data-scroll": "true"
                  }
                },
                {
                  "href": "#tramites-principales",
                  "text": "Trámites principales",
                  "attributes": {
                    "data-scroll": "true"
                  }
                },
                {
                  "href": "#resolucion",
                  "text": "Resolución",
                  "attributes": {
                    "data-scroll": "true"
                  }
                }
              ]
            }
          }
        ],
        "attributes": {
          "aria-labelledby": "apartados-de-pagina"
        }
      })  }}
    </div>
    <section class="col-span-4 lg:col-span-3 pt-base lg:pt-xl">
      <h1 class="c-h1">Datos del servicio <span class="sr-only">1452 - Gestión de alquileres</span></h1>
      <p class="c-paragraph-base">Esta es la información general sobre el servicio que cualquier persona interesada en él verá en aragon.es</p>
      <p class="c-paragraph-sm mb-lg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block mr-xs -mt-0.5 text-primary-base"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor" /></svg>
        <a href="#" class="c-link">Saber más sobre datos del servicio y lenguaje claro</a>
      </p>
      {{ componentButton({
        "text": "Editar",
        "classes": "c-button--primary mb-lg"
      })  }}
      <div class="lg:flex lg:flex-wrap lg:items-center lg:justify-between w-full mb-lg p-sm bg-warning-light">
          <p class="mb-base lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block align-middle w-4 h-4 mx-sm -mt-1" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg> Últimos cambios realizados hace 2 horas</p>
        <ul class="flex flex-wrap">
          <li>
            {{ componentButton({
              "text": "Descartar cambios",
              "classes": "c-button--transparent mr-sm"
            })  }}
          </li>
          <li>
            {{ componentButton({
              "text": "Editar cambios"
            })  }}
          </li>
        </ul>
      </div>
      <div class="w-full mb-lg p-base bg-neutral-light">
          <p class="mb-base lg:mb-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block w-base h-base mr-sm -mt-1 text-neutral-dark" aria-label="Bloqueado" focusable="false" role="img"><path d="M115 55.86V45a45 45 0 00-90 0v10.86A15 15 0 0015 70v55a15 15 0 0015 15h80a15 15 0 0015-15V70a15 15 0 00-10-14.14zM70 110a12.5 12.5 0 1112.5-12.5A12.5 12.5 0 0170 110zm25-55H45V45a25 25 0 0150 0z" fill="currentColor"/></svg> No es posible editar mientras el servicio o proceso está pendiente de publicación</p>
      </div>

      <hr class="border-neutral-base my-2xl">

      <h2 id="datos-generales" class="c-anchor-scroll c-h2 mb-lg">Datos generales</h2>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Denominación') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="denominacion" class="c-anchor-scroll c-h3">Denominación</h3>
          <p class="c-paragraph-base">Solicitud de subvenciones con cargo al fondo de inversiones de Teruel para la restauración de patrimonio de interés arquitectónico de uso público de las entidades locales de dicha provincia</p>
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Descripción') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="descripcion" class="c-anchor-scroll c-h3">Descripción</h3>
          <p class="c-paragraph-base">Podrán ser objeto de subvención las obras de rehabilitación de viviendas, (pisos), situadas en edificios de viviendas de tipología residencial colectiva (de dos o más viviendas on elementos comunes) ubicados en el ámbito territorial de la Comunidad Autónoma de Aragón.</p>
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Descripción') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="descripcion-2" class="c-anchor-scroll c-h3">Descripción</h3>
          <p class="c-paragraph-base"><span class="italic">Sin definir</span>&nbsp;<span class="inline-block ml-base text-alert-dark">(Obligatorio para publicar)</span></p>
        {% endcall %}
      </div>
      <div class="mb-xl">
        <h3 id="descripcion-3" class="c-anchor-scroll c-h3">Descripción</h3>
        {{ tabsCambios('descripcion', 'Descripción', '<p class="c-paragraph-base"><span class="italic">Sin definir</span></p>', '<p class="c-paragraph-base">En este trámite podrás solicitar las ayudas de apoyo a la solvencia empresarial en respuesta a la pandemia Covid-19 financiadas por el Gobierno de España.</p>', 'Cambios realizados hace 2 horas') }}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Descripción') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="descripcion-3" class="c-anchor-scroll c-h3">Descripción</h3>
          <p class="c-paragraph-base"><span class="italic">Sin definir</span></p>
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Órgano administrativo responsable del servicio') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="organo-responsable" class="c-anchor-scroll c-h3">Órgano administrativo responsable del servicio</h3>
          <p class="c-paragraph-base">DIRECCIÓN GENERAL DE VIVIENDA Y REHABILITACIÓN</p>
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Órgano o unidades administrativas gestoras del servicio') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="unidades-gestoras" class="c-anchor-scroll c-h3">Órganos o unidades administrativas gestoras del servicio</h3>
          <ul class="c-ul">
            <li>
              <p class="c-paragraph-base">DIRECCIÓN GENERAL DE VIVIENDA Y REHABILITACIÓN</p>
            </li>
            <li>
              <p class="c-paragraph-base">DIRECCIÓN GENERAL DE PATRIMONIO Y ORGANIZACIÓN</p>
            </li>
            <li>
              <p class="c-paragraph-base">DEPARTAMENTO DE HACIENDA Y ADMINISTRACIÓN PÚBLICA</p>
            </li>
          </ul>

        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Categorización del servicio') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="categorias" class="c-anchor-scroll c-h3">Categorización del servicio</h3>
          <div class="max-h-64 overflow-y-auto">
            {% include "includes/_arbol-categorias-solo-lectura.njk" %}
          </div>
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Etiquetas libres') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="etiquetas-libres" class="c-anchor-scroll c-h3">Etiquetas libres</h3>
          <ul class="flex flex-flow gap-base mb-base">
            <li>
              {{ componentPill({
                "text": "Subvenciones"
              })  }}
            </li>
            <li>
              {{ componentPill({
                "text": "Rehabilitación"
              })  }}
            </li>
          </ul>
        {% endcall %}
      </div>

      <hr class="border-neutral-base my-2xl">

      <h2 id="normativa-general" class="c-anchor-scroll c-h2 mb-lg">Normativa general</h2>
      {# Ejemplo de apartado con opción a edición #}
      {% set sectionText %}
        {{ figureEdit('Normativa general') }}
      {% endset %}
      {% call componentMediaObject({
        "reverse": true,
        "figureHtml": sectionText | safe,
        "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
        "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
      })  %}
        {{ detalles.normativaGeneralOriginal | safe }}
      {% endcall %}

      <hr class="border-neutral-base my-2xl">

      <h2 id="#normativa-general-2" class="c-anchor-scroll c-h2 mb-lg">Normativa general</h2>
      {{ tabsCambios('normativa', 'Normativa general', detalles.normativaGeneralOriginal, detalles.normativaGeneralChanges, 'Cambios realizados hace 2 horas') }}


      <hr class="border-neutral-base my-2xl">

      <h2 id="caracteristicas-generales-de-tramitacion" class="c-anchor-scroll c-h2 mb-lg">Características generales de la tramitación</h2>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Destinatarios') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="destinatarios" class="c-anchor-scroll c-h3">Destinatarios</h3>
          {{ detalles.destinatarios | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Requisitos') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="requisitos-generales" class="c-anchor-scroll c-h3">Requisitos</h3>
          {{ detalles.requisitos | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Canales de información adicional') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="canales-de-informacion" class="c-anchor-scroll c-h3">Canales de información adicional</h3>
         {{ detalles.canales | safe }}
        {% endcall %}
      </div>
      <div class="mb-xl">
        {% set sectionText %}
          {{ figureEdit('Trámites del servicio') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="tramites-principales" class="c-anchor-scroll c-h3">Trámites del servicio</h3>
          {{ detalles.tramitesDelServicio | safe }}
        {% endcall %}
      </div>
      <div>
        {% set sectionText %}
          {{ figureEdit('Resolución') }}
        {% endset %}
        {% call componentMediaObject({
          "reverse": true,
          "figureHtml": sectionText | safe,
          "figureClasses": "hidden lg:block w-full lg:w-auto lg:ml-base",
          "classes": "flex flex-wrap group lg:-m-base lg:p-base lg:hover:bg-neutral-light lg:focus-within:bg-neutral-light border border-transparent lg:hover:border-neutral-base lg:focus-within:border-neutral-base rounded"
        })  %}
          <h3 id="resolucion" class="c-anchor-scroll c-h3">Resolución</h3>
          <p class="c-paragraph-base">La resolución del trámite pone fin a la vía administrativa y el silencio se resuelve como negativo</p>
        {% endcall %}
      </div>

    </section>
  </div>
{% endblock %}