{% set title = "Ajustes. Servicio: 1452 - Premios de Orientación Profesional. Catálogo de servicios. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-subheader-fixed-headroom.njk" %}

{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/detail-header/_macro.detail-header.njk" import componentDetailHeader %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/label/_macro.label.njk" import componentLabel %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}

{% import "includes/_actions-examples-item-list-services.njk" as actions %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark">
    <div class="container mx-auto mt-lg -mb-px px-base">
      {% call componentDetailHeader({
        "breadcrumbs": {
          "items": [
            {
              "text": "Servicios del departamento",
              "href": "/"
            },
            {
              "text": "1452 - Premios de Orientación Profesional"
            }
          ]
        },
        "idNumber": "1452",
        "text": "Premios de Orientación Profesional",
        "icon": {
          "type": "servicio"
        },
        "status": {
          "type": "publicado"
        },
        "menuHorizontal": {
          "classes": "c-menu-horizontal--tabs text-sm w-full",
          "items": [
            {
              "href": "#",
              "text": "Resumen"
            },
            {
              "href": "#",
              "text": "Datos"
            },
            {
              "href": "#",
              "text": "Convocatorias"
            },
            {
              "href": "#",
              "text": "Procesos específicos"
            },
            {
              "href": "#",
              "text": "Ajustes",
              "active": true
            },
            {
              "href": "#",
              "text": "Histórico"
            },
            {
              "href": "#",
              "text": "Notas"
            }
          ],
          "attributes": {
            "aria-label": "Menu horizontal"
          }
        }
      })  %}
        {{ actions.actionsPublicado | safe }}
      {% endcall %}
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <h1 class="c-h1 mb-0">Ajustes del servicio</h1>
  <p class="mb-lg text-neutral-dark">Características propias del servicio</p>

  <ul class="flex flex-wrap gap-sm mb-xl">
    <li>
      {{ componentButton({
        "text": "Guardar",
        "classes": "c-button--primary"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Cancelar"
      })  }}
    </li>
  </ul>

  <h2 id="organo-adminitrativo" class="font-bold mb-base">Órgano administrativo responsable del servicio</h2>
  <p class="c-paragraph-base">Todavía no hay un órgano añadido, por favor añade un órgano administrativo responsable del servicio.</p>
  <div class="mb-2xl">
    {% include "includes/_anadir-organo.njk" %}
  </div>


  <h2 id="organo-adminitrativo" class="font-bold mb-base">Órgano administrativo responsable del servicio</h2>
  <div class="mb-2xl">
    {% call componentItem({
      "title": {
        "text": "Órgano 1"
      },
      "classes": "p-sm mb-sm"
    })  %}
        <div class="flex flex-wrap gap-sm">
        <button class=" c-button c-button--sm c-button--transparent">Eliminar<span class="sr-only"> Órgano</span></button>
          <button class=" c-button c-button--sm c-button--transparent">Editar<span class="sr-only"> Órgano</span></button>
        </div>
    {% endcall %}
  </div>

  <div class="grid grid-cols-4 gap-x-2xl mb-xl">
    <div class="col-span-4 lg:col-span-2 mb-xl lg:mb-0">
      <fieldset>
        <legend class="font-bold mb-sm">
          Tipo de servicio
        </legend>
      {{ componentRadios({
        "idPrefix": "procedimiento",
        "name": "procedimiento",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Con o sin Procedimiento",
            "classes": "sr-only"
          }
        },
        "items": [
          {
            "value": "si-procedmiento",
            "text": "Procedimiento",
            "checked": true
          },
          {
            "value": "no-procedimiento",
            "text": "Servicio sin tramitación de procedimiento"
          }
        ]
      })  }}
      <hr class="border-neutral-base">
      {{ componentRadios({
        "idPrefix": "interno-externo",
        "name": "interno-externo",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Interno/Externo",
            "classes": "sr-only"
          }
        },
        "items": [
          {
            "value": "interno",
            "text": "Interno"
          },
          {
            "value": "externo",
            "text": "Externo",
            "checked": true
          }
        ]
      })  }}
      <hr class="border-neutral-base">
      {{ componentRadios({
        "idPrefix": "comun-especifico",
        "name": "comun-especifico",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Común-Específico",
            "classes": "sr-only"
          }
        },
        "items": [
          {
            "value": "comun",
            "text": "Común",
            "checked": true
          },
          {
            "value": "especifico",
            "text": "Específico"
          }
        ]
      })  }}
      </fieldset>
    </div>
    <div class="col-span-4 lg:col-span-2">
      {{ componentCheckboxes({
        "idPrefix": "inicio-servicio",
        "name": "inicio-servicio",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Formas de iniciar el servicio",
            "classes": "font-bold mb-sm"
          }
        },
        "items": [
          {
            "value": "oficio",
            "text": "Inicio de oficio",
            "checked": true
          },
          {
            "value": "interesado",
            "text": "Inicio a instancia del interesado",
            "checked": true
          }
        ]
      })  }}
      <hr class="border-neutral-base my-xl">
      {{ componentCheckboxes({
        "idPrefix": "convocatorias-servicio",
        "name": "convocatorias-servicio",
        "formGroup": {
            "classes": "mb-0"
        },
        "fieldset": {
          "legend": {
            "text": "Convocatorias",
            "classes": "font-bold mb-sm"
          }
        },
        "items": [
          {
            "value": "convocatorias",
            "text": "Este servicio requiere convocatorias",
            "checked": true
          }
        ]
      })  }}
    </div>
  </div>
  <hr class="border-neutral-base my-xl">
  <h2 class="font-bold mb-base">URL del servicio en SEDE</h2>
  <div class="flex flex-wrap items-end gap-sm">
    {{ componentInputGroup({
      "id": "url-servicio",
      "namePrefix": "url-servicio",
      "fieldset": {
        "legend": {
          "text": 'URL de "SUBVENCIÓN EN MATERIA DE APOYO A ACCIONES DE COOPERACIÓN DE AGENTES DEL SECTOR AGRARIO (PDR 2014-2020)"',
          "classes": "text-sm text-neutral-dark"
        }
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "items": [
        {
          "name": "prefijo-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL del servicio",
            "classes": "sr-only"
          },
          "value": "https://prewww.aragon.es/tramitador/-/tramite/",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        },
        {
          "name": "nombre-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL del servicio",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020",
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm"
    })  }}
  </div>
  <div class="flex flex-wrap items-end gap-sm">
    {{ componentInputGroup({
      "id": "url-servicio",
      "namePrefix": "url-servicio",
      "fieldset": {
        "legend": {
          "text": 'URL de "SUBVENCIÓN EN MATERIA DE APOYO A ACCIONES DE COOPERACIÓN DE AGENTES DEL SECTOR AGRARIO (PDR 2014-2020)"',
          "classes": "text-sm text-neutral-dark"
        },
        "classes": "grid"
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "errorMessage": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block w-4 h-4 mr-xs text-alert-base" aria-hidden="true" focusable="false"><path d="M7 0a7 7 0 1 0 7 7 7 7 0 0 0-7-7Zm-.75 3.5a.75.75 0 0 1 1.5 0v3a.75.75 0 0 1-1.5 0ZM7 11a1 1 0 1 1 1-1 1 1 0 0 1-1 1Z" fill="currentColor" transform="scale(3.42857)"/></svg>&nbsp;<span class="uppercase">No disponible</span>&nbsp;<span class="text-neutral-dark font-normal"> - 10 ene 21, 10:45</span>'
      },
      "items": [
        {
          "name": "prefijo-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL del servicio",
            "classes": "sr-only"
          },
          "value": "https://prewww.aragon.es/tramitador/-/tramite/",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        },
        {
          "name": "nombre-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL del servicio",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020",
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm"
    })  }}
  </div>
  <div class="flex flex-wrap items-end gap-sm">
    {{ componentInputGroup({
      "id": "url-servicio",
      "namePrefix": "url-servicio",
      "fieldset": {
        "legend": {
          "text": 'URL de "SUBVENCIÓN EN MATERIA DE APOYO A ACCIONES DE COOPERACIÓN DE AGENTES DEL SECTOR AGRARIO (PDR 2014-2020)"',
          "classes": "text-sm text-neutral-dark"
        },
        "classes": "grid"
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "errorMessage": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block w-4 h-4 mr-xs text-primary-base" aria-hidden="true" focusable="false"><path d="m13.84 11.83-5.5-11a1.5 1.5 0 0 0-2.68 0l-5.5 11a1.49 1.49 0 0 0 .06 1.46A1.52 1.52 0 0 0 1.5 14h11a1.52 1.52 0 0 0 1.28-.71 1.49 1.49 0 0 0 .06-1.46ZM6.25 5a.75.75 0 0 1 1.5 0v3a.75.75 0 0 1-1.5 0ZM7 12a1 1 0 1 1 1-1 1 1 0 0 1-1 1Z" fill="currentColor" transform="scale(3.42857)"/></svg>&nbsp;<span class="text-black uppercase">Error de validación</span>&nbsp;<span class="text-neutral-dark font-normal"> - 10 ene 21, 10:45</span>'
      },
      "items": [
        {
          "name": "prefijo-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL del servicio",
            "classes": "sr-only"
          },
          "value": "https://prewww.aragon.es/tramitador/-/tramite/",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        },
        {
          "name": "nombre-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL del servicio",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020",
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm"
    })  }}
  </div>
  <div class="flex flex-wrap items-end gap-sm">
    {{ componentInputGroup({
      "id": "url-servicio",
      "namePrefix": "url-servicio",
      "fieldset": {
        "legend": {
          "text": 'URL de "SUBVENCIÓN EN MATERIA DE APOYO A ACCIONES DE COOPERACIÓN DE AGENTES DEL SECTOR AGRARIO (PDR 2014-2020)"',
          "classes": "text-sm text-neutral-dark"
        },
        "classes": "grid"
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "errorMessage": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block w-4 h-4 mr-xs text-success-dark" aria-hidden="true" focusable="false"><path d="M4 12.5a2 2 0 0 1-1.55-.78L.25 9.23a1 1 0 0 1 .09-1.42 1 1 0 0 1 1.41.1l2.06 2.33a.21.21 0 0 0 .18.09.23.23 0 0 0 .18-.08l8.11-8.44a1 1 0 0 1 1.44 1.38l-8.2 8.63A1.94 1.94 0 0 1 4 12.5Z" fill="currentColor" transform="scale(3.42857)"/></svg>&nbsp;<span class="uppercase text-black">Disponible</span>&nbsp;<span class="text-neutral-dark font-normal"> - 10 ene 21, 10:45</span>'
      },
      "items": [
        {
          "name": "prefijo-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL del servicio",
            "classes": "sr-only"
          },
          "value": "https://prewww.aragon.es/tramitador/-/tramite/",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        },
        {
          "name": "nombre-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL del servicio",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020",
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm"
    })  }}
  </div>
  <hr class="border-neutral-base my-xl">
  <h2 class="font-bold mb-base">URL de sus procesos y convocatorias</h2>
  <div class="flex flex-wrap items-end gap-sm mb-lg">
    {{ componentInputGroup({
      "id": "url-procesos-1",
      "namePrefix": "url-procesos-1",
      "fieldset": {
        "legend": {
          "text": 'URL de "Tramitación"',
          "classes": "text-sm text-neutral-dark"
        }
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "items": [
        {
          "name": "prefijo-url-procesos-1",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "value": "../subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020/",
          "disabled": true,
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        },
        {
          "name": "nombre-url-procesos-1",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "tramitacion",
          "formGroup": {
            "classes": "mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm"
    })  }}
  </div>
  <div class="flex flex-wrap items-end gap-sm mb-lg">
    {{ componentInputGroup({
      "id": "url-procesos-2",
      "namePrefix": "url-procesos-2",
      "fieldset": {
        "legend": {
          "text": 'URL de "Convocatoria 2022"',
          "classes": "text-sm text-neutral-dark"
        }
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "items": [
        {
          "name": "prefijo-url-procesos-2",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "value": "../subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020/",
          "disabled": true,
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        },
        {
          "name": "nombre-url-procesos-2",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "convocatoria-2022",
          "formGroup": {
            "classes": "mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm"
    })  }}
  </div>

{% endblock %}