{% set title = "Editando proceso específico. Catálogo de servicios. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed-with-sticky-sidebar.njk" %}

{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/collapsible/_macro.collapsible.njk" import componentCollapsible %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}

{% import "includes/_editar-varios.njk" as editar with context %}





{% block headerTitleEditBlock %}
  <div class="flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mt-xs mr-base"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M65.625 83.19H96.25M65.625 109.44H96.25M48.125 81.002a2.188 2.188 0 11-2.188 2.187 2.188 2.188 0 012.188-2.187M65.625 56.94H96.25M48.125 54.752a2.188 2.188 0 11-2.188 2.187 2.188 2.188 0 012.188-2.187M48.125 107.252a2.188 2.188 0 11-2.188 2.187 2.188 2.188 0 012.188-2.187" stroke-width="8.749995"/><path d="M91.875 26.314h21.875a8.75 8.75 0 018.75 8.75v91.875a8.75 8.75 0 01-8.75 8.75h-87.5a8.75 8.75 0 01-8.75-8.75V35.064a8.75 8.75 0 018.75-8.75h21.875a21.875 21.875 0 0143.75 0z" stroke-width="8.749995"/><path d="M70 21.94a2.188 2.188 0 11-2.188 2.187A2.188 2.188 0 0170 21.939" stroke-width="8.749995"/></g></svg>
    <div class="flex-1">
      <h1 class="text-lg uppercase font-semibold leading-tight ">Editando proceso específico</h1>
      {{ componentBreadcrumbs({
        "items": [
          {
            "text": "1452 - Premios de Orientación Profesional",
            "href": "#"
          },
          {
            "text": "Nuevo proceso"
          }
        ]
      })  }}
    </div>
  </div>
{% endblock %}


{% block sidebarBlock %}
  <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2>
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "#datos-especificos",
        "text": "Datos específicos",
        "sub": {
          "items": [
            {
              "href": "#denominacion",
              "text": "Denominación"
            },
            {
              "href": "#descripcion",
              "text": "Descripción"
            }
          ]
        }
      },
      {
        "text": "Normativa específica",
        "href": "#normativa-especifica"
      },
      {
        "href": "#caracteristicas-especificas-de-tramitacion",
        "text": "Características específicas",
        "sub": {
          "items": [
            {
              "href": "#destinatarios",
              "text": "Destinatarios"
            },
            {
              "href": "#requisitos-especificos",
              "text": "Requisitos específicos"
            },
            {
              "href": "#canales-de-informacion",
              "text": "Canales de información"
            },
            {
              "href": "#pago-de-tasas",
              "text": "Pago de tasas"
            },
            {
              "href": "#tramites-principales",
              "text": "Trámites principales"
            },
            {
              "href": "#finalizacion-y-revision",
              "text": "Finalización y revisión"
            },
            {
              "href": "#informacion-adicional",
              "text": "Información adicional"
            },
            {
              "href": "#enlaces-y-documentos-con-informacion-adicional",
              "text": "Enlaces y documentos con información adicional"
            },
            {
              "href": "#otras-consideraciones",
              "text": "Otras consideraciones"
            }
          ]
        }
      },
      {
        "href": "#presentacion-de-solicitud",
        "text": "Presentación de Solicitud",
        "sub": {
          "items": [
            {
              "href": "#organo-de-destino",
              "text": "Órgano de destino"
            },
            {
              "href": "#forma-de-presentar-la-solicitud",
              "text": "Forma de presentar la solicitud"
            },
            {
              "href": "#plazos-de-presentacion",
              "text": "Plazos de presentación"
            }
          ]
        }
      },
      {
        "text": "Modelo de solicitud",
        "href": "#modelo-de-solicitud"
      },
      {
        "text": "Documentación necesaria",
        "href": "#documentacion-necesaria"
      }
    ],
    "attributes": {
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endblock %}


{% block innerContentBlock %}
  <h2 id="datos-especificos" class="c-h1 c-anchor-scroll-edit">Datos específicos</h2>
  <h3 id="denominacion" class="c-h3 c-anchor-scroll-edit">Denominación [del proceso específico] <span class="font-normal text-sm text-neutral-dark">(Obligatorio)</span></h3>
  <p class="c-paragraph-base">
    Nombre [del proceso] que se mostrará en aragon.es y que verán las personas o entidades interesadas. <a href="#" class="c-link">Ver ejemplos</a>
  </p>
  {{ componentCharacterCount({
    "id": "denominacion-input",
    "name": "denominacion-input",
    "rows": 2,
    "classes": "w-full",
    "label": {
      "text": "Denominación [del proceso específico]",
      "classes": "sr-only"
    },
    "maxlength": 200,
    "countMessage": {
      "classes": "text-right mb-2xl"
    }
  })  }}
  <h3 id="descripcion" class="c-h3 c-anchor-scroll-edit">Descripción [del proceso específico]<span class="font-normal text-sm text-neutral-dark">(Obligatorio para publicar)</span></h3>
  <p class="c-paragraph-base">
    Incluye aquí una breve descripción [del proceso]. <a href="#" class="c-link">Ver ejemplos</a>
  </p>
  {{ componentCharacterCount({
    "id": "descripcion-input",
    "name": "descripcion-input",
    "rows": 10,
    "classes": "w-full",
    "label": {
      "text": "Descripción Servicio",
      "classes": "sr-only"
    },
    "maxlength": 500,
    "countMessage": {
      "classes": "text-right"
    }
  })  }}
  <hr class="border-neutral-base my-2xl">
  <h2 id="normativa-especifica" class="c-h1 c-anchor-scroll-edit">Normativa específica</h2>
  <p class="sr-only">Apartados de normativa específica</p>
  <h3 id="orden-reguladora-de-la-convocatoria" class="c-h3 c-anchor-scroll-edit">Orden reguladora de la convocatoria</h3>
  <p class="c-paragraph-base">Indica la orden reguladora de la convocatoria. El enlace a la convocatoria se podrá modificar una vez publicada.</p>
  <ol>
    <li>
      {% call componentItem({
        "title": {
          "text": "Pendiente de rellenar",
          "attributes": {
            "id": "pendiente-de-rellenar"
          }
        },
        "description": {
          "html": '<span class="italic">URL pendiente de rellenar</span>'
        },
        "classes": "p-sm mb-sm",
        "isLocked": true
      })  %}
          <div class="flex">
            <button id="pendiente-de-rellenar-b-1" class="c-button c-button--sm c-button--transparent ml-sm" aria-labelledby="pendiente-de-rellenar-b-1 pendiente-de-rellenar">Editar</button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "html": '<a href="#" class="c-link">Orden IIU/910/2016, de 8 de agosto, por la que se convocan subvenciones para 2016, para la implantación y difusión de las tecnologías de la información y las comunicaciones (TIC) y de la sociedad de la información</a>'
        },
        "classes": "p-sm mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "1" %}
            {% set dropdownTitle = "Procedimiento administrativo Común de las Administraciones Públicas" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
  </ol>
  <ul class="flex flex-wrap gap-sm mb-2xl">
    <li>
      {{ componentButton({
        "html": 'Añadir normativa&nbsp;<span class="sr-only">específica</span>',
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "html": 'Importar&nbsp;<span class="sr-only">normativa</span> desde otro servicio',
        "classes": "c-button--transparent"
      })  }}
    </li>
  </ul>
  {{ editar.aniadirNormativa | safe }}
  <hr class="border-neutral-base my-2xl">
  <h2 id="caracteristicas-especificas-de-tramitacion" class="c-h1 c-anchor-scroll-edit">Características específicas de tramitación</h2>
  <h3 id="destinatarios" class="c-h3 c-anchor-scroll-edit">Destinatarios específicos</h3>
  <p class="c-paragraph-base">Si es necesario, añade una por una las personas o entidades específicas que pueden acceder al proceso.</p>
  <ol>
    <li>
      {% call componentItem({
        "title": {
          "text": "Ciudadanos"
        },
        "classes": "p-sm mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "3" %}
            {% set dropdownTitle = "Ciudadanos" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Ciudadanos mayores de 18 años cursando estudios"
        },
        "classes": "p-sm mb-sm ml-lg",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "4" %}
            {% set dropdownTitle = "Ciudadanos mayores de 18 años cursando estudios" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Todos los demás también"
        },
        "classes": "p-sm mb-sm ml-lg",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "5" %}
            {% set dropdownTitle = "Todos los demás también" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
  </ol>
  <ul class="flex flex-wrap gap-sm mb-2xl">
    <li>
      {{ componentButton({
        "html": 'Añadir destinatario&nbsp;<span class="sr-only">específico</span>',
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "html": 'Importar&nbsp;<span class="sr-only">destinatario específico</span> desde otro servicio',
        "classes": "c-button--transparent ml-sm",
        "disabled": true
      })  }}
    </li>
  </ul>
  {{ editar.aniadirDestinatario | safe }}
  <h3 id="requisitos-especificos" class="c-h3 c-anchor-scroll-edit">Requisitos específicos</h3>
  <p class="c-paragraph-base">Si es necesario, añade una por una las condiciones que tienen que cumplir las personas o entidades interesadas para acceder al proceso.</p>
  <ol>
    <li>
      {% call componentItem({
        "title": {
          "text": "Las entidades beneficiarias denberán tener su sede y actividad principal en Aragón"
        },
        "classes": "p-sm mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "6" %}
            {% set dropdownTitle = "Las entidades beneficiarias denberán tener su sede y actividad principal en Aragón" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Los gastos deberán ser realizados en el ejercicio 2016"
        },
        "classes": "p-sm mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "7" %}
            {% set dropdownTitle = "Los gastos deberán ser realizados en el ejercicio 2016" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
  </ol>
  <ul class="flex flex-wrap gap-sm mb-2xl">
    <li>
      {{ componentButton({
        "html": 'Añadir requisito&nbsp;<span class="sr-only">específico</span>',
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "html": 'Importar&nbsp;<span class="sr-only">requisito específico</span> desde otro servicio',
        "classes": "c-button--transparent ml-sm",
        "disabled": true
      })  }}
    </li>
  </ul>
  {{ editar.aniadirRequisito | safe }}
  <h3 id="canales-de-informacion" class="c-h3 c-anchor-scroll-edit">Canales de información adicional</h3>
  <p class="c-paragraph-base">Si es necesario, describe los canales específicos del proceso.</p>
  <ol>
    <li>
        {% call componentItem({
          "title": {
            "text": "Redes sociales",
            "classes": "font-bold"
          },
          "description": {
            "text": "Facebook"
          },
          "classes": "p-sm mb-sm",
          "isDraggable": true
        })  %}
          <div class="flex">
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> Redes sociales</span></button>
          </div>
      {% endcall %}
    </li>
  </ol>
  <ul class="flex flex-wrap gap-sm mb-2xl">
    <li>
      {{ componentButton({
        "html": 'Añadir nuevo canal&nbsp;<span class="sr-only">de información adicional</span>',
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "html": 'Importar&nbsp;<span class="sr-only">nuevo canal de información adicional</span> desde otro servicio',
        "classes": "c-button--transparent ml-sm",
        "disabled": true
      })  }}
    </li>
  </ul>
  {{ editar.aniadirNuevoCanal | safe }}
  {{ componentRadios({
    "name": "pago-de-tasas",
    "fieldset": {
      "legend": {
        "text": "Pago de tasas",
        "classes": "c-h3",
        "isPageHeading": true
      },
      "headingLevel": 3,
      "classes": "c-anchor-scroll-edit",
      "attributes": {
        "id": "pago-de-tasas"
      }
    },
    "hint": {
      "text": "Indica si la tramitación requiere el pago de tasas"
    },
    "classes": "mb-xl",
    "items": [
      {
        "name": "no-pago-tasas",
        "id": "no-pago-tasas",
        "value": "no-pago-tasas",
        "text": "Esta solicitud NO requiere el pago de tasas",
        "checked": true
      },
      {
        "name": "si-pago-tasas",
        "id": "si-pago-tasas",
        "value": "si-pago-tasas",
        "text": "Esta solicitud requiere el pago de tasas",
        "conditional": {
          "html": editar.conditionalPagoTasas | safe
        }
      }
    ]
  })  }}

  {{ componentCheckboxes({
    "fieldset": {
      "legend": {
        "text": "Trámites principales",
        "classes": "c-h3",
        "isPageHeading": true
      },
      "headingLevel": 3,
      "classes": "c-anchor-scroll-edit",
      "attributes": {
        "id": "tramites-principales"
      }
    },
    "classes": "mb-xl",
    "items": [
      {
        "name": "tramite-principal-1",
        "id": "tramite-principal-1",
        "value": "tramite-principal-1",
        "text": "Subsanación",
        "hint": {
          "text": "En la tramitación del procedimiento o la gestión del servicio se prevé la posibilidad de abrir un periodo de subsanación."
        }
      },
      {
        "name": "tramite-principal-2",
        "id": "tramite-principal-2",
        "value": "tramite-principal-2",
        "text": "Procesos de participación y/o audiencia a las partes interesadas",
        "hint": {
          "text": "La tramitación del procedimiento o la gestión del servicio va a contar con un trámite de información pública o de audiencia a las personas interesadas, de acuerdo con lo previsto en su normativa reguladora."
        }
      },
      {
        "name": "tramite-principal-3",
        "id": "tramite-principal-3",
        "value": "tramite-principal-3",
        "text": "Práctica de prueba",
        "hint": {
          "text": "En la normativa reguladora del procedimiento o servicio se prevé la posibilidad de abrir un periodo de prueba."
        }
      },
      {
        "name": "tramite-principal-4",
        "id": "tramite-principal-4",
        "value": "tramite-principal-4",
        "text": "Informe preceptivos",
        "hint": {
          "text": "Es necesario pedir informes preceptivos a otros órganos administrativos con carácter previo a la terminación del procedimiento o la prestación del servicio."
        }
      },
      {
        "name": "tramite-principal-5",
        "id": "tramite-principal-5",
        "value": "tramite-principal-5",
        "text": "Resolución",
        "hint": {
          "text": "El procedimiento termina mediante resolución."
        }
      },
      {
        "name": "tramite-principal-6",
        "id": "tramite-principal-6",
        "value": "tramite-principal-6",
        "text": "Revisiones y recursos",
        "hint": {
          "text": "La resolución que finaliza el procedimiento es susceptible de recursos, reclamaciones o revisiones en vía administrativa."
        }
      },
      {
        "name": "tramite-principal-7",
        "id": "tramite-principal-7",
        "value": "tramite-principal-7",
        "text": "Obligación de pago/abono en fase de ejecución",
        "hint": {
          "text": "Con la finalización del procedimiento nace una obligación de abono o de pago respecto a la persona interesada."
        }
      }
    ]
  })  }}
  <h3 id="finalizacion-y-revision" class="c-h3 c-anchor-scroll-edit">Finalización y revisión</h3>
  <p class="c-paragraph-base">Indica las caracteristicas que tendrá este servicio o procedimiento en su fase de resolución.</p>
  {{ componentTextarea({
    "name": "plazo-para-la-notificacion-de-la-resolucion",
    "id": "plazo-para-la-notificacion-de-la-resolucion",
    "label": {
      "text": "Plazo para la notificación de la resolución",
      "classes": "font-semibold"
    },
    "classes": "w-full max-h-xl mb-base"
  })  }}
  {{ editar.silencioAdministrativo | safe }}
  {{ editar.efectosDeLaResolucion | safe }}
  {{ editar.recursosUOtrosProcedimientos | safe }}
  <div class="pb-2xl"></div>

  <h3 id="informacion-adicional" class="c-h3 c-anchor-scroll-edit">Información adicional</h3>
  <p class="c-paragraph-base">Si es necesario añade cualquier información adicional que sea de ayuda para la tramitación o gestión de este servicio y que no se haya podido poner en otros apartados anteriores.</p>
  {{ componentCharacterCount({
    "id": "info-adicional",
    "name": "info-adicional",
    "rows": 10,
    "classes": "w-full",
    "label": {
      "text": "Información adicional",
      "classes": "sr-only"
    },
    "maxlength": 500,
    "countMessage": {
      "classes": "text-right mb-2xl"
    }
  })  }}
  <h3 id="enlaces-y-documentos-con-informacion-adicional" class="c-h3 c-anchor-scroll-edit">Enlaces y documentos con información adicional</h3>
  <p class="c-paragraph-base">También puede añadir URL o documentos como información adicional.</p>
  <ol>
    <li>
      {% call componentItem({
        "title": {
          "text": "Resolución de años anteriores"
        },
        "content": {
          "html": '<a class="c-link break-all" href="#">Resolución años anteriores (PDF, 20Kb)</a>'
        },
        "icon": {
          "type": "document"
        },
        "classes": "mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "8" %}
            {% set dropdownTitle = "Resolución de años anteriores" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "html": '<a href="#" class="c-link">Lista de admitidos y excluidos de la convocatoria publicado en el BOA</a>'
        },
        "icon": {
          "type": "link"
        },
        "classes": "mb-sm",
        "isDraggable": true
      })  %}
          <div class="flex">
            {% set dropdownId = "9" %}
            {% set dropdownTitle = "Lista de admitidos y excluidos de la convocatoria publicado en el BOA" %}
            {% include "includes/_dropdown-drag-and-drop.njk" %}
            <button class=" c-button c-button--sm c-button--transparent ml-sm">Editar<span class="sr-only"> {{ dropdownTitle }}</span></button>
          </div>
      {% endcall %}
    </li>
  </ol>
  <ul class="flex flex-wrap gap-sm mb-2xl">
    <li>
      {{ componentButton({
        "html": 'Añadir URL&nbsp;<span class="sr-only">a Enlaces y documentos con información adicional</span>',
        "href": "#"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "html": 'Añadir documento&nbsp;<span class="sr-only">a Enlaces y documentos con información adicional</span>',
        "href": "#"
      })  }}
    </li>
  </ul>
  {{ editar.aniadirURL | safe }}
  {{ editar.aniadirDocumento | safe }}
  {{ componentCheckboxes({
    "name": "otras-consideraciones",
    "fieldset": {
      "legend": {
        "text": "Otras consideraciones",
        "classes": "c-h3",
        "isPageHeading": true
      },
      "headingLevel": 3,
      "classes": "c-anchor-scroll-edit",
      "attributes": {
        "id": "otras-consideraciones"
      }
    },
    "items": [
      {
        "name": "tramitacion-electronica",
        "id": "tramitacion-electronica",
        "value": "tramitacion-electronica",
        "text": "Tramitación de forma electrónica",
        "hint": {
          "classes": "font-normal",
          "text": "Señalar si la tramitación del precedimiento o la gestión del servicio, desde la recepción de la solicitud hasta su terminación, se realiza de forma electrónica utilizando una herramienta propia de gestión o las herramientas corporativas de adminsitración electrónica."
        }
      }
    ]
  })  }}
  <hr class="border-neutral-base my-2xl">
  <h2 id="presentacion-de-solicitud" class="c-h1 c-anchor-scroll-edit">Presentación de solicitud</h2>
  <h3 id="organo-de-destino" class="c-h3 c-anchor-scroll-edit">Órgano de destino <span class="font-normal text-sm text-neutral-dark">(Obligatorio para publicar)</span></h3>
  <p class="c-paragraph-base">Indica los órganos destinatarios de la solicitud.</p>
  <ul class="flex flex-wrap gap-xs mb-base">
    <li>
      {{ componentPill({
        "type": "button",
        "html": 'Organismo nombre <svg viewBox="0 0 140 140" class=" self-center ml-2 " aria-hidden="true" width=" .75em " height=" .75em "><path fill="currentColor" d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z"/></svg>',
        "classes": "cursor-pointer"
      })  }}
    </li>
    <li>
      {{ componentPill({
        "type": "button",
        "html": 'Organismo nombre <svg viewBox="0 0 140 140" class=" self-center ml-2 " aria-hidden="true" width=" .75em " height=" .75em "><path fill="currentColor" d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z"/></svg>',
        "classes": "cursor-pointer"
      })  }}
    </li>
  </ul>
  <div class="mb-2xl">
    {% include "includes/_anadir-organo.njk" %}
  </div>
  {{ componentCheckboxes({
    "fieldset": {
      "legend": {
        "text": "Forma de presentar la solicitud",
        "classes": "c-h3",
        "isPageHeading": true
      },
      "headingLevel": 3,
      "classes": "c-anchor-scroll-edit",
      "attributes": {
        "id": "forma-de-presentar-la-solicitud"
      }
    },
    "formGroup": {
        "classes": "mb-base"
    },
    "items": [
      {
        "name": "forma-presencial-2",
        "id": "forma-presencial-2",
        "value": "forma-presencial-2",
        "text": "Presencial",
        "conditional": {
          "html": editar.conditionalFormaPresencial | safe
        }
      },
      {
        "name": "forma-electronica-2",
        "id": "forma-electronica-2",
        "value": "forma-electronica-2",
        "text": "Electrónico",
        "checked": true,
        "conditional": {
          "html": editar.conditionalFormaElectronico | safe
        }
      }
    ]
  })  }}
  {% from "components/details/_macro.details.njk" import componentDetails %}
  {% call componentDetails({
    "summary": {
      "html": "Más opciones de presentación"
    },
    "classes": "mb-2xl"
  })  %}
      {{ editar.masOpcionesDePresentacion | safe }}
  {% endcall %}

  {{ componentRadios({
    "name": "plazo-presentacion",
    "fieldset": {
      "legend": {
        "text": "Plazos de presentación",
        "classes": "c-h3",
        "isPageHeading": true
      },
      "headingLevel": 3,
      "classes": "c-anchor-scroll-edit",
      "attributes": {
        "id": "plazos-de-presentacion"
      }
    },
    "hint": {
      "text": "Indica qué plazos de presentación se pueden dar"
    },
    "classes": "mb-xl",
    "items": [
      {
        "name": "plazo-permanente",
        "id": "plazo-permanente",
        "value": "plazo-permanente",
        "text": "Permanente",
        "hint": {
          "classes": "font-normal",
          "text": "No existe un límite de tiempo para presentar la solicitud."
        }
      },
      {
        "name": "plazo-temporal",
        "id": "plazo-temporal",
        "value": "plazo-temporal",
        "text": "Temporal",
        "checked": true,
        "hint": {
          "classes": "font-normal",
          "text": "Existe un período de tiempo para presentar la solicitud."
        },
        "conditional": {
          "html": editar.conditionalPlazos |safe
        }
      }
    ]
  })  }}
  <hr class="border-neutral-base my-2xl">
  <h2 id="modelo-de-solicitud" class="c-h1 c-anchor-scroll-edit">Modelo normalizado de solicitud</h2>
  <p class="c-paragraph-base">Indica si es necesario la presentación de un modelo normalizado de solicitud para este procedimiento o servicio.</p>
  {{ componentRadios({
    "name": "modelo-solicitud",
    "fieldset": {
      "legend": {
        "text": "Modelo de solicitud",
        "classes": "sr-only"
      }
    },
    "classes": "mb-xl",
    "items": [
      {
        "name": "modelo-no",
        "id": "modelo-no",
        "value": "modelo-no",
        "text": "No es necesario un modelo normalizado de solicitud"
      },
      {
        "name": "modelo-si",
        "id": "modelo-si",
        "value": "modelo-si",
        "text": "Es necesario un modelo normalizado de solicitud",
        "conditional": {
          "html": editar.conditionalModelo | safe
        },
        "checked": true
      }
    ],
    "formGroup": {
      "classes": "overflow-x-auto"
    }
  })  }}
  <hr class="border-neutral-base my-2xl">
  <h2 id="documentacion-necesaria" class="c-h1 c-anchor-scroll-edit">Documentación necesaria</h2>
  <p class="c-paragraph-base">
    Indica qué documentación es necesaria aportar para acceder al servicio. <a href="#" class="c-link">Más sobre documentación</a>
  </p>
  {{ componentRadios({
    "name": "docu-presentacion",
    "fieldset": {
      "legend": {
        "text": "Documentación a presentar",
        "classes": "sr-only"
      }
    },
    "items": [
      {
        "name": "doc-no",
        "id": "doc-no",
        "value": "doc-no",
        "text": "No se requiere aportar documentación",
        "checked": true
      },
      {
        "name": "doc-si",
        "id": "doc-si",
        "value": "doc-si",
        "text": "Es necesario aportar documentación",
        "checked": true,
        "conditional": {
          "html": editar.conditionalAportarDocumentacion | safe
        }
      }
    ]
  })  }}
{% endblock %}