{% set title = "0.1.P-pop-up-nuevo-servicio" %}
{% extends "pages/_template.modal.njk" %}

{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/hint/_macro.hint.njk" import componentHint %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}

{% block modalBlock %}
  {% call componentDialog({
    "button": {
      "text": "Open modal",
      "attributes": {
        "onclick": "openDialog('default', this, 'label-nuevo-servicio')"
      }
    },
    "id": "default",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-nuevo-servicio",
      "aria-modal": true
    }
  })  %}
    {% call componentModal({
      "id": "nuevo-servicio",
      "title": {
        "text": "Nuevo servicio",
        "classes": "c-h1 mx-base text-left focus:outline-none focus:underline"
      },
      "itemsPrimary": [
        {
          "text": "Crear",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "classes": "max-w-4xl"
    })  %}
      {{ componentCharacterCount({
        "name": "denominacion",
        "id": "denominacion",
        "maxlength": 200,
        "label": {
          "text": "Denominación",
          "classes": "font-bold"
        },
        "hint": {
          "html": 'Indica el nombre del procedimiento que se mostrará en aragon.es y que verán las personas o entidades interesadas. <a href="#" class="c-link">Ver ejemplos <span class="sr-only">de nombres de procedimientos</span></a>'
        },
        "errorMessage": {
          "text": "Error: Este campo es obligatorio."
        },
        "classes": "w-full",
        "countMessage": {
          "classes": "mb-xl"
        }
      })  }}
      <div class="lg:flex lg:flex-wrap justify-between items-center mb-base">
        <h3 class="font-bold mb-sm">Tipos de servicio</h3>
        {{ componentToggle({
          "classes": "c-button c-button--sm c-button--transparent no-underline",
          "offState": {
            "classes": "",
            "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><g transform=\"scale(3.42857)\"><circle cx=\"7\" cy=\"7\" r=\"2\" fill=\"currentColor\" /><path d=\"m13.47 5.65-.14-.15C12.2 4.28 10.1 2 7 2S1.8 4.28.67 5.5l-.14.15a2 2 0 0 0 0 2.7l.14.15C1.8 9.72 3.9 12 7 12s5.2-2.28 6.33-3.5l.14-.15a2 2 0 0 0 0-2.7Zm-1.64 1.52C10.53 8.57 9 10 7 10S3.47 8.57 2.17 7.17a.25.25 0 0 1 0-.34C3.49 5.41 5 4 7 4s3.51 1.41 4.83 2.83a.25.25 0 0 1 0 .34Z\" fill=\"currentColor\"/></g></svg>Mostrar ayuda</span>"
          },
          "onState": {
            "classes": "",
            "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M13.33 5.5c-.2-.21-.43-.46-.69-.72a.25.25 0 0 0-.18-.08.26.26 0 0 0-.17.07l-1.07 1.07a.24.24 0 0 0 0 .35c.21.21.41.42.61.64a.25.25 0 0 1 0 .34C10.57 8.53 9.11 9.93 7.16 10a.28.28 0 0 0-.17.07l-1.38 1.38a.25.25 0 0 0-.06.25.24.24 0 0 0 .19.17A6.4 6.4 0 0 0 7 12c3.1 0 5.2-2.28 6.33-3.5l.14-.15a2 2 0 0 0 0-2.7ZM13.78.22a.75.75 0 0 0-1.06 0l-2.47 2.47a.26.26 0 0 1-.29 0A6.51 6.51 0 0 0 7 2C3.9 2 1.8 4.28.67 5.5l-.14.15a2 2 0 0 0 0 2.7l.14.15a18.42 18.42 0 0 0 1.71 1.67.21.21 0 0 1 .09.18.23.23 0 0 1-.07.19L.22 12.72a.75.75 0 0 0 0 1.06.75.75 0 0 0 1.06 0l12.5-12.5a.75.75 0 0 0 0-1.06Zm-11.61 7a.25.25 0 0 1 0-.34C3.49 5.41 5 4 7 4a4.18 4.18 0 0 1 1.24.18.26.26 0 0 1 .17.18.27.27 0 0 1-.07.24L4.18 8.76a.26.26 0 0 1-.33 0 16 16 0 0 1-1.68-1.59Z\" fill=\"currentColor\" transform=\"scale(3.42857)\"/></svg><span aria-hidden=\"true\">Ocultar ayuda</span><span class=\"sr-only\">Mostrar ayuda</span></span>"
          },
          "attributes": {
            "onclick": "toggleHelp()"
          }
        })  }}
        <script>
          function toggleHelp() {
            var elements = document.querySelectorAll('[data-module="hint-ayuda"]');
            for (var i = 0; i < elements.length; i++) {
              elements[i].classList.toggle('hidden');
            }
          }
        </script>
      </div>

      <div class="mb-xl">
        {{ componentRadios({
          "idPrefix": "servicio",
          "name": "servicio",
          "fieldset": {
            "legend": {
              "text": "Tipo de servicio por procedimiento",
              "classes": "sr-only"
            }
          },
          "formGroup": {
            "classes": "mb-0"
          },
          "items": [
            {
              "value": "procedimiento",
              "text": "Procedimiento",
              "hint": {
                "text": "Servicio que se presta a través de un cauce formal constituido por un conjunto de trámites y actos administrativos predeterminados.",
                "classes": "hidden text-sm",
                "attributes": {
                  "data-module": "hint-ayuda"
                }
              },
              "checked": true
            },
            {
              "value": "sin-tramitacion",
              "text": "Servicio sin tramitación de procedimiento",
              "hint": {
                "text": "Servicio que se presta sin los requisitos que condicionan un procedimiento y que suele agotarse en una sola actuación administrativa de acceso",
                "classes": "hidden text-sm",
                "attributes": {
                  "data-module": "hint-ayuda"
                }
              },
              "classes": "pr-sm"
            }
          ],
          "classes": "lg:grid lg:grid-cols-2 lg:gap-base -mb-px border-t border-b border-neutral-base"
        })  }}
        {{ componentRadios({
          "idPrefix": "interno/externo",
          "name": "interno/externo",
          "fieldset": {
            "legend": {
              "text": "Tipo de servicio por externo/interno",
              "classes": "sr-only"
            }
          },
          "formGroup": {
            "classes": "mb-0"
          },
          "items": [
            {
              "value": "externo",
              "text": "Externo",
              "hint": {
                "text": "Servicio para los ciudadanos o empresas que se publicará en aragon.es",
                "classes": "hidden text-sm",
                "attributes": {
                  "data-module": "hint-ayuda"
                }
              },
              "checked": true
            },
            {
              "value": "interno",
              "text": "Interno",
              "hint": {
                "text": "Servicio interno de la Administración. No visible en aragon.es",
                "classes": "hidden text-sm",
                "attributes": {
                  "data-module": "hint-ayuda"
                }
              },
              "classes": "pr-sm"
            }
          ],
          "classes": "lg:grid lg:grid-cols-2 lg:gap-base -mb-px border-t border-b border-neutral-base"
        })  }}
        {{ componentRadios({
          "idPrefix": "especifico-comun",
          "name": "especifico/comun",
          "fieldset": {
            "legend": {
              "text": "Tipo de servicio por especificidad",
              "classes": "sr-only"
            }
          },
          "formGroup": {
            "classes": "mb-0"
          },
          "items": [
            {
              "value": "especifico",
              "text": "Específico",
              "hint": {
                "text": "Servicio que se tramita y resuelve en un único departamento u organismo público.",
                "classes": "hidden text-sm",
                "attributes": {
                  "data-module": "hint-ayuda"
                }
              },
              "checked": true
            },
            {
              "value": "uso-comun",
              "text": "Específico de uso común",
              "hint": {
                "text": "Servicio que se tramita en los diferentes departamentos y organismos y se resuelve por un único órgano.",
                "classes": "hidden text-sm",
                "attributes": {
                  "data-module": "hint-ayuda"
                }
              },
              "classes": "pr-sm"
            },
            {
              "value": "comun",
              "text": "Común",
              "hint": {
                "text": "Servicio que se tramita y se resuelve en los diferentes departamentos y organismos.",
                "classes": "hidden text-sm",
                "attributes": {
                  "data-module": "hint-ayuda"
                }
              },
              "classes": "pr-sm"
            }
          ],
          "classes": "lg:grid lg:grid-cols-3 lg:gap-base -mb-px border-t border-b border-neutral-base"
        })  }}
      </div>
      {{ componentRadios({
        "idPrefix": "caracteristicas",
        "name": "caracteristicas",
        "fieldset": {
          "legend": {
            "text": "Características de la tramitación"
          }
        },
        "items": [
          {
            "value": "estandar",
            "text": "Estándar",
            "checked": true,
            "hint": {
              "text": "Es un servicio que sólo acepta una tramitación estándar"
            }
          },
          {
            "value": "convocatorias",
            "text": "Convocatorias",
            "hint": {
              "text": "Es un servicio que posee convocatorias"
            }
          },
          {
            "value": "procesos-especificos",
            "text": "Procesos específicos",
            "hint": {
              "text": "Es un servicio que puede tener varios procesos asociados. Por ejemplo: alta, baja, modificación"
            }
          }
        ]
      })  }}
      {% include "includes/_arbol-organo-administrativo-responsable-del-servicio.njk" %}
      {{ componentCheckboxes({
        "idPrefix": "formas-de-iniciar",
        "name": "formas-de-iniciar",
        "fieldset": {
          "legend": {
            "text": "Selecciona las formas de iniciar el servicio"
          }
        },
        "items": [
          {
            "value": "inicio-de-oficio",
            "text": "Inicio de oficio",
            "checked": true
          },
          {
            "value": "inicio-a-instancia",
            "text": "Inicio a instancia del interesado",
            "checked": true
          }
        ]
      })  }}
      {{ componentCheckboxes({
        "idPrefix": "convocatorias",
        "name": "convocatorias",
        "fieldset": {
          "legend": {
            "text": "Convocatorias"
          }
        },
        "items": [
          {
            "value": "convocatorias-si",
            "text": "Este servicio tiene convocatorias",
            "checked": true
          }
        ]
      })  }}
      {# Esta notificación debería aparecer de forma accesible con su propio section como está en desy-html-templates #}
      <section id="notification-modal-container" aria-labelledby="notification-modal-heading" class="sticky z-10 top-base lg:top-2xl w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
        <h2 id="notification-modal-heading" class="sr-only">Avisos importantes de la ventana emergente</h2>
        {{ componentErrorSummary({
          "titleText": "Faltan los siguientes campos por rellenar",
          "headingLevel": 2,
          "errorList": [
            {
              "text": "Denominación",
              "href": "#denominacion"
            }
          ],
          "classes": "mb-lg"
        })  }}
      </section>
      <hr class="-mx-base border-t border-neutral-base">
    {% endcall %}
  {% endcall %}
{% endblock %}