{% set title = "Todos los servicios. Catálogo de servicios. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-fixed-headroom.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/item-list-services-condensed/_macro.item-list-services-condensed.njk" import componentItemListServicesCondensed %}
{% from "components/label/_macro.label.njk" import componentLabel %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block contentBlock %}
<div class="pb-lg"></div>
<div class="lg:flex lg:flex-wrap w-full">
  <h1 id="page-title" class="c-h1 flex-1">Todos los servicios</h1>
  <div class="lg:order-3 w-full mb-base lg:mb-lg">
    <div class="lg:w-3/4">
      <h2 class="sr-only">Búsqueda</h2>
      {{ componentSearchbar({
        "id": "searchbar-servicios",
        "label": {
          "text": "Buscar"
        },
        "placeholder": "Buscar servicio..."
      })  }}
    </div>
  </div>
  <section class="flex lg:items-start mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
    <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
    {{ componentButton({
    "text": "Nuevo Servicio",
    "classes": "c-button--primary"
    })  }}
  </section>
</div>

<section class="lg:flex lg:flex-wrap lg:w-full mb-sm" aria-labelledby="filtros-y-ordenacion">
  <h2 class="sr-only" id="filtros-y-ordenacion">Filtros y ordenación</h2>
  <div>{% include "includes/_filtro-organismos.njk"%}</div>
  <div>{% include "includes/_filtro-temas.njk"%}</div>
  <div class="lg:flex-1">
    {% include "includes/_menubar-filtro-orden.njk"%}
  </div>
</section>

<section aria-labelledby="lista">
  <h2 id="lista" class="sr-only">Lista de Servicios</h2>
  <ul aria-labelledby="page-title">
    <li>
      {% set itemId = "1452" %}
      {% set itemText = "Premios de Orientación Profesional 1" %}
      {% include "includes/_component-item-list-services-condensed.njk" %}
    </li>
    <li>
      {% set itemId = "1453" %}
      {% set itemText = "Premios de Orientación Profesional 2" %}
      {% include "includes/_component-item-list-services-condensed.njk" %}
    </li>
    <li>
      {% set itemId = "1454" %}
      {% set itemText = "Premios de Orientación Profesional 3" %}
      {% include "includes/_component-item-list-services-condensed.njk" %}
    </li>
    <li>
      {% set itemId = "1455" %}
      {% set itemText = "Premios de Orientación Profesional 4" %}
      {% include "includes/_component-item-list-services-condensed.njk" %}
    </li>
    <li>
      {% set itemId = "1456" %}
      {% set itemText = "Premios de Orientación Profesional 5" %}
      {% include "includes/_component-item-list-services-condensed.njk" %}
    </li>
    <li>
      {% set itemId = "1457" %}
      {% set itemText = "Premios de Orientación Profesional 6" %}
      {% include "includes/_component-item-list-services-condensed.njk" %}
    </li>
    <li>
      {% set itemId = "1458" %}
      {% set itemText = "Premios de Orientación Profesional 7" %}
      {% include "includes/_component-item-list-services-condensed.njk" %}
    </li>
    <li>
      {% set itemId = "1459" %}
      {% set itemText = "Premios de Orientación Profesional 8" %}
      {% include "includes/_component-item-list-services-condensed.njk" %}
    </li>
  </ul>
</section>

<div class="mt-base">
  <h2 id="paginacion" class="sr-only">Paginación</h2>
  {{ componentPagination({
    "hasSelect": true,
    "idPrefix": "pagination-without-prev",
    "totalItems": "64",
    "itemsPerPage": "10",
    "items": [
      {
        "href": "#",
        "text": 1,
        "active": true
      },
      {
        "href": "#",
        "text": 2
      },
      {
        "href": "#",
        "text": 3
      },
      {
        "href": "#",
        "text": 4
      },
      {
        "href": "#",
        "text": 5
      },
      {
        "href": "#",
        "text": 6
      }
    ],
    "hasPrevious": false,
    "hasNext": true,
    "previousText": "Anterior",
    "nextText": "Siguiente"
  })  }}
</div>

{% endblock %}