{% set title = "06.1.2-pop-up-mandar-cambios-a-validar" %}
{% extends "pages/_template.modal.njk" %}

{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block modalBlock %}
  {% call componentDialog({
    "button": {
      "text": "Open modal",
      "attributes": {
        "onclick": "openDialog('default', this, 'label-mandar-cambios-a-publicar')"
      }
    },
    "id": "default",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-mandar-cambios-a-publicar",
      "aria-modal": true
    }
  })  %}

    {% call componentModal({
      "id": "mandar-cambios-a-publicar",
      "title": {
        "text": "Mandar cambios a publicar"
      },
      "description": {
        "html": "Se van a publicar todos los cambios realizados en todos los elementos de este servicio, que son:"
      },
      "itemsPrimary": [
        {
          "text": "Mandar a publicar",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="block w-16 h-16 text-primary-base" focusable="false" aria-hidden="true" role="presentation"><path d="M6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11Zm2.39 5.69a.51.51 0 0 1 .06.53.5.5 0 0 1-.45.28h-.75a.25.25 0 0 0-.25.25v2.75a1 1 0 0 1-2 0v-2.75a.25.25 0 0 0-.25-.25H4.5a.5.5 0 0 1-.45-.28.51.51 0 0 1 .06-.53l2-2.5a.51.51 0 0 1 .78 0Z" fill="currentColor" transform="scale(2)"/><path d="M24 4.41A2 2 0 0 0 23.41 3L21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2Z" fill="currentColor" transform="scale(2)"/></svg>'
      }
    })  %}
      <div class="-mx-base">
        <h3 class="mb-base text-sm text-neutral-dark">
          1452 - Premios de orientación profesional
        </h3>
        <ul class="mb-base">
          <li class="-my-px py-base border-t border-b border-neutral-base">
            <p class="c-paragraph-base mb-0">
              Convocatoria 2020
            </p>
          </li>
          <li class="-my-px py-base border-t border-b border-neutral-base">
            <p class="c-paragraph-base mb-0">
              Solicitud de ayuda
            </p>
          </li>
        </ul>
      </div>
      {{ componentErrorSummary({
        "titleText": "Atención",
        "headingLevel": 3,
        "errorList": [
          {
            "text": "No se pueden mandar cambios a publicar porque este servicio está incompleto."
          }
        ],
        "classes": "-mx-base"
      })  }}
    {% endcall %}

  {% endcall %}
{% endblock %}