{% set title = "06.2-pop-up-publicar" %}
{% extends "pages/_template.modal.njk" %}

{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block modalBlock %}
  {% call componentDialog({
    "button": {
      "text": "Open modal",
      "attributes": {
        "onclick": "openDialog('default', this, 'label-publicar')"
      }
    },
    "id": "default",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-publicar",
      "aria-modal": true
    }
  })  %}

    {% call componentModal({
      "id": "publicar",
      "title": {
        "text": "Publicar"
      },
      "description": {
        "html": "Se van a publicar todos los elementos de este servicio que están pendientes de publicación, que son:"
      },
      "itemsPrimary": [
        {
          "text": "Validar y publicar",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="block w-16 h-16 text-success-dark" focusable="false" aria-hidden="true" role="presentation"><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z" fill="currentColor" transform="scale(2)"/><path d="M6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11Zm3.27 5.21-2.9 3.87a1.48 1.48 0 0 1-1.2.6 1.5 1.5 0 0 1-1.06-.44l-1.5-1.5a.75.75 0 0 1 1.06-1.06L5.47 19a.24.24 0 0 0 .37 0l2.73-3.7a.75.75 0 1 1 1.2.91Z" fill="currentColor" transform="scale(2)"/></svg>'
      }
    })  %}
        {{ componentCheckboxes({
          "idPrefix": "publicar-checkboxes",
          "fieldset": {
            "legend": {
              "text": "Elementos a validar",
              "classes": "sr-only"
            }
          },
          "hasDividers": true,
          "items": [
            {
              "name": "servicio",
              "id": "datos-servicio",
              "value": "datos-servicio",
              "text": "Datos generales del servicio"
            },
            {
              "name": "convocatoria-2019",
              "id": "convocatoria-2019",
              "value": "convocatoria-2019",
              "text": "Convocatoria 2019"
            },
            {
              "name": "baja",
              "id": "baja",
              "value": "baja",
              "text": "Baja del servicio"
            }
          ]
        })  }}
    {% endcall %}

  {% endcall %}
{% endblock %}