{% set title = "06.3-pop-up-publicar-convocatorias" %}
{% extends "pages/_template.modal.njk" %}

{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/select/_macro.select.njk" import componentSelect %}


{% block modalBlock %}
  {% call componentDialog({
    "button": {
      "text": "Open modal",
      "attributes": {
        "onclick": "openDialog('default', this, 'label-publicar-convocatorias')"
      }
    },
    "id": "default",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-publicar-convocatorias",
      "aria-modal": true
    }
  })  %}

    {% call componentModal({
      "id": "publicar-convocatorias",
      "title": {
        "text": "Actualmente ya existen convocatorias publicadas y en plazo para este servicio"
      },
      "description": {
        "html": '<p class="c-paragraph-base">Vas a publicar una nueva convocatoria:<strong>"Convocatoria 2019"</strong>.</p><p class="c-paragraph-base">Indica qué quieres hacer con las convocatorias que están actualmente publicadas:</p>'
      },
      "itemsPrimary": [
        {
          "text": "Publicar",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "classes": "max-w-3xl",
      "isDismissible": true,
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="block w-16 h-16 text-success-dark" focusable="false" aria-hidden="true" role="presentation"><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z" fill="currentColor" transform="scale(2)"/><path d="M6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11Zm3.27 5.21-2.9 3.87a1.48 1.48 0 0 1-1.2.6 1.5 1.5 0 0 1-1.06-.44l-1.5-1.5a.75.75 0 0 1 1.06-1.06L5.47 19a.24.24 0 0 0 .37 0l2.73-3.7a.75.75 0 1 1 1.2.91Z" fill="currentColor" transform="scale(2)"/></svg>'
      }
    })  %}
        <ul class="-mx-base">
          <li class="lg:flex lg:flex-wrap lg:gap-base -my-px border-t border-b border-neutral-base">
            {{ componentSelect({
              "id": "select-convocatorias-1",
              "name": "select-convocatorias-1",
              "classes": "lg:flex-1",
              "label": {
                "text": "Convocatoria 2018",
                "classes": "flex-1 lg:py-sm"
              },
              "formGroup": {
                "classes": "w-full my-base lg:flex lg:flex-wrap lg:items-center lg:gap-base"
              },
              "items": [
                {
                  "value": 1,
                  "text": "Mantener publicada",
                  "selected": true
                },
                {
                  "value": 2,
                  "text": "Option 2"
                },
                {
                  "value": 3,
                  "text": "Option 3"
                }
              ]
            })  }}
          </li>
          <li class="lg:flex lg:flex-wrap lg:gap-base -my-px border-t border-b border-neutral-base">
            {{ componentSelect({
              "id": "select-convocatorias-2",
              "name": "select-convocatorias-2",
              "classes": "lg:flex-1",
              "label": {
                "text": "Justificación de las ayudas. Convocatoria normal",
                "classes": "flex-1 lg:py-sm"
              },
              "formGroup": {
                "classes": "w-full mt-sm mb-base lg:flex lg:flex-wrap lg:items-center lg:gap-base"
              },
              "items": [
                {
                  "value": 1,
                  "text": "Mantener publicada",
                  "selected": true
                },
                {
                  "value": 2,
                  "text": "Option 2"
                },
                {
                  "value": 3,
                  "text": "Option 3"
                }
              ]
            })  }}
          </li>
        </ul>
    {% endcall %}

  {% endcall %}
{% endblock %}