{% set title = "06.4-pop-up-despublicar" %}
{% extends "pages/_template.modal.njk" %}

{% from "components/hint/_macro.hint.njk" import componentHint %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block modalBlock %}
  {% call componentDialog({
    "button": {
      "text": "Open modal",
      "attributes": {
        "onclick": "openDialog('default', this, 'label-baja-servicio')"
      }
    },
    "id": "default",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-baja-servicio",
      "aria-modal": true
    }
  })  %}
    {% call componentModal({
      "id": "baja-servicio",
      "title": {
        "text": "Dar de baja un servicio"
      },
      "description": {
        "html": "Ningún usuario externo tendrá acceso a este servicio ni a sus convocatorias o procesos específicos. Ni de manera interna, ni de manera externa."
      },
      "itemsPrimary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Dar de baja",
          "classes": "c-button--alert"
        }
      ],
        "isDismissible": true,
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="block w-16 h-16 text-alert-base" focusable="false" aria-hidden="true" role="presentation"><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.28a.26.26 0 0 0 .24.25c.37 0 1 0 1.49.08A.25.25 0 0 0 8 9.36V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-6.86a.25.25 0 0 0-.24.21 8.9 8.9 0 0 1-.4 1.46.24.24 0 0 0 .23.33H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z" fill="currentColor" transform="scale(2)"/><path d="M6.5 11a6.5 6.5 0 1 0 6.5 6.5A6.51 6.51 0 0 0 6.5 11ZM9 18.25H4a.75.75 0 0 1 0-1.5h5a.75.75 0 0 1 0 1.5Z" fill="currentColor" transform="scale(2)"/></svg>'
        }
    })  %}
      {{ componentInput({
        "label": {
           "html": "Escribe <strong class=\" font-bold \">BAJA</strong> en mayúsculas en el campo de abajo para asegurarnos que realmente quieres dar de baja el servicio.",
          "classes": "text-neutral-dark"
        },
        "id": "baja",
        "name": "baja",
        "classes": "w-full border-2 border-alert-base"
      })  }}
    {% endcall %}
  {% endcall %}
{% endblock %}