{% set title = "06.5-pop-up-editar-publicado" %}
{% extends "pages/_template.modal.njk" %}

{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block modalBlock %}
  {% call componentDialog({
    "button": {
      "text": "Open modal",
      "attributes": {
        "onclick": "openDialog('default', this, 'label-editar-servicio')"
      }
    },
    "id": "default",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-editar-servicio",
      "aria-modal": true
    }
  })  %}
    {{ componentModal({
      "id": "editar-servicio",
      "title": {
        "text": "Editar servicio publicado"
      },
      "description": {
        "html": '<p class="c-paragraph-base mb-0 text-center">Actualmente este servicio está publicado.</p><p class="c-paragraph-base text-center">Los cambios realizados no serán visibles hasta que sean validados.</p>'
      },
      "itemsPrimary": [
        {
          "text": "Lo sé, quiero editarlo",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="block w-16 h-16 text-primary-base" focusable="false" aria-hidden="true" role="presentation"><path d="M23.41 3 21 .59A2 2 0 0 0 19.58 0H8a2 2 0 0 0-2 2v9.58a.25.25 0 0 0 .42.18l1.41-1.35A.47.47 0 0 0 8 10V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-10a.47.47 0 0 0-.35.15l-1.4 1.42a.26.26 0 0 0 .18.43H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z" fill="currentColor" transform="scale(2)"/><path d="M12 11.59a2.72 2.72 0 0 0-3.6.27l-6.55 6.58a.25.25 0 0 0 0 .36l3.35 3.35a.25.25 0 0 0 .36 0l6.68-6.68a2.63 2.63 0 0 0-.24-3.88ZM1.06 20.13a.25.25 0 0 0-.42.13L0 23.4a.51.51 0 0 0 .14.45.47.47 0 0 0 .36.15h.1l3.14-.63a.25.25 0 0 0 .13-.42Z" fill="currentColor" transform="scale(2)"/></svg>'
      }
    })  }}
  {% endcall %}
{% endblock %}