{% set title = "06.6-pop-up-descartar-cambios" %}
{% extends "pages/_template.modal.njk" %}

{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block modalBlock %}
  {% call componentDialog({
    "button": {
      "text": "Open modal",
      "attributes": {
        "onclick": "openDialog('default', this, 'label-descartar-cambios')"
      }
    },
    "id": "default",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-descartar-cambios",
      "aria-modal": true
    }
  })  %}
    {{ componentModal({
      "id": "descartar-cambios",
      "title": {
        "text": "Hay cambios sin guardar"
      },
      "description": {
        "text": 'Si sales de la edición sin guardar, perderás los cambios realizados.'
      },
      "itemsPrimary": [
        {
          "text": "Guardar y salir",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Descartar cambios y salir",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "icon": {
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="block w-16 h-16 text-warning-base" focusable="false" aria-hidden="true" role="presentation"><path d="M23.41 3 21 .59A2 2 0 0 0 19.59 0H8a2 2 0 0 0-2 2v7.82a.25.25 0 0 0 .23.25 8.18 8.18 0 0 1 1.45.21.24.24 0 0 0 .32-.23V2.5a.5.5 0 0 1 .5-.5h10.88a.47.47 0 0 1 .35.15l2.12 2.12a.47.47 0 0 1 .15.35V18a.5.5 0 0 1-.5.5h-8.34a.25.25 0 0 0-.22.37l.78 1.5a.26.26 0 0 0 .22.13H22a2 2 0 0 0 2-2V4.41A2 2 0 0 0 23.41 3Z" fill="currentColor" transform="scale(2)"/><path d="M7.78 12.27a1.45 1.45 0 0 0-2.56 0L.16 21.9A1.44 1.44 0 0 0 1.44 24h10.12a1.43 1.43 0 0 0 1.28-2.09ZM5.75 16a.75.75 0 0 1 1.5 0v3a.75.75 0 0 1-1.5 0Zm.75 6.25a1 1 0 1 1 1-1 1 1 0 0 1-1 1Z" fill="currentColor" transform="scale(2)"/></svg>'
      }
    })  }}
  {% endcall %}
{% endblock %}