{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

<!-- template.logged -->
<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <!-- headerBlock -->
  {% block headerBlock %}
    {% call componentHeader({
      "homepageUrl": "../../index.html",
      "subnav": {
       "text": "Catálogo de servicios",
       "items": [
         {
           "href": "#",
           "text": "Bandeja de entrada"
         },
         {
           "href": "#",
           "text": "Carpeta del gestor"
         },
         {
           "href": "#",
           "text": "Catálogo de servicios",
           "active": true
         },
         {
           "href": "#",
           "text": "Portafirmas corporativo"
         }
       ]
      },
      "navigation": {
        "items": [
          {
            "href": "#",
            "text": "Servicios del departamento",
            "active": true
          },
          {
            "href": "#",
            "text": "Todos los servicios"
          }
          ]
      },
      "dropdown": {
        "text": "Ana Pérez",
        "items": [
          {
          "text": "Perfil",
          "href": "/"
          },
          {
          "text": "Cerrar sesión",
          "href": "/"
          }
        ]
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      },
      "classes": "relative z-40"
    }) %}
      <nav class="w-full p-2" aria-labelledby="menu-movil-title">
        <h2 id="menu-movil-title" class="sr-only">Menú principal</h2>
        <h3 class="p-base text-base font-bold">Carpeta del gestor</h3>
        {{ componentNav({
          "idPrefix": "nav-mobile-pages",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Inicio",
              "active": true
            },
            {
              "href": "#",
              "text": "Expedientes"
            },
            {
              "href": "#",
              "text": "Bandejas",
              "divider": true
            }
          ],
          "attributes": {
            "aria-label": "Lista de páginas"
          }
        })  }}
        <h3 class="p-base text-base font-bold">Usuario/a: Ana Pérez</h3>
        {{ componentNav({
          "idPrefix": "nav-mobile-user",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Perfil"
            },
            {
              "href": "#",
              "text": "Cerrar sesión"
            }
          ],
          "attributes": {
            "aria-label": "Lista de acciones de usuario"
          }
        })  }}
      </nav>
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-header.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      <div class="pb-lg"></div>
      <h1 class="c-h1">Título de página de prueba de modal</h1>
      <p class="c-paragraph-base">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Fuga repudiandae, eaque totam excepturi. Et, deserunt molestias in saepe consequuntur? Eveniet sed, aliquid fuga mollitia necessitatibus ullam sunt debitis incidunt cumque?
      Explicabo ea amet nostrum magni illum aliquid, iste odio, dicta itaque, vero ipsum unde, iure natus at a alias ab numquam animi. Nam illum ex quis dignissimos ut. Voluptate, corrupti.
      Illum suscipit harum temporibus, minus dignissimos, sed esse nam mollitia cum at id deleniti laborum nemo itaque architecto aliquam quas nostrum facilis, saepe sit velit ducimus ab eveniet? Animi, vel.
      Velit magnam vitae sunt corporis, vel ex quisquam sequi recusandae! Tenetur deleniti nulla distinctio ipsam quod sit velit neque provident, architecto repellendus itaque esse perferendis nam aspernatur, soluta quia laboriosam!
      Facere dolorum nisi mollitia vitae placeat harum quas labore cum cupiditate atque tempore tenetur similique corrupti voluptate illum rerum voluptas officia magni aspernatur modi, totam aliquam laboriosam? Deleniti, assumenda, debitis.</p>

    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.njk" %}
