{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

<!-- template.logged-out -->
<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <!-- headerBlock -->
  {% block headerBlock %}
    {{ componentHeader({
      "homepageUrl": "../../index.html",
      "expandedLogo": true,
      "classes": "relative z-40"
    }) }}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-header.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.njk" %}
