{% include "pages/_page.head.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/skip-link/_macro.skip-link.njk" import componentSkipLink %}

<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <header class="lg:fixed lg:inset-x-0 lg:top-0 z-40 bg-white border-b border-neutral-base">
    <div class="container mx-auto px-base ">
      <!-- headerSkipLinkBlock -->
      {% block headerSkipLinkBlock %}
        {{ componentSkipLink({
          "text": "Saltar al contenido principal",
          "href": "#content"
        })  }}
      {% endblock %}
      <!-- /headerSkipLinkBlock -->
      <div class="lg:flex lg:flex-wrap lg:w-full py-base">
        <div class="w-full">
          <!-- headerNavigationEditBlock -->
          {% block headerNavigationEditBlock %}
          {% endblock %}
          <!-- /headerNavigationEditBlock -->
        </div>
        <div class="flex-1 mb-base lg:mb-0">
          <!-- headerTitleEditBlock -->
          {% block headerTitleEditBlock %}
            <h1 class="uppercase">
              Editando item
              <span class="c-h3 block mt-xs normal-case">Título del item editado (h1)</span>
            </h1>
          {% endblock %}
          <!-- /headerTitleEditBlock -->
        </div>
        <!-- headerActionsEditBlock -->
        {% block headerActionsEditBlock %}
          {% include "includes/_acciones-de-cabecera.njk" %}
        {% endblock %}
        <!-- /headerActionsEditBlock -->
      </div>
    </div>
  </header>
  <main id="content" class="relative container mx-auto px-base">
    <div class="lg:pb-2xl"></div> {# This is to push the content to avoid overlapping with he fixed header. Customize this according to the header height #}
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-edit.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot-headroom.njk" %}
