{% include "pages/_page.head.njk" %}
<body class="lg:pt-16">

<header class="relative z-40 bg-white border-b border-neutral-base" data-module="c-header">
  <div class="container mx-auto px-base ">
    <div class="lg:flex lg:flex-wrap lg:w-full py-base">
      <div class="flex-1 mb-base lg:mb-0">
        <div class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="mt-xs mr-base"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M87.5 109.44H65.625v21.874M132.224 113.715a32.503 32.503 0 01-62.65-4.276M113.75 91.94h21.875V70.063M69.026 87.663a32.503 32.503 0 0162.65 4.276M30.625 61.314h26.25M30.625 83.19h17.5M30.625 105.064h17.5" stroke-width="8.749995"/><path d="M43.75 135.69H13.125a8.75 8.75 0 01-8.75-8.75V35.063a8.75 8.75 0 018.75-8.75H35a21.875 21.875 0 0143.75 0h21.875a8.75 8.75 0 018.75 8.75V48.19" stroke-width="8.749995"/><path d="M56.875 21.94a2.188 2.188 0 11-2.188 2.187 2.188 2.188 0 012.188-2.188" stroke-width="8.749995"/></g></svg>
          <div class="flex-1">
            <h1 class="text-lg uppercase font-semibold leading-tight ">Editando convocatoria</h1>
            {{ componentBreadcrumbs({
              "items": [
                {
                  "text": "1452 - Premios de Orientación Profesional",
                  "href": "#"
                },
                {
                  "text": "Nueva convocatoria"
                }
              ]
            })  }}
          </div>
        </div>
      </div>
      <ul class="flex flex-wrap lg:items-center lg:ml-auto lg:pl-base">
        <li>
          {{ componentButton({
            "text": "Salir",
            "href": "#",
            "classes": "c-button--sm"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Guardar",
            "href": "#",
            "classes": "c-button--sm ml-sm"
          })  }}
        </li>
        <li>
          {{ componentButton({
            "text": "Guardar y salir",
            "href": "#",
            "classes": "c-button--primary c-button--sm ml-sm"
          })  }}
        </li>
      </ul>
    </div>
  </div>
</header>

<main id="content" class="container mx-auto px-base">
  {% block contentBlock %}
  {% endblock %}
</main>

{% include "pages/_page.foot.njk" %}
