{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

<body class="lg:pt-14">
  {% call componentHeader({
     "subnav": {
       "text": "Catálogo de servicios",
       "items": [
         {
           "href": "#",
           "text": "Bandeja de entrada"
         },
         {
           "href": "#",
           "text": "Carpeta del gestor"
         },
         {
           "href": "#",
           "text": "Catálogo de servicios",
           "active": true
         },
         {
           "href": "#",
           "text": "Portafirmas corporativo"
         }
       ]
     },
    "navigation": {
      "items": [
        {
          "href": "#",
          "text": "Servicios del departamento",
          "active": true
        },
        {
          "href": "#",
          "text": "Todos los servicios"
        }
        ]
    },
    "dropdown": {
      "text": "Ana Pérez",
      "items": [
        {
        "text": "Perfil",
        "href": "/"
        },
        {
        "text": "Cerrar sesión",
        "href": "/"
        }
      ]
    },
    "offcanvas": {
      "text": "Menú",
      "textClose": "Cerrar menú"
    },
    "classes": "relative z-40",
    "attributes": {
      "data-module": "c-header"
    }
  }) %}
    <nav class="w-full p-2" aria-label="Menú móvil">
      <h3 class="p-base text-base font-bold">Carpeta del gestor</h3>
      {{ componentNav({
        "idPrefix": "nav-mobile-pages",
        "hasNav": false,
        "items": [
          {
            "href": "#",
            "text": "Servicios del departamento",
            "active": true
          },
          {
            "href": "#",
            "text": "Todos los servicios",
            "divider": true
          }
        ],
        "attributes": {
          "aria-label": "Lista de páginas"
        }
      })  }}
      <h3 class="p-base text-base font-bold">Usuario/a: Ana Pérez</h3>
      {{ componentNav({
        "idPrefix": "nav-mobile-user",
        "hasNav": false,
        "items": [
          {
            "href": "#",
            "text": "Perfil"
          },
          {
            "href": "#",
            "text": "Cerrar sesión",
            "divider": true
          }
        ],
        "attributes": {
          "aria-label": "Lista de acciones de usuario"
        }
      })  }}
      {% call componentDetails({
        "classes": "px-base",
        "summary": {
          "html": "Cambiar de aplicación",
          "classes": "c-link text-sm"
        }
      })  %}
          {{ componentNav({
            "idPrefix": "nav-mobile-apps",
            "hasNav": false,
            "items": [
              {
                "href": "#",
                "text": "Bandeja de entrada"
              },
              {
                "href": "#",
                "text": "Carpeta del gestor"
              },
              {
                "href": "#",
                "text": "Catálogo de servicios",
                "active": true
              },
              {
                "href": "#",
                "text": "Portafirmas corporativo"
              }
            ],
            "attributes": {
              "aria-label": "Lista de aplicaciones"
            }
          })  }}
      {% endcall %}
    </nav>
  {% endcall %}
  <main id="content" class="container mx-auto px-base">
    {% block contentBlock %}
    {% endblock %}
  </main>
{% include "pages/_page.foot.njk" %}
