{% from "components/footer/_macro.footer.njk" import componentFooter %}
{{ componentFooter({})  }}

<script src="https://cdn.jsdelivr.net/npm/details-polyfill@1.1.0/index.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6.2.6/dist/tippy-bundle.umd.min.js"></script>

<script src="../../js/index.js"></script>
</body>
</html>