{% set title = "Perfil de usuario/a. Catálogo de servicios. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-fixed-headroom.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Perfil de usuario/a</h1>
  {{ componentDescriptionList({
    "classes": "lg:flex lg:flex-wrap lg:w-full mb-xl",
    "items": [
      {
        "term": {
          "text": "Nombre"
        },
        "definition": {
          "text": "Ana Pérez"
        },
        "classes": "lg:w-1/3 mb-base lg:pr-base"
      },
      {
        "term": {
          "text": "Email"
        },
        "definition": {
          "html": '<a href="mailto:ana.perez@aragon.es" class="c-link">ana.perez@aragon.es</a>'
        },
        "classes": "lg:w-1/3 mb-base lg:pr-base"
      },
      {
        "term": {
          "text": "Puesto"
        },
        "definition": {
          "text": "Jefe de Servicio de Diseño y Desarrollo de Servicios Públicos"
        },
        "classes": "lg:w-1/3 mb-base lg:pr-base"
      },
      {
        "term": {
          "text": "Aplicaciones"
        },
        "definition": {
          "html": '<ul>
                    <li>
                      <a href="#" class="c-link">Catálogo de servicios</a>
                    </li>
                    <li>
                      <a href="#" class="c-link">Bandeja de entrada</a>
                    </li>
                    <li>
                      <a href="#" class="c-link">Carpeta del gestor</a>
                    </li>
                    <li>
                      <a href="#" class="c-link">Portafirmas corporativo</a>
                    </li>
                  </ul>'
        },
        "classes": "lg:w-1/3 mb-base lg:pr-base"
      }
    ]
  })  }}
  {{ componentButton({
    "text": "Cerrar sesión"
  })  }}

{% endblock %}