{% set title = "pop-up editar plazo y normativa" %}
{% extends "pages/_template.modal.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "components/hint/_macro.hint.njk" import componentHint %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}

{% block modalBlock %}
  {% call componentDialog({
    "button": {
      "text": "Open modal",
      "attributes": {
        "onclick": "openDialog('default', this, 'label-editar-plazo-y-normativa')"
      }
    },
    "id": "default",
    "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
    "attributes": {
      "role": "dialog",
      "aria-labelledby": "label-editar-plazo-y-normativa",
      "aria-modal": true
    }
  })  %}
    {% call componentModal({
      "id": "editar-plazo-y-normativa",
      "title": {
        "text": "Editar plazo y normativa de la convocatoria",
        "classes": "c-h1 mx-base text-left focus:outline-none focus:underline"
      },
      "description": {
        "html": 'Esta modificación <strong>no requiere validación</strong> por lo que se realizará inmediatamente.',
        "classes": "mx-base text-left"
      },
      "itemsPrimary": [
        {
          "text": "Crear",
          "classes": "c-button--primary"
        }
      ],
      "itemsSecondary": [
        {
          "text": "Cancelar",
          "classes": "c-button--secondary"
        }
      ],
      "isDismissible": true,
      "classes": "max-w-4xl"
    })  %}
      <hr class="-mx-base mt-base mb-lg border-t border-neutral-base">
      <h3 class="c-h3 mb-0">Plazo de la convocatoria</h3>
      {% call componentFieldset({
        "legend": {
          "text": "Editar plazo de la normativa",
          "classes": "mb-sm font-semibold sr-only"
        }
      })  %}
        <div class="lg:grid lg:grid-cols-2 lg:gap-4">
          <div class="mt-base">
            {{ componentDateInput({
              "id": "inicio-del-plazo",
              "namePrefix": "inicio-del-plazo",
              "fieldset": {
                "legend": {
                  "text": "Inicio del plazo"
                }
              },
              "hint": {
                "text": "Por ejemplo, 31 3 1980"
              },
              "items": [
                {
                  "name": "día",
                  "classes": "w-14",
                  "attributes": {
                    "maxlength": "2"
                  }
                },
                {
                  "name": "mes",
                  "classes": "w-14",
                  "attributes": {
                    "maxlength": "2"
                  }
                },
                {
                  "name": "año",
                  "classes": "w-20",
                  "attributes": {
                    "maxlength": "4"
                  }
                }
              ]
            })  }}
          </div>
          <div class="mt-base">
            {{ componentDateInput({
              "id": "fin-del-plazo",
              "namePrefix": "fin-del-plazo",
              "fieldset": {
                "legend": {
                  "text": "Fin del plazo"
                }
              },
              "hint": {
                "text": "Por ejemplo, 31 3 1980"
              },
              "items": [
                {
                  "name": "día",
                  "classes": "w-14",
                  "attributes": {
                    "maxlength": "2"
                  }
                },
                {
                  "name": "mes",
                  "classes": "w-14",
                  "attributes": {
                    "maxlength": "2"
                  }
                },
                {
                  "name": "año",
                  "classes": "w-20",
                  "attributes": {
                    "maxlength": "4"
                  }
                }
              ]
            })  }}
          </div>
        </div>
      {% endcall %}
      <hr class="-mx-base mb-lg border-t border-neutral-base">
      {% call componentFieldset({
        "legend": {
          "text": "Editar datos de la normativa",
          "classes": "mb-sm font-semibold sr-only"
        }
      })  %}
        <div class="mb-lg">
          {{ componentInputGroup({
            "id": "codigo-normativa",
            "fieldset": {
              "legend": {
                "text": "Código de normativa",
                "classes": "font-normal"
              }
            },
            "classes": "lg:flex items-baseline",
            "items": [
              {
                "isSelect": true,
                "name": "tipo",
                "label": {
                  "text": "Tipo",
                  "classes": "sr-only"
                },
                "formGroup": {
                  "classes": "mb-sm lg:mb-0"
                },
                "attributes": {
                  "aria-label": "Tipo"
                },
                "selectItems": [
                  {
                    "value": 0,
                    "text": "Tipo",
                    "selected": true,
                    "disabled": true
                  },
                  {
                    "value": 1,
                    "text": "Option 1"
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ]
              },
              {
                "name": "rango",
                "label": {
                  "text": "Rango/año",
                  "classes": "sr-only"
                },
                "placeholder": "Rango/año",
                "formGroup": {
                  "classes": "flex-grow lg:ml-sm mb-sm lg:mb-0"
                },
                "classes": "w-full",
                "attributes": {
                  "aria-label": "Rango o año"
                }
              },
              {
                "divider": {
                  "text": "de",
                  "classes": "ml-sm"
                }
              },
              {
                "isSelect": true,
                "name": "dia",
                "label": {
                  "text": "Día",
                  "classes": "sr-only"
                },
                "formGroup": {
                  "classes": "lg:ml-sm mb-sm lg:mb-0"
                },
                "attributes": {
                  "aria-label": "Dia"
                },
                "selectItems": [
                  {
                    "value": 0,
                    "text": "Día",
                    "selected": true,
                    "disabled": true
                  },
                  {
                    "value": 1,
                    "text": "Option 1"
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ]
              },
              {
                "divider": {
                  "text": "de",
                  "classes": "ml-sm"
                }
              },
              {
                "isSelect": true,
                "name": "mes",
                "label": {
                  "text": "Mes",
                  "classes": "sr-only"
                },
                "formGroup": {
                  "classes": "lg:ml-sm mb-sm lg:mb-0"
                },
                "attributes": {
                  "aria-label": "Mes"
                },
                "selectItems": [
                  {
                    "value": 0,
                    "text": "Mes",
                    "selected": true,
                    "disabled": true
                  },
                  {
                    "value": 1,
                    "text": "Option 1"
                  },
                  {
                    "value": 2,
                    "text": "Option 2"
                  }
                ]
              }
            ]
          })  }}
        </div>
        {{ componentCharacterCount({
          "id": "titulo-normativa",
          "name": "titulo-normativa",
          "rows": 10,
          "classes": "w-full",
          "label": {
            "text": "Título de la normativa"
          },
          "errorMessage": {
            "text": "Error: Este campo es obligatorio."
          },
          "hint": {
            "classes": "text-black",
            "html": 'Introduce el título de la normativa. Hazlo sin escribir el rango de la misma y su fecha. <a href="#" class="c-link">Ver ejemplos<span class="sr-only">&nbsp;de título de normativa</span></a>'
          },
          "maxlength": 500,
          "placeholder": "Ej: Procedimiento administrativo Común de las Administraciones Públicas",
          "countMessage": {
            "classes": "text-right mb-base"
          }
        })  }}
        {{ componentInput({
          "id": "enlace-web-de-la-normativa",
          "name": "enlace-web-de-la-normativa",
          "placeholder": "https://...",
          "classes": "w-full mb-lg",
          "label": {
            "text": "Enlace web de la normativa"
          },
          "formGroup": {
            "classes": "mb-sm"
          }
        })  }}
      {% endcall %}
      {# Esta notificación debería aparecer de forma accesible con su propio section como está en desy-html-templates #}
      <section id="notification-modal-container" aria-labelledby="notification-modal-heading" class="sticky z-10 top-base lg:top-2xl w-full" aria-hidden="true">{# aria-hidden must dissapear when a notification appears #}
        <h2 id="notification-modal-heading" class="sr-only">Avisos importantes de la ventana emergente</h2>
        {{ componentErrorSummary({
          "titleText": "Faltan los siguientes campos por rellenar",
          "headingLevel": 2,
          "errorList": [
            {
              "text": "Titulo de la normativa",
              "href": "#titulo-normativa"
            }
          ],
          "classes": "mb-lg"
        })  }}
      </section>
      <hr class="-mx-base border-t border-neutral-base">
    {% endcall %}
  {% endcall %}
{% endblock %}