{% set title = "Documentos de tramitación. Proceso específico: 21342 - Aportación de documentación justificativa. " %}
{% extends "pages/_template.logged-selector-subheader-fixed-headroom.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/detail-header/_macro.detail-header.njk" import componentDetailHeader %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item-list-service-history/_macro.item-list-service-history.njk" import componentItemListServiceHistory %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}

{% import "includes/_editar-varios.njk" as editar with context %}

{% set itemId = "21342" %}
{% set itemText = "Aportación de documentación justificativa" %}
{% import "includes/_actions-examples-item-list-services.njk" as actions with context %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark">
    <div class="container mx-auto mt-lg -mb-px px-base">
      {% call componentDetailHeader({
        "idNumber": itemId,
        "breadcrumbs": {
          "items": [
            {
              "text": "Servicios del departamento",
              "href": "/"
            },
            {
              "text": "1452 - Premios de Orientación Profesional",
              "href": "/"
            },
            {
              "text": itemId + " - " + itemText
            }
          ]
        },
        "text": itemText,
        "icon": {
          "type": "proceso"
        },
        "status": {
          "type": "para-publicar"
        },
        "menuHorizontal": {
          "classes": "c-menu-horizontal--tabs text-sm w-full",
          "items": [
            {
              "href": "#",
              "text": "Datos, documentos y presentación"
            },
            {
              "href": "#",
              "text": "Documentos de tramitación",
              "active": true
            },
            {
              "href": "#",
              "text": "Histórico"
            }
          ],
          "attributes": {
            "aria-labelledby": itemId
          }
        }
      })  %}
        {% call componentDropdown({
          "html": 'Más <span class="sr-only">acciones</span>',
          "classes": "c-dropdown--secondary c-dropdown--sm mr-sm"
        })  %}
            {{ componentNav({
              "hasNav": true,
              "idPrefix": "mas-acciones-proceso",
              "attributes": {
                "id": "mas-acciones",
                "aria-label": "Más acciones del proceso"
              },
              "items": [
                {
                  "href": "#",
                  "text": "Cancelar envío a publicar"
                },
                {
                  "href": "#",
                  "text": "Duplicar"
                }
              ],
              "classes": "w-max max-w-64"
            })  }}
        {% endcall %}
        {{ componentButton({
          "text": "Rechazar",
          "classes": "c-button--sm mr-sm"
        })  }}
        {{ componentButton({
          "text": "Previsualizar",
          "classes": "c-button--sm mr-sm"
        })  }}
                {{ componentButton({
          "text": "Validar y publicar",
          "classes": "c-button--primary c-button--sm"
        })  }}
      {% endcall %}
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <h1 class="c-h1 mb-base">Documentos generados durante la tramitación <span class="sr-only">de: {{ itemId }} - {{ itemText }}</span></h1>
  <p class="c-paragraph-base">
    Los gestores de este trámite podrán poner en este apartado aquellos anuncios y documentos de interés que se generen antes de su finalización, por ejemplo: listados provisionales, anuncios. Estos documentos serán <strong>PUBLICADOS</strong> en la <a href="#" class="c-link">página de SEDE de este trámite</a>, sin restricciones de acceso.
  </p>
  {{ componentButton({
    "text": "Publicar nuevo documento"
  })  }}
  {{ editar.documentoDeTramitacion | safe }}
  {{ editar.listaDeDocumentosDeTramitacion | safe }}

{% endblock %}