<label for="account" class="block mb-xs font-semibold">Cuenta bancaria</label>
<p class="mb-sm text-neutral-dark" id="account-description">Recibirás el ingreso en esta cuenta.</p>
<input id="account" class="form-input block w-full mb-lg px-4 py-2" placeholder="ES21 0000 0000 0000 0000" aria-describedby="account-description" />
<label for="date" class="block mb-sm font-semibold">Fecha de apertura</label>
<div class="relative">
  <input id="date" class="form-input block w-full mb-lg px-4 py-2" placeholder="Seleccionar fecha" aria-describedby="date-description" />
  <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
    <svg viewBox="0 0 140 140" class="w-4 h-4 text-neutral-base"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M4.387 21.875h131.25v113.75H4.387zM4.387 56.875h131.25M39.387 35V4.375M100.637 35V4.375" stroke-width="8.749995"/></g></svg>
  </div>
</div>
<label for="date" class="block mb-sm font-semibold">Área de texto</label>
<textarea id="area" rows="3" class="form-textarea block w-full mt-xs px-4 py-2 transition duration-150 ease-in-out" placeholder="ES21 0000 0000 0000 0000" aria-describedby="area-description" ></textarea>
<p class="mb-sm text-sm text-right text-neutral-dark" id="area-description">Quedan 200 caracteres.</p>