{% set exampleComponent = "item-list-service-history" %}
{% set examples =  [
  {
    "name": "default",
    "data": {
      "itemType": "Servicio",
      "author": "Ana Peralta",
      "status": {
        "type": "rechazado",
        "text": "Borrador descartado"
      },
      "date": "Miércoles, 6 Diciembre 2018"
    }
  },
  {
    "name": "with caller",
    "data": {
      "itemType": "Servicio",
      "author": "Ana Peralta",
      "status": {
        "type": "rechazado",
        "text": "Borrador descartado"
      },
      "date": "Miércoles, 6 Diciembre 2018",
      "user": {
        "name": "Ana Pérez",
        "email": "ana.perez@gobierno.es"
      },
      "caller": '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dignissim est. Vestibulum in leo nisi. Morbi eget bibendum nisl. Cras egestas eu eros hendrerit mollis. In elementum ante nec quam bibendum, molestie elementum nisl vehicula. Mauris ornare odio sed nulla vestibulum viverra. Mauris in dui ut odio fringilla placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p><p>Saludos</p>'
    }
  },
  {
    "name": "status default",
    "data": {
      "itemType": "Servicio",
      "author": "Ana Peralta",
      "status": {
        "type": "default",
        "text": "Borrador creado"
      },
      "date": "Miércoles, 6 Diciembre 2018"
    }
  },
  {
    "name": "status rechazado",
    "data": {
      "itemType": "Servicio",
      "author": "Ana Peralta",
      "status": {
        "type": "rechazado",
        "text": "Borrador descartado"
      },
      "date": "Miércoles, 6 Diciembre 2018"
    }
  },
  {
    "name": "status approved",
    "data": {
      "itemType": "Servicio",
      "author": "Ana Peralta",
      "status": {
        "type": "aprobado",
        "text": "Borrador aprobado"
      },
      "date": "Miércoles, 6 Diciembre 2018"
    }
  },
  {
    "name": "with external link",
    "data": {
      "itemType": "Servicio",
      "author": "Ana Peralta",
      "link": {
        "href": "http://www.aragon.es",
        "text": "Ver en aragon.es",
        "target": "_blank",
        "attributes": {
          "title": "Abrir en nueva ventana"
        }
      },
      "status": {
        "type": "rechazado",
        "text": "Borrador descartado"
      },
      "date": "Miércoles, 6 Diciembre 2018"
    }
  }
] %}