{% set exampleComponent = "item-list-services-condensed" %}
{% set examples =  [
  {
    "name": "Servicio publicado simple",
    "description": "status = publicado",
    "data": {
      "idNumber": "1452",
      "href": "#",
      "text": "Premios de Orientación Profesional con un título extremadamente largo para ver qué pasa cuando saltamos de línea",
      "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
      "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
      "tags": [
        {
          "text": "Externo"
        },
        {
          "text": "Servicio"
        },
        {
          "text": "Horizontal"
        }
      ],
      "status": {
        "type": "publicado"
      },
      "statusDateText": "Publicado el 10 de enero",
      "link": {
        "text": "Ver en aragon.es",
        "url": "http://www.aragon.es"
      },
      "caller": actions.actionsPublicado
    }
  },
  {
    "name": "Servicio publicado con una convocatoria",
    "description": "status = publicado",
    "data": {
      "idNumber": "1452",
      "href": "#",
      "text": "Premios de Orientación Profesional",
      "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
      "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
      "tags": [
        {
          "text": "Externo"
        },
        {
          "text": "Servicio"
        }
      ],
      "status": {
        "type": "publicado"
      },
      "statusDateText": "Publicado el 10 de enero",
      "link": {
        "text": "Ver en aragon.es",
        "url": "http://www.aragon.es"
      },
      "listItems": [
        {
          "status": "publicado",
          "text": "Convocatoria 2018",
          "secondaryText": "Publicado y plazo permanente",
          "detailsUrl": "#detalles",
          "editUrl": "#editar"
        }
      ],
      "caller": actions.actionsPublicado
    }
  },
  {
    "name": "Servicio publicado con todas las convocatorias posibles",
    "description": "status = publicado",
    "data": {
      "idNumber": "1452",
      "href": "#",
      "text": "Premios de Orientación Profesional",
      "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
      "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
      "tags": [
        {
          "text": "Externo"
        },
        {
          "text": "Servicio"
        }
      ],
      "status": {
        "type": "publicado"
      },
      "statusDateText": "Publicado el 10 de enero",
      "link": {
        "text": "Ver en aragon.es",
        "url": "http://www.aragon.es"
      },
      "listItems": [
        {
          "status": "en-borrador",
          "text": "Convocatoria 2018",
          "secondaryText": "Borrador",
          "detailsUrl": "#detalles",
          "editUrl": "#editar"
        },
        {
          "status": "borrador-rechazado",
          "text": "Convocatoria 2018",
          "secondaryText": "Borrador rechazado",
          "detailsUrl": "#detalles",
          "editUrl": "#editar"
        },
        {
          "status": "en-validacion",
          "text": "Convocatoria 2018",
          "secondaryText": "En validación",
          "detailsUrl": "#detalles"
        },
        {
          "status": "en-validacion",
          "text": "Convocatoria 2018",
          "secondaryText": "Pendiente de validar",
          "detailsUrl": "#detalles"
        },
        {
          "status": "para-publicar",
          "text": "Convocatoria 2018",
          "secondaryText": "Para publicar",
          "detailsUrl": "#detalles",
          "editUrl": "#editar"
        },
        {
          "status": "publicado",
          "text": "Convocatoria 2018",
          "secondaryText": "Publicado y plazo permanente",
          "detailsUrl": "#detalles"
        },
        {
          "status": "publicado",
          "text": "Convocatoria 2018",
          "secondaryText": "Publicado y en plazo hasta el 10 de Abril (quedan 10 días)",
          "detailsUrl": "#detalles"
        },
        {
          "status": "publicado",
          "text": "Convocatoria 2018",
          "secondaryText": "Publicado y plazo finalizado",
          "detailsUrl": "#detalles"
        },
        {
          "status": "publicado",
          "text": "Convocatoria 2018",
          "secondaryText": "Publicado y plazo finalizado",
          "changes": {
            "type": "sin-enviar-a-publicar"
          },
          "detailsUrl": "#detalles"
        },
        {
          "status": "publicado",
          "text": "Convocatoria 2018",
          "secondaryText": "Publicado y plazo finalizado",
          "changes": {
            "type": "pendientes-de-publicar"
          },
          "detailsUrl": "#detalles",
          "editUrl": "#editar"
        },
        {
          "status": "publicado",
          "text": "Publicado y plazo finalizado",
          "secondaryText": "Publicado y plazo finalizado",
          "changes": {
            "type": "para-publicar"
          },
          "changesUrl": "#cambios"
        },
        {
          "status": "suspendido",
          "text": "Convocatoria 2018",
          "secondaryText": "Suspendido",
          "detailsUrl": "#detalles",
          "editUrl": "#editar"
        },
        {
          "status": "baja",
          "text": "Convocatoria 2018",
          "secondaryText": "De baja",
          "detailsUrl": "#detalles"
        }
      ],
      "caller": actions.actionsPublicado
    }
  },
  {
    "name": "Servicio en borrador",
    "description": "status = en-borrador",
    "data": {
      "idNumber": "1452",
      "href": "#",
      "text": "Premios de Orientación Profesional",
      "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
      "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
      "tags": [
        {
          "text": "Externo"
        },
        {
          "text": "Servicio"
        }
      ],
      "status": {
        "type": "en-borrador"
      },
      "statusDateText": "Creado el 10 de enero",
      "caller": actions.actionsEnBorrador
    }
  },
  {
    "name": "Servicio en validación - usuario editor",
    "description": "status = en-validacion",
    "data": {
      "idNumber": "1452",
      "href": "#",
      "text": "Premios de Orientación Profesional",
      "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
      "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
      "tags": [
        {
          "text": "Externo"
        },
        {
          "text": "Servicio"
        }
      ],
      "status": {
        "type": "en-validacion"
      },
      "statusDateText": "Enviado el 10 de enero (hace 3 días)",
      "caller": actions.actionsEnValidacionUsuarioEditor
    }
  },
  {
    "name": "Servicio en validación - usuario validador",
    "description": "status = para-publicar",
    "data": {
      "idNumber": "1452",
      "href": "#",
      "text": "Premios de Orientación Profesional",
      "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
      "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
      "tags": [
        {
          "text": "Externo"
        },
        {
          "text": "Servicio"
        }
      ],
      "status": {
        "type": "para-publicar"
      },
      "statusDateText": "Enviado el 10 de enero (hace 3 días)",
      "caller": actions.actionsEnValidacionUsuarioValidador
    }
  },
  {
    "name": "Borrador de servicio rechazado",
    "description": "status = borrador-rechazado",
    "data": {
      "idNumber": "1452",
      "href": "#",
      "text": "Premios de Orientación Profesional",
      "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
      "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
      "tags": [
        {
          "text": "Externo"
        },
        {
          "text": "Servicio"
        }
      ],
      "status": {
        "type": "borrador-rechazado"
      },
      "statusDateText": "Rechazado el 10 de enero",
      "caller": actions.actionsBorradorRechazado
    }
  },
  {
    "name": "Suspendido",
    "description": "status = suspendido",
    "data": {
      "idNumber": "1452",
      "href": "#",
      "text": "Premios de Orientación Profesional",
      "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
      "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
      "tags": [
        {
          "text": "Externo"
        },
        {
          "text": "Servicio"
        }
      ],
      "status": {
        "type": "suspendido",
        "text": "Suspendido desde el 10 de enero"
      },
      "statusDateText": "Publicado el 10 de enero",
      "caller": actions.actionsSuspendido
    }
  },
  {
    "name": "Baja",
    "description": "status = baja",
    "data": {
      "idNumber": "1452",
      "href": "#",
      "text": "Premios de Orientación Profesional",
      "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
      "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
      "tags": [
        {
          "text": "Externo"
        },
        {
          "text": "Servicio"
        }
      ],
      "status": {
        "type": "baja",
        "text": "De baja desde el 10 de enero"
      },
      "statusDateText": "Publicado el 10 de enero",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
          "term": {
            "text": "Gestiona"
          },
          "definition": {
            "text": "Innovación, investigación y universidad"
          },
          "classes": "lg:w-1/2 pr-base mb-xs"
          },
          {
          "term": {
            "text": "Solicitantes"
          },
          "definition": {
            "text": "Pymes, autónomos, organizaciones"
          },
          "classes": "lg:w-1/2 pr-base mb-xs"
          },
          {
          "term": {
            "text": "Resuelve"
          },
          "definition": {
            "text": "Transporte y minas"
          },
          "classes": "lg:w-1/2 pr-base mb-xs"
          },
          {
          "term": {
            "text": "Tipo de servicio"
          },
          "definition": {
            "text": "Procedimiento, Común, Interno, Inicio de instancia"
          },
          "classes": "lg:w-1/2 pr-base mb-xs"
          }
        ]
      }
    }
  }
] %}