{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/pill/_macro.pill.njk" import componentPill %}

<div class="-my-px bg-white border border-neutral-base p-base">
  <div class="lg:flex lg:flex-wrap lg:w-full">
    <h3 class="lg:flex sm:flex-1 leading-tight mb-xs cursor-pointer group">
      <a href="{{ params.href }}" class="c-link font-bold">
        {{ params.html | safe if params.html else params.text }}
      </a>
    </h3>
    <div class="lg:order-3 lg:w-full mb-xs text-sm">
      <p class="sr-only">Este servicio depende de:</p>
      <ul class="text-neutral-dark mb-sm">
        <li class="inline capitalize">{{ params.department | capitalize }}</li>
        <li class="inline w-full lg:w-auto lg:ml-base pl-0 lg:pl-base lg:border-l lg:border-neutral-base capitalize">{{ params.subdepartment | capitalize }}</li>
      </ul>
      <p class="inline-flex flex-wrap lg:order-3 lg:w-full items-start lg:items-center">
        <span class="sr-only">Estado: </span>
        {% if params.status.type == 'publicado' %}
          <span class="inline-block w-3 h-3 mr-sm mt-1 lg:mt-0 bg-success-base"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}Publicado{% endif %}</span>
        {% elseif params.status.type == 'en-borrador' %}
          <span class="inline-block w-3 h-3 mr-sm mt-1 lg:mt-0 bg-neutral-light border-2 border-neutral-dark"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}En borrador{% endif %}</span>
        {% elseif params.status.type == 'en-validacion' %}
          <span class="inline-block w-3 h-3 mr-sm mt-1 lg:mt-0 bg-warning-base"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}En validación{% endif %}</span>
        {% elseif params.status.type == 'para-publicar' %}
          <span class="inline-block w-3 h-3 mr-sm mt-1 lg:mt-0 bg-alert-light border-2 border-alert-base"></span>
          <span class="flex-1 lg:flex-initial"><span class="bg-warning-base">{% if params.status.text %}{{ params.status.text }}{% else %}Para publicar{% endif %}</span></span>
        {% elseif params.status.type == 'borrador-rechazado' %}
          <span class="inline-block w-3 h-3 mr-sm mt-1 lg:mt-0 bg-alert-light border-2 border-alert-base"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}Borrador rechazado{% endif %}</span>
        {% elseif params.status.type == 'suspendido' %}
          <span class="inline-block w-3 h-3 mr-sm mt-1 lg:mt-0 bg-alert-dark"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}Suspendido{% endif %}</span>
        {% elseif  params.status.type == 'baja' %}
          <span class="inline-block w-3 h-3 mr-sm mt-1 lg:mt-0 bg-black"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}Dado de baja{% endif %}</span>
        {% endif %}
        <span class="w-full lg:w-auto ml-base pl-xs lg:pl-base lg:border-l lg:border-neutral-base">{{ params.statusDateText }}</span>
        {% if params.link %}
          <a href="{{ params.link.url }}" class="c-link ml-base pl-sm lg:pl-0">{{ params.link.html | safe if params.link.html else params.link.text }}</a>
        {% endif %}
      </p>


      {% if params.listItems %}
        {% call componentDetails({
          "summary": {
            "text": params.listItems.length + " procesos específicos"
          },
          "classes": "-mb-sm"
        })  %}
            {% for item in params.listItems %}
              <p class="flex flex-wrap lg:order-3 lg:w-full items-start lg:items-center">
                {% if item.status == 'publicado' %}
                  <span class="inline-block w-2 h-4 mr-sm mt-px lg:mt-0 bg-success-base"></span>
                {% elseif item.status == 'en-borrador' %}
                  <span class="inline-block w-2 h-4 mr-sm mt-px lg:mt-0 bg-neutral-light border-2 border-neutral-dark"></span>
                {% elseif item.status == 'en-validacion' %}
                  <span class="inline-block w-2 h-4 mr-sm mt-px lg:mt-0 bg-warning-base"></span>
                {% elseif item.status == 'para-publicar' %}
                  <span class="inline-block w-2 h-4 mr-sm mt-px lg:mt-0 bg-warning-base"></span>
                {% elseif item.status == 'borrador-rechazado' %}
                  <span class="inline-block w-2 h-4 mr-sm mt-px lg:mt-0 bg-alert-light border-2 border-alert-base"></span>
                {% elseif item.status == 'suspendido' %}
                  <span class="inline-block w-2 h-4 mr-sm mt-px lg:mt-0 bg-alert-dark"></span>
                {% elseif item.status == 'baja' %}
                  <span class="inline-block w-2 h-4 mr-sm mt-px lg:mt-0 bg-black"></span>
                {% endif %}
                <span class="flex-1 lg:flex-initial">{{ item.text }}</span>
                <span class="w-full lg:w-auto ml-base lg:pl-base lg:border-l lg:border-neutral-base">
                  <span {%- if item.status == 'para-publicar' %} class="bg-warning-base uppercase"{% endif %}>{{ item.secondaryText }}</span>
                </span>
              </p>
            {% endfor %}
        {% endcall %}
      {% endif %}
    </div>

    {% if params.tags %}
      <div class="flex lg:items-start mt-base lg:mt-0 lg:ml-auto lg:pl-base">
        {% for tag in params.tags %}
          <ul>
            {{ componentPill({
              "text": tag.text,
              "classes": "text-sm ml-xs"
            })  }}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
