/* ==========================================================================
   custom.css
   ========================================================================== */

@layer base {
  /* Smooth scroll for anchors */
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}


@layer components {
  .headroom {
    @apply lg:fixed !important;
    @apply lg:top-0;
    @apply lg:w-full;
    @apply lg:transform;
    @apply lg:transition-transform;
    @apply lg:duration-500;
    @apply lg:z-10;
  }
  .headroom--pinned {
    @apply lg:translate-y-0;
  }
  .headroom--unpinned {
    @apply lg:-translate-y-full;
  }

  .c-anchor-scroll {
    scroll-margin-top: 4rem;
  }

  .c-anchor-scroll-edit {
    scroll-margin-top: 5.375rem;
  }
}


/* Estilos para el componente dropdown de sugerencia de etiquetas libres que usa bootstrap angular */
.dropdown-menu {
  @apply absolute;
  @apply top-full;
  @apply left-0;
  @apply z-50;
  @apply hidden;
  @apply float-left;
  @apply mt-xs;
  @apply text-base;
  @apply text-black;
  @apply text-left;
  @apply list-none;
  @apply bg-white;
  @apply bg-clip-padding;
  @apply border;
  @apply border-neutral-dark;
  @apply break-words;
  @apply shadow;
}

.dropdown-menu-left {
  @apply right-auto;
  @apply left-0;
}

.dropdown-menu-right {
  @apply right-0;
  @apply left-auto;
}

.dropdown-menu-sm-left {
  @apply sm:right-auto;
  @apply sm:left-0;
}

.dropdown-menu-sm-right {
  @apply sm:right-0;
  @apply sm:left-auto;
}

.dropdown-menu-md-left {
  @apply md:right-auto;
  @apply md:left-0;
}

.dropdown-menu-md-right {
  @apply md:right-0;
  @apply md:left-auto;
}

.dropdown-menu-lg-left {
  @apply lg:right-auto;
  @apply lg:left-0;
}

.dropdown-menu-lg-right {
  @apply lg:right-0;
  @apply lg:left-auto;
}

.dropdown-menu-xl-left {
  @apply xl:right-auto;
  @apply xl:left-0;
}

.dropdown-menu-xl-right {
  @apply xl:right-0;
  @apply xl:left-auto;
}

.dropdown-menu[x-placement^=bottom],.dropdown-menu[x-placement^=left],.dropdown-menu[x-placement^=right],.dropdown-menu[x-placement^=top] {
  @apply right-auto;
  @apply bottom-auto;
}

.dropdown-item {
  @apply block;
  @apply w-full;
  @apply px-base;
  @apply py-sm;
  @apply clear-both;
  @apply font-normal;
  @apply text-black;
  @apply text-left;
  @apply whitespace-nowrap;
  @apply bg-transparent;
  @apply border-none;

  @apply hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black;

  &.active {
    @apply hover:bg-primary-base hover:text-white;
  }
}

.dropdown-menu.show {
  @apply block;
}

.ngb-highlight{
  @apply font-bold;
}
