{% import "includes/_actions-examples-item-list-services.njk" as actions %}

{% set exampleComponent = "detail-header" %}
{% set examples =  [
  {
    "name": "Servicio publicado simple",
    "description": "status = publicado",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Premios de Orientación Profesional",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "publicado"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen",
            "active": true
          },
          {
            "href": "#",
            "text": "Datos del servicio"
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsPublicado
    }
  },
  {
    "name": "Proceso",
    "description": "icon.type = proceso",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional con nombre muy muy largo"
          },
          {
            "text": "Solicitud de subvenciones con cargo al fondo de inversones con un nombre muy muy largo para ver qué pasa"
          }
        ]
      },
      "text": "Solicitud de subvenciones con cargo al fondo de inversones con un nombre muy muy largo para ver qué pasa",
      "icon": {
        "type": "proceso"
      },
      "status": {
        "type": "publicado"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Datos, documentos y presentación",
            "active": true
          },
          {
            "href": "#",
            "text": "Histórico"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsPublicado
    }
  },
  {
    "name": "Convocatoria",
    "description": "icon.type = convocatoria",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          },
          {
            "text": "Convocatoria 2021"
          }
        ]
      },
      "text": "Convocatoria 2021",
      "icon": {
        "type": "convocatoria"
      },
      "status": {
        "type": "publicado"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Datos, documentos y presentación",
            "active": true
          },
          {
            "href": "#",
            "text": "Histórico"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsPublicado
    }
  },
  {
    "name": "Servicio en borrador",
    "description": "status = en-borrador",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Premios de Orientación Profesional",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "en-borrador"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen",
            "active": true
          },
          {
            "href": "#",
            "text": "Datos del servicio"
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsEnBorrador
    }
  },
  {
    "name": "Servicio en validación - usuario editor",
    "description": "status = en-validacion",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Premios de Orientación Profesional",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "en-validacion"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen",
            "active": true
          },
          {
            "href": "#",
            "text": "Datos del servicio"
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsEnValidacionUsuarioEditor
    }
  },
  {
    "name": "Servicio en validación - usuario validador",
    "description": "status = para-publicar",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Premios de Orientación Profesional",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "para-publicar"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen",
            "active": true
          },
          {
            "href": "#",
            "text": "Datos del servicio"
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsEnValidacionUsuarioValidador
    }
  },
  {
    "name": "Borrador de servicio rechazado",
    "description": "status = borrador-rechazado",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Premios de Orientación Profesional",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "borrador-rechazado"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen",
            "active": true
          },
          {
            "href": "#",
            "text": "Datos del servicio"
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsBorradorRechazado
    }
  },
  {
    "name": "Suspendido",
    "description": "status = suspendido",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Premios de Orientación Profesional",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "suspendido",
        "text": "Suspendido desde el 10 de Enero"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen",
            "active": true
          },
          {
            "href": "#",
            "text": "Datos del servicio"
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsSuspendido
    }
  },
  {
    "name": "Baja",
    "description": "status = baja",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Premios de Orientación Profesional",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "baja",
        "text": "De baja desde el 10 de Enero"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen",
            "active": true
          },
          {
            "href": "#",
            "text": "Datos del servicio"
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      }
    }
  },
  {
    "name": "Servicio publicado con cambios",
    "description": "status = publicado, changes = sin-enviar-a-publicar. Ver dropdown Más. ",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Gestión de alquileres",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "publicado"
      },
      "changes": {
        "type": "sin-enviar-a-publicar",
        "url": "#"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen"
          },
          {
            "href": "#",
            "html": '<span class="bg-warning-light">Datos del servicio <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block w-3 h-3 mr-sm" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg></span>',
            "active": true
          },
          {
            "href": "#",
            "html": '<span class="bg-warning-light">Convocatorias <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block w-3 h-3 mr-sm" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg></span>'
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsPublicadoConCambios
    }
  },
  {
    "name": "Servicio publicado con cambios enviados a publicar",
    "description": "status = publicado, changes = pendientes-de-publicar. Ver dropdown Más. ",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Gestión de alquileres",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "publicado"
      },
      "changes": {
        "type": "pendientes-de-publicar",
        "url": "#"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen",
            "active": true
          },
          {
            "href": "#",
            "text": "Datos del servicio"
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsPublicadoConCambiosEnviadosAPublicar
    }
  },
  {
    "name": "Servicio publicado con cambios para publicar - usuario validador",
    "description": "status = publicado, changes = para-publicar. Ver dropdown Más. ",
    "data": {
      "breadcrumbs": {
        "items": [
          {
            "text": "Servicios del departamento",
            "href": "/"
          },
          {
            "text": "1452 - Premios de Orientación Profesional"
          }
        ]
      },
      "idNumber": "1452",
      "text": "Gestión de alquileres",
      "icon": {
        "type": "servicio"
      },
      "status": {
        "type": "publicado"
      },
      "changes": {
        "type": "para-publicar",
        "url": "#"
      },
      "menuHorizontal": {
        "classes": "c-menu-horizontal--tabs w-full text-sm",
        "items": [
          {
            "href": "#",
            "text": "Resumen",
            "active": true
          },
          {
            "href": "#",
            "text": "Datos del servicio"
          },
          {
            "href": "#",
            "text": "Convocatorias"
          },
          {
            "href": "#",
            "text": "Ajustes"
          },
          {
            "href": "#",
            "text": "Histórico"
          },
          {
            "href": "#",
            "text": "Notas"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      },
      "caller": actions.actionsPublicadoConCambiosParaPublicarUsuarioValidador
    }
  }
] %}