{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/nav/_macro.nav.njk" import componentNav %}


{% call componentDropdown({
  "text": "Más",
  "classesContainer": "inline-block align-middle mr-base",
  "classes": "c-dropdown--sm"
})  %}
    {{ componentNav({
      "items": [
        {
          "href": "#",
          "text": "Editar datos generales"
        },
        {
          "href": "#",
          "text": "Nueva convocatoria",
          "divider": true
        },
        {
          "href": "#",
          "text": "Duplicar"
        }
      ]
    })  }}
{% endcall %}
{{ componentButton({
    "type": "link",
    "href": "https://www.aragon.es/",
    "text": "Ver en aragon.es",
    "classes": "c-button--sm"
  })  }}