{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

{% set titleTemp %}
  {{ params.html | safe if params.html else params.text }}
{% endset %}

<div class="c-detail-header lg:flex lg:flex-wrap lg:w-full{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="lg:flex lg:flex-wrap lg:justify-between lg:w-full">
    <div class="lg:flex-1">
      {{ componentBreadcrumbs(params.breadcrumbs)  }}
    </div>
    <div class="flex flex-wrap lg:items-center mb-base lg:ml-auto lg:pl-base">
      {% if caller %}
      {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
      {% elseif params.caller %}
      {{ params.caller | safe }}
      {% endif %}
    </div>
  </div>
  <div class="c-detail-header__title-status lg:w-full mb-base lg:mb-lg">
    <h3 class="font-bold text-2xl leading-tight mb-xs">
      {% if params.idNumber %}
        {{ params.idNumber }} -
      {% endif %}
      {{ params.html | safe if params.html else params.text }}
      {% if params.icon %}
        <span class="inline-block align-bottom ml-sm">
          {% if params.icon.html %}
          {{ params.icon.html | safe }}
          {% elseif params.icon.type == 'servicio' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-7 h-7" aria-hidden="true" focusable="false"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M133.683 36.167L74.13 5.378a9 9 0 00-8.26 0L6.317 36.167a3.593 3.593 0 000 6.381L65.87 73.354a9 9 0 008.26 0l59.553-30.77a3.593 3.593 0 000-6.382z" stroke-width="8.749995"/><path d="M29.75 54.688L6.318 66.808a3.593 3.593 0 000 6.382l59.552 30.806a9 9 0 008.26 0l59.553-30.806a3.593 3.593 0 000-6.382L110.25 54.687" stroke-width="8.749995"/><path d="M29.75 85.313L6.318 97.416a3.593 3.593 0 000 6.381l59.552 30.806a9 9 0 008.26 0l59.553-30.77a3.593 3.593 0 000-6.382l-23.433-12.14" stroke-width="8.749995"/></g></svg>
          {% elseif params.icon.type == 'proceso' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-7 h-7" aria-hidden="true" focusable="false"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M65.625 83.19H96.25M65.625 109.44H96.25M48.125 81.002a2.188 2.188 0 11-2.188 2.187 2.188 2.188 0 012.188-2.187M65.625 56.94H96.25M48.125 54.752a2.188 2.188 0 11-2.188 2.187 2.188 2.188 0 012.188-2.187M48.125 107.252a2.188 2.188 0 11-2.188 2.187 2.188 2.188 0 012.188-2.187" stroke-width="8.749995"/><path d="M91.875 26.314h21.875a8.75 8.75 0 018.75 8.75v91.875a8.75 8.75 0 01-8.75 8.75h-87.5a8.75 8.75 0 01-8.75-8.75V35.064a8.75 8.75 0 018.75-8.75h21.875a21.875 21.875 0 0143.75 0z" stroke-width="8.749995"/><path d="M70 21.94a2.188 2.188 0 11-2.188 2.187A2.188 2.188 0 0170 21.939" stroke-width="8.749995"/></g></svg>
          {% elseif params.icon.type == 'convocatoria' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-7 h-7" aria-hidden="true" focusable="false"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M87.5 109.44H65.625v21.874M132.224 113.715a32.503 32.503 0 01-62.65-4.276M113.75 91.94h21.875V70.063M69.026 87.663a32.503 32.503 0 0162.65 4.276M30.625 61.314h26.25M30.625 83.19h17.5M30.625 105.064h17.5" stroke-width="8.749995"/><path d="M43.75 135.69H13.125a8.75 8.75 0 01-8.75-8.75V35.063a8.75 8.75 0 018.75-8.75H35a21.875 21.875 0 0143.75 0h21.875a8.75 8.75 0 018.75 8.75V48.19" stroke-width="8.749995"/><path d="M56.875 21.94a2.188 2.188 0 11-2.188 2.187 2.188 2.188 0 012.188-2.188" stroke-width="8.749995"/></g></svg>
          {% endif %}
        </span>
      {% endif %}
    </h3>
    <p class="inline-flex flex-wrap lg:w-full items-start lg:items-center">
      {% if params.status.type == 'publicado' %}
        <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-success-base"></span>
        <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Publicado{% endif %}</span>
      {% elseif params.status.type == 'en-borrador' %}
        <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-neutral-light border-2 border-neutral-dark"></span>
        <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}En borrador{% endif %}</span>
      {% elseif params.status.type == 'en-validacion' %}
        <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-warning-base"></span>
        <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}En validación{% endif %}</span>
      {% elseif params.status.type == 'para-publicar' %}
        <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-warning-base"></span>
        <span class="flex-1 lg:flex-initial font-semibold uppercase"><span class="bg-warning-base">{% if params.status.text %}{{ params.status.text }}{% else %}Para publicar{% endif %}</span></span>
      {% elseif params.status.type == 'borrador-rechazado' %}
        <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-alert-light border-2 border-alert-base"></span>
        <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Borrador rechazado{% endif %}</span>
      {% elseif params.status.type == 'suspendido' %}
        <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-alert-dark"></span>
        <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Suspendido{% endif %}</span>
      {% elseif params.status.type == 'baja' %}
        <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-black"></span>
        <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Dado de baja{% endif %}</span>
      {% endif %}
    </p>
  </div>
  {% if params.changes %}
    <div class="c-detail-header__changes lg:-mt-base lg:w-full lg:h-20 transition-all duration-500 overflow-hidden">
      <div class="lg:flex lg:flex-wrap lg:w-full mb-base p-sm {%- if params.changes.type == 'sin-enviar-a-publicar' %} bg-warning-light{%- elseif params.changes.type == 'pendientes-de-publicar' %} bg-neutral-light{% else %} bg-warning-base{% endif %}">
        <div class="flex flex-wrap items-center pl-sm text-sm font-bold {%- if params.changes.type == 'para-publicar' %} uppercase{% endif %}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block w-4 h-4 mr-sm" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>
          <span class="flex-1">
            {% if params.changes.type == 'sin-enviar-a-publicar' %}
              Existen cambios sin enviar a publicar
            {% elseif params.changes.type == 'pendientes-de-publicar' %}
              Cambios pendientes de publicar
            {% elseif params.changes.type == 'para-publicar' %}
              CAMBIOS PARA PUBLICAR
            {% endif %}
          </span>
        </div>
          {% if params.changes.type == 'sin-enviar-a-publicar' %}
            {{ componentButton({
              "html": 'Descartar todos los cambios <span class="sr-only">de ' + titleTemp + '</span>',
              "classes": "c-button--transparent mr-sm lg:ml-auto "
            })  }}
            {{ componentButton({
              "html": 'Enviar cambios a publicar <span class="sr-only">de ' + titleTemp + '</span>',
              "classes": "c-button--primary"
            })  }}
          {% elseif params.changes.type == 'pendientes-de-publicar' %}
            {{ componentButton({
              "html": 'Cancelar envío a publicar <span class="sr-only">de ' + titleTemp + '</span>',
              "classes": "c-button--transparent lg:ml-auto"
            })  }}
          {% elseif params.changes.type == 'para-publicar' %}
            {{ componentButton({
              "html": 'Rechazar todos los cambios <span class="sr-only">de ' + titleTemp + '</span>',
              "classes": "c-button--transparent mr-sm lg:ml-auto"
            })  }}
            {{ componentButton({
              "html": 'Validar y Publicar cambios <span class="sr-only">de ' + titleTemp + '</span>',
              "classes": "c-button--primary"
            })  }}
          {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="c-detail-header__menu order-4 w-full transition-all duration-500">
    <h4 id="{{ params.idNumber }}" class="text-sm uppercase lg:sr-only">Submenú de {{ params.idNumber}} - {{ params.html | safe if params.html else params.text }}</h4>
    {{ componentMenuHorizontal(params.menuHorizontal)  }}
  </div>
</div>