{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}


{% set actionsEnBorrador %}
  {% include "includes/_dropdown-item-list-convocatorias-en-borrador.njk" %}
  {{ componentButton({
    "html": 'Editar<span class="sr-only"> la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsBorradorRechazado %}
  {% include "includes/_dropdown-item-list-convocatorias-borrador-rechazado.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsEnValidacionUsuarioEditor %}
  {% include "includes/_dropdown-item-list-convocatorias-en-validacion-usuario-editor.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsEnValidacionUsuarioValidador %}
  {% include "includes/_dropdown-item-list-convocatorias-en-validacion-usuario-validador.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsPublicado %}
  {% include "includes/_dropdown-item-list-convocatorias-publicado.njk" %}
  {{ componentButton({
    "html": 'Editar plazo y normativa<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm mr-sm"
  })  }}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsPublicadoConCambios %}
  {% include "includes/_dropdown-item-list-convocatorias-publicado-con-cambios.njk" %}
  {{ componentButton({
    "html": 'Editar plazo y normativa<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm mr-sm"
  })  }}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsPublicadoConCambiosEnviadosAPublicar %}
  {% include "includes/_dropdown-item-list-convocatorias-publicado-con-cambios-enviados-a-publicar.njk" %}
  {{ componentButton({
    "html": 'Editar plazo y normativa<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm mr-sm"
  })  }}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsPublicadoConCambiosParaPublicarUsuarioValidador %}
  {% include "includes/_dropdown-item-list-convocatorias-publicado-con-cambios-para-publicar-usuario-validador.njk" %}
  {{ componentButton({
    "html": 'Editar plazo y normativa<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm mr-sm"
  })  }}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsPublicadoFueraPlazo %}
  {% include "includes/_dropdown-item-list-convocatorias-publicado-fuera-plazo.njk" %}
  {{ componentButton({
    "html": 'Ampliar plazo<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm mr-sm"
  })  }}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsSuspendido %}
  {% include "includes/_dropdown-item-list-convocatorias-suspendido.njk" %}
  {{ componentButton({
    "html": 'Editar<span class="sr-only"> la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsProcesoPublicado %}
  {% include "includes/_dropdown-item-list-convocatorias-publicado.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsProcesoPublicadoConCambios %}
  {% include "includes/_dropdown-item-list-convocatorias-publicado-con-cambios.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsProcesoPublicadoConCambiosEnviadosAPublicar %}
  {% include "includes/_dropdown-item-list-convocatorias-publicado-con-cambios-enviados-a-publicar.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsProcesoPublicadoConCambiosParaPublicarUsuarioValidador %}
  {% include "includes/_dropdown-item-list-convocatorias-publicado-con-cambios-para-publicar-usuario-validador.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> de la convocatoria ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}