{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

{% set actionsPublicado %}
  {% include "includes/_dropdown-item-list-services-publicado.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> del servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsEnBorrador %}
  {% include "includes/_dropdown-item-list-services-en-borrador.njk" %}
  {{ componentButton({
    "html": 'Editar<span class="sr-only"> el servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsEnValidacionUsuarioEditor %}
  {% include "includes/_dropdown-item-list-services-en-validacion-usuario-editor.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> del servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsEnValidacionUsuarioValidador %}
  {% include "includes/_dropdown-item-list-services-en-validacion-usuario-validador.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> del servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsBorradorRechazado %}
  {% include "includes/_dropdown-item-list-services-borrador-rechazado.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> del servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsSuspendido %}
  {% include "includes/_dropdown-item-list-services-suspendido.njk" %}
  {{ componentButton({
    "html": 'Editar<span class="sr-only"> el servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsPublicadoConCambios %}
  {% include "includes/_dropdown-item-list-services-publicado-con-cambios.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> del servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsPublicadoConCambiosEnviadosAPublicar %}
  {% include "includes/_dropdown-item-list-services-publicado-con-cambios-enviados-a-publicar.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> del servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}

{% set actionsPublicadoConCambiosParaPublicarUsuarioValidador %}
  {% include "includes/_dropdown-item-list-services-publicado-con-cambios-para-publicar-usuario-validador.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> del servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}