{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% call componentDialog({
  "button": {
    "html": 'Añadir órgano&nbsp;<span class="sr-only">de destino</span>',
    "classes": "c-button--secondary c-button--disabled",
    "attributes": {
      "onclick": "openDialog('default', this, 'label-seleccion-organismo')"
    }
  },
  "id": "default",
  "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
  "attributes": {
    "role": "dialog",
    "aria-labelledby": "label-seleccion-organismo",
    "aria-modal": true
  }
})  %}
  {% call componentModal({
    "id": "seleccion-organismo",
    "title": {
      "text": "Añadir órgano",
      "classes": "c-h1 mx-base text-left focus:outline-none focus:underline"
    },
    "itemsPrimary": [
      {
        "text": "Añadir",
        "classes": "c-button--primary"
      }
    ],
    "itemsSecondary": [
      {
        "text": "Cancelar",
        "classes": "c-button--secondary",
        "attributes": {
          "onclick": "closeDialog(this)"
        }
      }
    ],
    "isDismissible": true,
    "classes": "max-w-4xl"
  })  %}
    {% include "includes/_arbol-organo.njk" %}
  {% endcall %}
{% endcall %}

