{% from "components/tree/_macro.tree.njk" import componentTree %}
{{ componentTree({
  "name": "categorias-del-servicio",
  "type": "checkbox",
  "fieldset": {
    "legend": {
      "text": "Lista de categorías (sólo lectura)",
      "classes": "sr-only"
    }
  },
  "items": [
    {
      "text": "Item 1",
      "checked": true,
      "disabled": true,
      "expanded": true,
      "sub": {
        "items": [
          {
            "text": "Subitem 1",
            "value": "subitem-1",
            "disabled": true,
            "checked": true
          },
          {
            "text": "Subitem 2",
            "value": "subitem-2",
            "disabled": true,
            "checked": true
          },
          {
            "text": "Subitem 3",
            "value": "subitem-3",
            "disabled": true,
            "checked": true
          }
        ]
      }
    }
  ]
})  }}