{{ componentItemListServicesCondensed({
  "idNumber": itemId,
  "href": "#",
  "text": itemText,
  "department": "DIRECCIÓN GENERAL DE ADMINISTRACIÓN ELECTRÓNICA Y SOCIEDAD DE LA INFORMACIÓN",
  "subdepartment": "DEPARTAMENTO DE CIENCIA, UNIVERSIDAD Y SOCIEDAD DEL CONOCIMIENTO",
  "tags": [
    {
      "text": "Externo"
    },
    {
      "text": "Servicio"
    },
    {
      "text": "Horizontal"
    }
  ],
  "status": {
    "type": "publicado"
  },
  "statusDateText": "Publicado el 10 de enero",
  "link": {
    "html": '<span class="sr-only">' + itemId + ' - ' + itemText + '.</span> Ver en aragon.es',
    "url": "http://www.aragon.es"
  },
  "listItems": [
    {
      "status": "publicado",
      "text": "Convocatoria 2018",
      "secondaryText": "Publicado y plazo permanente",
      "detailsUrl": "#detalles",
      "editUrl": "#editar"
    }
  ]
})  }}