
{% import "includes/_actions-examples-item-list-services.njk" as actions with context %}

{% call componentItemListServices({
  "idNumber": itemId,
  "text": itemText,
  "status": {
    "type": "publicado"
  },
  "statusDateText": "Publicado el 10 de enero",
  "link": {
    "html": '<span class="sr-only">' + itemId + ' - ' + itemText + '.</span> Ver en aragon.es',
    "url": "http://www.aragon.es"
  },
  "items": {
    "classes": "lg:flex lg:flex-wrap w-full",
    "items": [
      {
        "term": {
          "text": "Gestiona"
        },
        "definition": {
          "text": "Innovación, investigación y universidad"
        },
        "classes": "lg:w-1/2 pr-base mb-xs"
      },
      {
        "term": {
          "text": "Solicitantes"
        },
        "definition": {
          "text": "Pymes, autónomos, organizaciones"
        },
        "classes": "lg:w-1/2 pr-base mb-xs"
      },
      {
        "term": {
          "text": "Resuelve"
        },
        "definition": {
          "text": "Transporte y minas"
        },
        "classes": "lg:w-1/2 pr-base mb-xs"
      },
      {
        "term": {
          "text": "Tipo de servicio"
        },
        "definition": {
          "text": "Procedimiento, Común, Interno, Inicio de instancia"
        },
        "classes": "lg:w-1/2 pr-base mb-xs"
      }
    ]
  }
})  %}
  {{ actions.actionsPublicado | safe }}
{% endcall %}