{% set normativaGeneralChanges %}
  <ol class="c-ul">
    <li>
      <p class="c-paragraph-base">
        <a href="#" class="c-link">Ley 38/2003, de 17 de noviembre, General de Subvenciones. (BOE nº 307 de 1 de enero de 2021) y su Reglamento de desarrollo aprobado por Real Decreto 887/2006, de 21 de julio.</a>
      </p>
    </li>
    <li>
      <p class="c-paragraph-base">
        <a href="#" class="c-link">Ley 5/2015, de 25 de marzo, de Subvenciones de Aragón. (BOA nº 68 de 10 de abril de 2015).</a>
      </p>
    </li>
  </ol>
{% endset %}

{% set normativaGeneralOriginal %}
  <ol class="c-ul">
    <li>
      <p class="c-paragraph-base">
        <a href="#" class="c-link">Ley 38/2003, de 17 de noviembre, General de Subvenciones. (BOE nº 276 de 18 de noviembre de 2003) y su Reglamento de desarrollo aprobado por Real Decreto 887/2006, de 21 de julio.</a>
      </p>
    </li>
    <li>
      <p class="c-paragraph-base">
        <a href="#" class="c-link">Ley 5/2015, de 25 de marzo, de Subvenciones de Aragón. (BOA nº 68 de 10 de abril de 2015).</a>
      </p>
    </li>
  </ol>
{% endset %}

{% set tabChanges %}
  <div class="mb-base p-base bg-warning-light">
    {{ normativaGeneralChanges | safe }}
  </div>
  <div class="flex items-baseline">
    <p class="flex-1 text-sm text-neutral-dark">Cambios realizados hace 2 horas</p>
    <div class="ml-auto">
      {{ componentButton({
        "text": "Descartar",
        "classes": "c-button--transparent mr-sm"
      })  }}
      {{ componentButton({
        "text": "Editar"
      })  }}
    </div>
  </div>
{% endset %}

{% set tabOriginal %}
  <div class="mb-base p-base">
    {{ normativaGeneralOriginal | safe }}
  </div>
  <p class="text-sm text-neutral-dark">Texto original</p>
{% endset %}

{% set normativaGeneralEspecifica %}
  <p class="c-paragraph-base">
    <a href="#" class="c-link">Orden IIU/910/2016, de 8 de agosto, por la que se convocan subvenciones para 2016, para la implantación y difusión de las tecnologías de la información y las comunicaciones (TIC) y de la sociedad de la información</a>
  </p>
{% endset %}

{% set normativaGeneralEspecificaHeredada %}
  <p class="c-paragraph-base">
    <span class="inline-flex items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  class="self-center mr-2" aria-hidden="true" focusable="false" width="0.8em" height="0.8em"><path d="M4.51 14H13a1 1 0 0 0 1-1V4.51a1 1 0 1 0-2 0V10a.25.25 0 0 1-.15.23.26.26 0 0 1-.28-.05L1.71.29A1 1 0 0 0 .29 1.71l9.87 9.86a.26.26 0 0 1 .05.28.25.25 0 0 1-.21.15H4.51a1 1 0 1 0 0 2Z" fill="currentColor" transform="scale(3.42857)"/></svg> Heredada</span> | <a href="#" class="c-link">Orden IIU/910/2016, de 8 de agosto, por la que se convocan subvenciones para 2016, para la implantación y difusión de las tecnologías de la información y las comunicaciones (TIC) y de la sociedad de la información</a>
  </p>
{% endset %}

{% set destinatarios %}
  <ol class="c-ul">
    <li>
      <p class="c-paragraph-base">
        Ciudadanos
      </p>
    </li>
    <li class="ml-lg">
      <p class="c-paragraph-base">
        Ciudadanos mayores de 18 años cursando estudios
      </p>
    </li>
    <li class="ml-lg">
      <p class="c-paragraph-base">
        Todos los demás también
      </p>
    </li>
  </ol>
{% endset %}

{% set requisitos %}
  <ol class="c-ul">
    <li>
      <p class="c-paragraph-base">
        Las entidades beneficiarias deberán tener su sede y actividad principal en Aragón
      </p>
    </li>
    <li class="ml-lg">
      <p class="c-paragraph-base">
        Los gastos deberán ser realizados en el ejercicio 2016
      </p>
    </li>
  </ol>
{% endset %}

{% set canales %}
  <ul class="c-ul">
    <li>
      <p class="c-paragraph-base mb-0 font-semibold">
        Teléfono <span class="font-normal text-sm text-neutral-dark">(Obligatorio)</span>
      </p>
      <p class="c-paragraph-base">
        999 999 999
      </p>
    </li>
    <li>
      <p class="c-paragraph-base mb-0 font-semibold">
        Correo electrónico <span class="font-normal text-sm text-neutral-dark">(Obligatorio)</span>
      </p>
      <p class="c-paragraph-base">
        correo@dominio.com
      </p>
    </li>
    <li>
      <p class="c-paragraph-base mb-0 font-semibold">
        Cita previa
      </p>
      <p class="c-paragraph-base">
        Llamando al 973 432 221 o por la página web www.paginaweb.com
      </p>
    </li>
    <li>
      <p class="c-paragraph-base mb-0 font-semibold">
        Otros canales
      </p>
      <p class="c-paragraph-base">
        Puedes ponerte en contacto con nosotros a través de nuestro Telegram 634 334 342
      </p>
    </li>
  </ul>
{% endset %}



{% set tramitesDelServicio %}
  <ol class="c-ul">
    <li>
      <p class="c-paragraph-base">
        Subsanación y mejora de la solicitud
      </p>
    </li>
    <li>
      <p class="c-paragraph-base">
        Fase de ejecución
      </p>
    </li>
    <li>
      <p class="c-paragraph-base">
        Trámite de alegaciones
      </p>
    </li>
    <li>
      <p class="c-paragraph-base">
        Resolución
      </p>
    </li>
  </ol>
{% endset %}


{% set finalizacionYRevision %}
  <p class="c-paragraph-base">
    Plazo para la notificación de la resolución: 6 meses
  </p>
  <p class="c-paragraph-base">
    Silencio negativo: Si termina el plazo máximo sin haberse notificado resolución expresa a las personas interesadas, su solicitud se entenderá desestimada por silencio de la Administración competente.
  </p>
  <p class="c-paragraph-base">
    Efectos de la resolución: La resolución del trámite pone fin a la vía administrativa
  </p>
  <p class="c-paragraph-base">
    Recursos u otros procedimientos de impugnación conciliación, mediación o arbitraje contra la resolución: Recurso de alzada ante el Consejero de Hacienda y Administración Pública del Gobierno de Aragón
  </p>
{% endset %}


{% set enlacesYDocumentosConInformacionAdicional %}
  <ul class="flex flex-wrap flex-row gap-base">
    <li>
      {% call componentItem({
        "title": {
          "text": "Listado de CNAE-09 incluidos",
          "classes": "font-semibold"
        },
        "content": {
          "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
        },
        "icon": {
          "type": "document"
        }
      })  %}{% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Preguntas frecuentes",
          "classes": "font-semibold"
        },
        "content": {
          "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
        },
        "icon": {
          "type": "document"
        }
      })  %}{% endcall %}
    </li>
    <li>
      {% call componentItem({
        "title": {
          "text": "Nota informativa sobre los gastos subvencionables",
          "classes": "font-semibold"
        },
        "content": {
          "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
        },
        "icon": {
          "type": "document"
        }
      })  %}{% endcall %}
    </li>
  </ul>
{% endset %}


{% set organoDeDestino %}
  <ul class="c-ul">
    <li>
      <p class="c-paragraph-base">
        SECRETARIA GENERAL TECNICA DEL DEPARTAMENTO DE HACIENDA Y ADMINISTRACIÓN PÚBLICA
      </p>
    </li>
  </ul>
{% endset %}


{% set documentacionAPresentar %}
  <ul class="mb-lg">
    <li>
      <p id="condicion-1" class="c-paragraph-base">Condición 1</p>
      <ul class="flex flex-wrap flex-row gap-base mb-base ml-lg" aria-labelledby="condicion-1">
        <li class="w-full">
          {% call componentItem({
            "title": {
              "text": "Listado de facturas y deudas",
              "classes": "font-semibold"
            },
            "description": {
              "text": "En este listado deberás incluir las deudas y pagos a proveedores y otros acreedores, financieros y no financieros, así como los costes fijos incurridos , siempre y cuando éstos se hayan devengado entre el 1 de marzo de 2020 y el 31 de mayo de 2021 y procedan de contratos anteriores al 13 de marzo de 2021."
            },
            "items": [
              {
                "text": "Según modelo"
              },
              {
                "text": "Obligatorio para trámite"
              }
            ],
            "content": {
              "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
            },
            "icon": {
              "type": "document"
            },
            "classes": "w-full"
          })  %}{% endcall %}
        </li>
        <li class="w-full">
          {% call componentItem({
            "title": {
              "text": "Nota informativa sobre los gastos subvencionables",
              "classes": "font-semibold"
            },
            "content": {
              "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
            },
            "icon": {
              "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento" focusable="false" role="img"><path d="M14 3.5A3.5 3.5 0 0 0 10.5 0h-7A3.5 3.5 0 0 0 0 3.5v7A3.5 3.5 0 0 0 3.5 14h7a3.5 3.5 0 0 0 3.5-3.5Zm-10.25 5a.74.74 0 0 1-.53-.22.75.75 0 0 1 0-1.06L6 4.43a.26.26 0 0 0 .06-.28.25.25 0 0 0-.22-.15H4.75a.75.75 0 0 1 0-1.5h3.5a.74.74 0 0 1 .69.5.75.75 0 0 1-.16.82l-4.5 4.5a.74.74 0 0 1-.53.18Zm7-1.72L8 9.57a.26.26 0 0 0-.06.28.25.25 0 0 0 .23.15h1.08a.75.75 0 0 1 0 1.5h-3.5a.74.74 0 0 1-.69-.5.75.75 0 0 1 .16-.82l4.5-4.5a.75.75 0 0 1 1.06 1.06Z" fill="currentColor" transform="scale(3.42857)"/></svg>'
            }
          })  %}{% endcall %}
        </li>
      </ul>
    </li>
    <li>
      <p id="condicion-2" class="c-paragraph-base">Condición 2</p>
      <ul class="flex flex-wrap flex-row gap-base mb-base ml-lg" aria-labelledby="condicion-2">
        <li class="w-full">
          {% call componentItem({
            "title": {
              "text": "Entidades locales de la Comunidad Autónoma de Aragón",
              "classes": "font-semibold"
            },
            "description": {
              "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod"
            },
            "items": [
              {
                "text": "Desde modelo"
              },
              {
                "text": "Obligatorio previo a resolución"
              },
              {
                "text": "Condicionado"
              }
            ],
            "icon": {
              "type": "document"
            },
            "classes": "w-full"
          })  %}{% endcall %}
        </li>
        <li class="w-full">
          {% call componentItem({
            "title": {
              "text": "Nota informativa sobre los gastos subvencionables",
              "classes": "font-semibold"
            },
            "content": {
              "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
            },
            "icon": {
              "type": "document"
            }
          })  %}{% endcall %}
        </li>
      </ul>
    </li>
    <li>
      <p id="sin-condicion" class="sr-only c-paragraph-base">Sin condición</p>
      <ul class="flex flex-wrap flex-row gap-base mb-base" aria-labelledby="sin-condicion">
        <li class="w-full">
          {% call componentItem({
            "title": {
              "text": "Modelo para acreditar la representación",
              "classes": "font-semibold"
            },
            "items": [
              {
                "text": "Según modelo"
              },
              {
                "text": "Obligatorio para trámite"
              }
            ],
            "content": {
              "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
            },
            "icon": {
              "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento" focusable="false" role="img"><g transform="matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)"><path d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM9.28,8.78,7.53,10.53a.75.75,0,0,1-1.06,0L4.72,8.78A.75.75,0,0,1,4.56,8a.74.74,0,0,1,.69-.46H6a.25.25,0,0,0,.25-.25V4a.75.75,0,0,1,1.5,0V7.25A.25.25,0,0,0,8,7.5h.75A.74.74,0,0,1,9.44,8,.75.75,0,0,1,9.28,8.78Z" fill="currentColor"></path></g></svg>'
            },
            "classes": "w-full"
          })  %}{% endcall %}
        </li>
        <li class="w-full">
          {% call componentItem({
            "title": {
              "text": "Nota informativa sobre los gastos subvencionables",
              "classes": "font-semibold"
            },
            "content": {
              "html": 'URL del modelo: <a class="c-link break-all" href="#">http://preaplicaciones.aragon.es/seda_core/rest/getModelByKey?childServiceId=21380&key=ListadodeCNAE09incluidos</a> '
            },
            "icon": {
              "type": "document"
            }
          })  %}{% endcall %}
        </li>
      </ul>
    </li>
  </ul>
{% endset %}

{% set documentacionAPresentarAdministracion %}
  <ul class="flex flex-wrap flex-row gap-base mb-lb" aria-labelledby="sin-condicion">
    <li class="w-full">
      {% call componentItem({
        "title": {
          "text": "Estar al Corriente de Pago con la Seguridad Social - TGSS",
          "classes": "font-semibold"
        },
        "items": [
          {
            "text": "En poder de la administración"
          },
          {
            "text": "Obligatorio para trámite"
          }
        ],
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento en poder de la administración" focusable="false" role="img"><g transform="scale(2)"><path d="m23.88 23.18-2.5-3A.49.49 0 0 0 21 20H3a.49.49 0 0 0-.38.18l-2.5 3a.47.47 0 0 0-.07.53.49.49 0 0 0 .45.29h23a.49.49 0 0 0 .45-.29.47.47 0 0 0-.07-.53Z" fill="currentColor" /><rect x="3" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="10" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="17" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><path d="M2.08 9.28a.51.51 0 0 0 .42.22h19a.51.51 0 0 0 .42-.22l1-1.5A.5.5 0 0 0 22.5 7h-21a.5.5 0 0 0-.42.78ZM1.5 6h21a.5.5 0 0 0 .21-1l-10.5-5a.45.45 0 0 0-.42 0L1.29 5a.5.5 0 0 0 .21 1Z" fill="currentColor" /></g></svg>'
        },
        "classes": "w-full"
      })  %}{% endcall %}
    </li>
    <li class="w-full">
      {% call componentItem({
        "title": {
          "text": "Corriente de pago para ayudas y subvenciones - CCAA",
          "classes": "font-semibold"
        },
        "items": [
          {
            "text": "En poder de la administración"
          },
          {
            "text": "Obligatorio para trámite"
          }
        ],
        "icon": {
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-8 h-8 text-neutral-dark" aria-label="Documento en poder de la administración" focusable="false" role="img"><g transform="scale(2)"><path d="m23.88 23.18-2.5-3A.49.49 0 0 0 21 20H3a.49.49 0 0 0-.38.18l-2.5 3a.47.47 0 0 0-.07.53.49.49 0 0 0 .45.29h23a.49.49 0 0 0 .45-.29.47.47 0 0 0-.07-.53Z" fill="currentColor" /><rect x="3" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="10" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><rect x="17" y="10.5" width="4" height="8.5" rx=".5" fill="currentColor" /><path d="M2.08 9.28a.51.51 0 0 0 .42.22h19a.51.51 0 0 0 .42-.22l1-1.5A.5.5 0 0 0 22.5 7h-21a.5.5 0 0 0-.42.78ZM1.5 6h21a.5.5 0 0 0 .21-1l-10.5-5a.45.45 0 0 0-.42 0L1.29 5a.5.5 0 0 0 .21 1Z" fill="currentColor" /></g></svg>'
        },
        "classes": "w-full"
      })  %}{% endcall %}
    </li>
  </ul>
{% endset %}





{% set urlProcesosYConvocatorias %}
  <div class="flex flex-wrap items-end gap-sm mb-lg">
    {{ componentInputGroup({
      "id": "url-procesos-1",
      "namePrefix": "url-procesos-1",
      "fieldset": {
        "legend": {
          "text": 'URL de "Tramitación"',
          "classes": "text-sm text-neutral-dark"
        }
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "items": [
        {
          "name": "prefijo-url-procesos-1",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "value": "../subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020/",
          "disabled": true,
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        },
        {
          "name": "nombre-url-procesos-1",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "tramite",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm",
      "disabled": true
    })  }}
  </div>
  <div class="flex flex-wrap items-end gap-sm mb-lg">
    {{ componentInputGroup({
      "id": "url-procesos-2",
      "namePrefix": "url-procesos-2",
      "fieldset": {
        "legend": {
          "text": 'URL de "Convocatoria 2022"',
          "classes": "text-sm text-neutral-dark"
        }
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "items": [
        {
          "name": "prefijo-url-procesos-2",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "value": "../subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020/",
          "disabled": true,
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        },
        {
          "name": "nombre-url-procesos-2",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "convocatoria-2021",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm",
      "disabled": true
    })  }}
  </div>
{% endset %}


{% set urlProcesosYConvocatoriasCambios %}
  <div class="flex flex-wrap items-end gap-sm mb-lg">
    {{ componentInputGroup({
      "id": "url-procesos-1",
      "namePrefix": "url-procesos-1",
      "fieldset": {
        "legend": {
          "text": 'URL de "Tramitación"',
          "classes": "text-sm text-neutral-dark"
        }
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "items": [
        {
          "name": "prefijo-url-procesos-1",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "value": "../subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020/",
          "disabled": true,
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        },
        {
          "name": "nombre-url-procesos-1",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "tramitacion",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm",
      "disabled": true
    })  }}
  </div>
  <div class="flex flex-wrap items-end gap-sm mb-lg">
    {{ componentInputGroup({
      "id": "url-procesos-2",
      "namePrefix": "url-procesos-2",
      "fieldset": {
        "legend": {
          "text": 'URL de "Convocatoria 2022"',
          "classes": "text-sm text-neutral-dark"
        }
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "items": [
        {
          "name": "prefijo-url-procesos-2",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "value": "../subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020/",
          "disabled": true,
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        },
        {
          "name": "nombre-url-procesos-2",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL de la solicitud en TTO",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "convocatoria-2022",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm",
      "disabled": true
    })  }}
  </div>
{% endset %}


{% set urlSede %}
  <div class="flex flex-wrap items-end gap-sm">
    {{ componentInputGroup({
      "id": "url-servicio",
      "namePrefix": "url-servicio",
      "fieldset": {
        "legend": {
          "text": 'URL de "SUBVENCIÓN EN MATERIA DE APOYO A ACCIONES DE COOPERACIÓN DE AGENTES DEL SECTOR AGRARIO (PDR 2014-2020)"',
          "classes": "text-sm text-neutral-dark"
        }
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "items": [
        {
          "name": "prefijo-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL del servicio",
            "classes": "sr-only"
          },
          "value": "https://prewww.aragon.es/tramitador/-/tramite/",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        },
        {
          "name": "nombre-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL del servicio",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2020",
          "disabled": true,
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm",
      "disabled": true
    })  }}
  </div>
{% endset %}


{% set urlSedeCambios %}
  <div class="flex flex-wrap items-end gap-sm">
    {{ componentInputGroup({
      "id": "url-servicio",
      "namePrefix": "url-servicio",
      "fieldset": {
        "legend": {
          "text": 'URL de "SUBVENCIÓN EN MATERIA DE APOYO A ACCIONES DE COOPERACIÓN DE AGENTES DEL SECTOR AGRARIO (PDR 2014-2020)"',
          "classes": "text-sm text-neutral-dark"
        }
      },
      "classes": "lg:grid lg:grid-cols-3",
      "formGroup": {
        "classes": "flex-1 mb-0"
      },
      "items": [
        {
          "name": "prefijo-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Prefijo de URL del servicio",
            "classes": "sr-only"
          },
          "value": "https://prewww.aragon.es/tramitador/-/tramite/",
          "disabled": true,
          "formGroup": {
            "classes": "mb-0"
          }
        },
        {
          "name": "nombre-url-servicio",
          "classes": "c-input--sm w-full",
          "label": {
            "text": "Nombre de URL del servicio",
            "classes": "sr-only"
          },
          "placeholder": "alias",
          "value": "subvencion-en-materia-de-apoyo-a-acciones-de-cooperacion-de-agentes-del-sector-agrario-pdr-2014-2021",
          "disabled": true,
          "formGroup": {
            "classes": "col-span-2 mb-0"
          }
        }
      ]
    })  }}
    {{ componentButton({
      "text": "Validar",
      "classes": "c-button--sm",
      "disabled": true
    })  }}
  </div>
{% endset %}