{% call componentDropdown({
  "html": 'Más<span class="sr-only"> acciones relacionadas con la convocatoria '+ itemId + ' - ' + itemText +'</span>',
  "classes": "c-dropdown--secondary c-dropdown--sm mr-base",
  "classesTooltip": "absolute"
})  %}
  {{ componentNav({
    "hasNav": true,
    "idPrefix": "mas-acciones-publicado-coon-cambios",
    "attributes": {
    "id": "mas-acciones-publicado-coon-cambios",
    "aria-label": "Más acciones"
    },
    "items": [
    {
      "href": "#",
      "text": "Ver en aragon.es",
      "divider": true
    },
    {
      "href": "#",
      "text": "Editar contenido"
    },
    {
      "href": "#",
      "text": "Descartar cambios",
      "divider": true
    },
    {
      "href": "#",
      "text": "Duplicar",
      "divider": true
    },
    {
      "href": "#",
      "text": "Dar de baja...",
      "classes": "text-alert-base"
    }
    ],
    "classes": "w-max max-w-64"
  })  }}
{% endcall %}