{% call componentDropdown({
  "html": 'Más<span class="sr-only"> acciones relacionadas con el servicio '+ itemId + ' - ' + itemText +'</span>',
  "classes": "c-dropdown--secondary c-dropdown--sm mr-base"
})  %}
  {{ componentNav({
    "hasNav": true,
    "idPrefix": "mas-acciones-suspendido",
    "attributes": {
    "id": "mas-acciones-suspendido",
    "aria-label": "Más acciones"
    },
    "items": [
    {
      "href": "#",
      "text": "Ver detalles"
    },
    {
      "href": "#",
      "text": "Previsualizar"
    },
    {
      "href": "#",
      "text": "Enviar a publicar..."
    },
    {
      "href": "#",
      "text": "Validar y Publicar cambios...",
      "divider": true
    },
    {
      "href": "#",
      "text": "Crear nueva convocatoria"
    },
    {
      "href": "#",
      "text": "Duplicar",
      "divider": true
    },
    {
      "href": "#",
      "text": "Dar de baja...",
      "classes": "text-alert-base"
    }
    ],
    "classes": "w-max max-w-64"
  })  }}
{% endcall %}