{% call componentDropdown({
  "html": 'Más<span class="sr-only"> acciones relacionadas con el servicio '+ itemId + ' - ' + itemText +'</span>',
  "classes": "c-dropdown--secondary c-dropdown--sm mr-base"
})  %}
  {{ componentNav({
    "hasNav": true,
    "idPrefix": "mas-acciones-en-validacion-usuario-validador",
    "attributes": {
    "id": "mas-acciones-en-validacion-usuario-validador",
    "aria-label": "Más acciones"
    },
    "items": [
    {
      "href": "#",
      "text": "Previsualizar"
    },
    {
      "href": "#",
      "text": "Rechazar..."
    },
    {
      "href": "#",
      "text": "Validar y publicar...",
      "divider": true
    },
    {
      "href": "#",
      "text": "Editar datos generales"
    },
    {
      "href": "#",
      "text": "Duplicar"
    }
    ],
    "classes": "w-max max-w-64"
  })  }}
{% endcall %}