{% call componentDropdown({
  "html": 'Más <span class="sr-only">acciones de ' + dropdownTitle + '</span>',
  "classes": "c-dropdown--transparent c-dropdown--sm"
})  %}
  {{ componentNav({
    "hasNav": false,
    "idPrefix": dropdownId + "-prefix",
    "attributes": {
    "id": dropdownId,
    "aria-label": "Más acciones de" + dropdownTitle
    },
    "items": [
    {
      "href": "#",
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M112.07 37.93l-35-35a10 10 0 00-14.14 0l-35 35a10 10 0 0014.14 14.14l13.66-13.66A2.5 2.5 0 0160 40.18V130a10 10 0 0020 0V40.18a2.5 2.5 0 014.27-1.77l13.66 13.66a10 10 0 0014.14-14.14z"/></svg>Subir'
    },
    {
      "href": "#",
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M27.93 102.07l35 35a10 10 0 0014.14 0l35-35a10 10 0 00-14.14-14.14l-13.66 13.66A2.5 2.5 0 0180 99.82V10a10 10 0 00-20 0v89.82a2.5 2.5 0 01-4.27 1.77L42.07 87.93a10 10 0 00-14.14 14.14z"/></svg> Bajar'
    },
    {
      "href": "#",
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z"/></svg> Anidar'
    },
    {
      "href": "#",
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Desanidar',
      "divider": true
    },
    {
      "href": "#",
      "text": "Añadir hijo..."
    },
    {
      "href": "#",
      "text": "Añadir hermano..."
    },
    {
      "href": "#",
      "text": "Duplicar...",
      "divider": true
    },
    {
      "href": "#",
      "text": "Eliminar"
    }
    ],
    "classes": "w-max max-w-64"
  })  }}
{% endcall %}
