{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% call componentDialog({
  "button": {
    "text": "Temas",
    "classes": "c-button--secondary c-button--sm self-start mb-sm lg:mr-sm mb-base lg:mb-0",
    "attributes": {
      "onclick": "openDialog('temas-dialog', this, 'label-seleccion-temas')"
    }
  },
  "id": "temas-dialog",
  "classes": "hidden lg:absolute lg:inset-0 min-h-screen",
  "attributes": {
    "role": "dialog",
    "aria-labelledby": "label-seleccion-temas",
    "aria-modal": true
  }
})  %}
  {% call componentModal({
    "id": "seleccion-temas",
    "title": {
      "text": "Temas",
      "classes": "c-h1 mx-base text-left focus:outline-none focus:underline"
    },
    "itemsPrimary": [
      {
        "text": "Seleccionar",
        "classes": "c-button--primary"
      }
    ],
    "itemsSecondary": [
      {
        "text": "Cancelar",
        "classes": "c-button--secondary",
        "attributes": {
          "onclick": "closeDialog(this)"
        }
      }
    ],
    "isDismissible": true,
    "classes": "max-w-4xl"
  })  %}
    {% include "includes/_arbol-temas.njk" %}
  {% endcall %}
{% endcall %}

