{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/tabs/_macro.tabs.njk" import componentTabs %}

{% macro tabsCambios(id, name, htmlOriginal, htmlChanges, timeAgo) %}

  {% set tabOriginal %}
    <div class="mb-base p-base">
      {{ htmlOriginal | safe }}
    </div>
    <p class="text-sm text-neutral-dark">Texto original</p>
  {% endset %}

  {% set tabChanges %}
    <div class="mb-base p-base bg-warning-light">
      {{ htmlChanges | safe }}
    </div>
    <div class="flex items-baseline">
      <p class="flex-1 text-sm text-neutral-dark">{{ timeAgo | safe }}</p>
      <div class="ml-auto">
        {{ componentButton({
          "html": 'Descartar<span class="sr-only"> cambios en ' + name + '</span>',
          "classes": "c-button--transparent mr-sm"
        })  }}
        {{ componentButton({
          "html": 'Editar<span class="sr-only"> cambios en ' + name + '</span>'
        })  }}
      </div>
    </div>
  {% endset %}

  {{ componentTabs({
      "tablistAriaLabel": "Cambios de " + name,
      "items": [
        {
          "html": 'Cambios<span class="sr-only"> de ' + name + '</span>',
          "id": "cambios-" + id,
          "panel": {
            "html": tabChanges | safe
          }
        },
        {
          "html": 'Ver original<span class="sr-only"> de ' + name + '</span>',
          "id": "original" + id,
          "panel": {
            "html": tabOriginal | safe
          }
        }
      ]
    })  }}
{% endmacro %}