{% set errorMsg %}
  No ha sido posible realizar la identificación. <strong>Inténtalo de nuevo.</strong> Si el problema persiste, consulta la <a href="#" class="c-link">ayuda para acceder</a>.
{% endset %}

{{ componentNotification({
  "title": {
    "text": "Error en la identificación"
  },
  "description": {
    "html": errorMsg,
    "classes": "c-paragraph-base mb-0"
  },
  "type": "alert",
  "id": "identification-alert",
  "isDismissible": true,
  "classes": "c-notification--alert mb-base bg-white"
})  }}