{% set browser = "Internet Explorer 6" %}

{{ componentNotification({
  "title": {
    "text": "Problemas encontrados"
  },
  "description": {
    "html": 'Tu navegador <em>' + browser + '</em>, no es compatible y puedes tener problemas para acceder. Accede con un <a href="https://browsehappy.com/" class="c-link" target="_blank" title="Se abre en pestaña nueva">navegador moderno</a>',
    "classes": "c-paragraph-base mb-0"
  },
  "type": "alert",
  "id": "browser-alert",
  "isDismissible": true,
  "classes": "c-notification--alert mb-base bg-white"
})  }}