{% extends "_template.default.njk" %}
{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="c-h1">Componentes</div>
  <div class="pb-lg"></div>
  {% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
  {{ componentMenuVertical({
    "items": [
    {
      href: "examples-test-component.html",
      text: "Test component"
    },
    {
      href: "examples-test-component-caller.html",
      text: "Test component caller"
    },
    {
      href: "examples-item-list-service-history.html",
      text: "Item list service history"
    },
    {
      href: "examples-item-list-services.html",
      text: "Item list services"
    },
    {
      href: "examples-item-list-services-condensed.html",
      text: "Item list services condensed"
    },
    {
      href: "examples-detail-header.html",
      text: "Detail header"
    },
    {
      href: "examples-item-list-convocatorias.html",
      text: "Item list convocatorias"
    }]
  })  }}
  <div class="pb-2xl"></div>
{% endblock %}