{% extends "_template.default.njk" %}
{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="c-h1">Páginas</div>
  <div class="pb-lg"></div>
  {% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
  {{ componentMenuVertical({
    "items": [
      {
        href: "templates/pages/test-template.html",
        text: "Test template"
      },
      {
        href: "templates/pages/mfe-index-iframe-content.html",
        text: "0a. MFE index (template del contenido dentro del iframe)"
      },
      {
        href: "templates/pages/mfe-index-con-iframe-redimensionable.html",
        text: "0b. MFE index (template de con un iframe redimensionable con javascript que incluye la página anterior)"
      },
      {
        href: "templates/pages/perfil.html",
        text: "Perfil de usuario"
      },
      {
        href: "templates/pages/0.1-servicios-departamento-supervisores.html",
        text: "0.1-servicios-departamento-supervisores"
      },
      {
        href: "templates/pages/0.1.2.d-servicio-publicado-datos-generales.html",
        text: "0.1.2.d-servicio-publicado-datos-generales"
      },
      {
        href: "templates/pages/0.1.2.1-editar-datos-generales.html",
        text: "0.1.2.1-editar-datos-generales"
      },
      {
        href: "templates/pages/0.1.3.a-servicio-publicado-convocatorias.html",
        text: "0.1.3.a-servicio-publicado-convocatorias"
      },
      {
        href: "templates/pages/0.1.3.b-servicio-publicado-procesos.html",
        text: "0.1.3.b-servicio-publicado-procesos"
      },
      {
        href: "templates/pages/0.1.3.1-editar-proceso-especifico.html",
        text: "0.1.3.1-editar-proceso-especifico"
      },
      {
        href: "templates/pages/0.1.3.1.b-proceso-especifico-detalles.html",
        text: "0.1.3.1.b-proceso-especifico-detalles"
      },
      {
        href: "templates/pages/proceso-especifico-documentos-de-tramitacion.html",
        text: "proceso-especifico-historico-documentos-de-tramitacion"
      },
      {
        href: "templates/pages/0.1.3.2-proceso-especifico-historico.html",
        text: "0.1.3.2-proceso-especifico-historico"
      },
      {
        href: "templates/pages/0.1.4-servicio-publicado-historico.html",
        text: "0.1.4-servicio-publicado-historico"
      },
      {
        href: "templates/pages/0.1.5.a-servicio-publicado-ajustes.html",
        text: "0.1.5.a-servicio-publicado-ajustes"
      },
      {
        href: "templates/pages/0.1.5.b-servicio-publicado-ajustes-edicion.html",
        text: "0.1.5.b-servicio-publicado-ajustes-edicion"
      },
      {
        href: "templates/pages/0.2-todos-los-servicios.html",
        text: "0.2-todos-los-servicios"
      },
      {
        href: "templates/pages/06.1-pop-up-mandar-a-validar.html",
        text: "06.1-pop-up-mandar-a-validar"
      },
      {
        href: "templates/pages/06.1.2-pop-up-mandar-cambios-a-validar.html",
        text: "06.1.2-pop-up-mandar-cambios-a-validar"
      },
      {
        href: "templates/pages/06.1.3-pop-up-cancelar-mandar-a-validar.html",
        text: "06.1.3-pop-up-cancelar-mandar-a-validar"
      },
      {
        href: "templates/pages/06.2-pop-up-publicar.html",
        text: "06.2-pop-up-publicar"
      },
      {
        href: "templates/pages/06.2.4-pop-up-publicar-cambios.html",
        text: "06.2.4-pop-up-publicar-cambios"
      },
      {
        href: "templates/pages/06.3-pop-up-publicar-convocatorias.html",
        text: "06.3-pop-up-publicar-convocatorias"
      },
      {
        href: "templates/pages/06.4-pop-up-despublicar.html",
        text: "06.4-pop-up-despublicar"
      },
      {
        href: "templates/pages/06.5-pop-up-editar-publicado.html",
        text: "06.5-pop-up-editar-publicado"
      },
      {
        href: "templates/pages/06.6-pop-up-descartar-cambios.html",
        text: "06.6-pop-up-descartar-cambios"
      },
      {
        href: "templates/pages/06.6-pop-up-suspender.html",
        text: "06.6-pop-up-suspender"
      },
      {
        href: "templates/pages/06.6.2-pop-up-descartar-cambios.2.html",
        text: "06.6.2-pop-up-descartar-cambios.2"
      },
      {
        href: "templates/pages/06.7-pop-up-eliminar-borrador.html",
        text: "06.7-pop-up-eliminar-borrador"
      },
      {
        href: "templates/pages/0.1.P-pop-up-nuevo-servicio.html",
        text: "0.1.P-pop-up-nuevo-servicio"
      },
      {
        href: "templates/pages/pop-up-editar-plazo-y-normativa.html",
        text: "pop-up editar plazo y normativa"
      },
      {
        href: "templates/pages/pop-up-rechazar-publicacion.html",
        text: "pop-up rechazar publicacion"
      },
      {
        href: "templates/pages/pop-up-rechazar-cambios.html",
        text: "pop-up rechazar cambios"
      },
      {
        href: "templates/pages/pop-up-eliminar-documento-referenciado.html",
        text: "pop-up eliminar documento referenciado"
      },
      {
        href: "templates/pages/pop-up-eliminar-documento-publicado.html",
        text: "pop-up eliminar documento publicado"
      },
      {
        href: "templates/pages/pop-up-descartar-un-cambio.html",
        text: "pop-up descartar un cambio"
      }
    ]
  })  }}
  <div class="pb-2xl"></div>
{% endblock %}