{% set itemId = "ID - 450" %}
{% set itemText = "Convocatoria 2016" %}
{% import "includes/_actions-examples-item-list-convocatorias.njk" as actions with context %}


{% set exampleComponent = "item-list-convocatorias" %}
{% set examples =  [
  {
    "name": "Convocatoria en borrador",
    "description": "status = en-borrador",
    "data": {
      "text": "Convocatoria 2016",
      "idNumber": "ID - 450",
      "status": {
        "type": "en-borrador"
      },
      "statusDateText": "Creado el 10 de enero",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "--"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "1 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsEnBorrador
    }
  },
    {
    "name": "Borrador de convocatoria rechazado",
    "description": "status = borrador-rechazado",
    "data": {
      "text": "Convocatoria 2016",
      "idNumber": "ID - 450",
      "status": {
        "type": "borrador-rechazado"
      },
      "statusDateText": "Rechazado el 10 de enero",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 15/06/19 hasta 22/10/19"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "1 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsBorradorRechazado
    }
  },
  {
    "name": "Convocatoria en validación",
    "description": "status = en-validacion",
    "data": {
      "text": "Convocatoria 2016",
      "idNumber": "ID - 450",
      "status": {
        "type": "en-validacion"
      },
      "statusDateText": "Enviado el 10 de enero (hace 3 días)",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Permanente"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "1 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsEnValidacionUsuarioEditor
    }
  },
  {
    "name": "Convocatoria en validación usario validador",
    "description": "status = para-publicar",
    "data": {
      "text": "Convocatoria 2016",
      "idNumber": "ID - 450",
      "status": {
        "type": "para-publicar"
      },
      "statusDateText": "Enviado el 10 de enero (hace 3 días)",
      "link": {
        "text": "Rechazar",
        "url": "#"
      },
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Permanente"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "1 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsEnValidacionUsuarioValidador
    }
  },
  {
    "name": "Convocatoria publicada simple",
    "description": "status = publicado",
    "data": {
      "text": "Convocatoria 2017",
      "idNumber": "ID - 452",
      "status": {
        "type": "publicado"
      },
      "statusDateText": "En plazo hasta el 10 de febrero",
      "link": {
        "html": 'Ver en aragon.es<span class="sr-only"> la convocatoria: Convocatoria 2017</span>',
        "url": "http://www.aragon.es"
      },
      "views": "1587 vistas",
      "sentRequests": "321 solicitudes enviadas",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 30/01/18 hasta 10/12/18"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial, electrónica (TTO), otros"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "3 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsPublicado
    }
  },
  {
    "name": "Proceso publicado simple",
    "description": "status = publicado",
    "data": {
      "text": "Proceso 2017",
      "idNumber": "ID - 452",
      "status": {
        "type": "publicado"
      },
      "statusDateText": "En plazo hasta el 10 de febrero",
      "link": {
        "html": 'Ver en aragon.es<span class="sr-only"> la convocatoria: Convocatoria 2017</span>',
        "url": "http://www.aragon.es"
      },
      "views": "1587 vistas",
      "sentRequests": "321 solicitudes enviadas",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 30/01/18 hasta 10/12/18"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial, electrónica (TTO), otros"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "3 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsProcesoPublicado
    }
  },
  {
    "name": "Convocatoria publicada cambios sin enviar a publicar",
    "description": "status = publicado, changes = sin-enviar-a-publicar. Ver dropdown Más",
    "data": {
      "text": "Convocatoria 2017",
      "idNumber": "ID - 452",
      "status": {
        "type": "publicado"
      },
      "statusDateText": "En plazo hasta el 10 de febrero",
      "link": {
        "html": 'Ver en aragon.es<span class="sr-only"> la convocatoria: Convocatoria 2017</span>',
        "url": "http://www.aragon.es"
      },
      "views": "1587 vistas",
      "sentRequests": "321 solicitudes enviadas",
      "changes": {
        "type": "sin-enviar-a-publicar",
        "url": "#"
      },
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 30/01/18 hasta 10/12/18"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial, electrónica (TTO), otros"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "3 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsPublicadoConCambios
    }
  },
  {
    "name": "Proceso publicado cambios sin enviar a publicar",
    "description": "status = publicado, changes = sin-enviar-a-publicar. Ver dropdown Más",
    "data": {
      "text": "Proceso 2017",
      "idNumber": "ID - 452",
      "status": {
        "type": "publicado"
      },
      "statusDateText": "En plazo hasta el 10 de febrero",
      "link": {
        "html": 'Ver en aragon.es<span class="sr-only"> la convocatoria: Convocatoria 2017</span>',
        "url": "http://www.aragon.es"
      },
      "views": "1587 vistas",
      "sentRequests": "321 solicitudes enviadas",
      "changes": {
        "type": "sin-enviar-a-publicar",
        "url": "#"
      },
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 30/01/18 hasta 10/12/18"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial, electrónica (TTO), otros"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "3 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsProcesoPublicadoConCambios
    }
  },
  {
    "name": "Convocatoria publicada cambios pendientes de publicar",
    "description": "status = publicado, changes = pendientes-de-publicar. Ver dropdown Más.",
    "data": {
      "text": "Convocatoria 2017",
      "idNumber": "ID - 452",
      "status": {
        "type": "publicado"
      },
      "statusDateText": "En plazo hasta el 10 de febrero",
      "link": {
        "html": 'Ver en aragon.es<span class="sr-only"> la convocatoria: Convocatoria 2017</span>',
        "url": "http://www.aragon.es"
      },
      "views": "1587 vistas",
      "sentRequests": "321 solicitudes enviadas",
      "changes": {
        "type": "pendientes-de-publicar",
        "url": "#"
      },
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 30/01/18 hasta 10/12/18"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial, electrónica (TTO), otros"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "3 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsPublicadoConCambiosEnviadosAPublicar
    }
  },
  {
    "name": "Proceso publicado cambios pendientes de publicar",
    "description": "status = publicado, changes = pendientes-de-publicar. Ver dropdown Más.",
    "data": {
      "text": "Proceso 2017",
      "idNumber": "ID - 452",
      "status": {
        "type": "publicado"
      },
      "statusDateText": "En plazo hasta el 10 de febrero",
      "link": {
        "html": 'Ver en aragon.es<span class="sr-only"> la convocatoria: Convocatoria 2017</span>',
        "url": "http://www.aragon.es"
      },
      "views": "1587 vistas",
      "sentRequests": "321 solicitudes enviadas",
      "changes": {
        "type": "pendientes-de-publicar",
        "url": "#"
      },
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 30/01/18 hasta 10/12/18"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial, electrónica (TTO), otros"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "3 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsProcesoPublicadoConCambiosEnviadosAPublicar
    }
  },
  {
    "name": "Convocatoria publicada para publicar",
    "description": "status = publicado, changes = para-publicar. Ver dropdown Más.",
    "data": {
      "text": "Convocatoria 2017",
      "idNumber": "ID - 452",
      "status": {
        "type": "publicado"
      },
      "statusDateText": "En plazo hasta el 10 de febrero",
      "link": {
        "html": 'Ver en aragon.es<span class="sr-only"> la convocatoria: Convocatoria 2017</span>',
        "url": "http://www.aragon.es"
      },
      "views": "1587 vistas",
      "sentRequests": "321 solicitudes enviadas",
      "changes": {
        "type": "para-publicar",
        "url": "#"
      },
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 30/01/18 hasta 10/12/18"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial, electrónica (TTO), otros"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "3 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsPublicadoConCambiosParaPublicarUsuarioValidador
    }
  },
  {
    "name": "Proceso publicado para publicar",
    "description": "status = publicado, changes = para-publicar. Ver dropdown Más.",
    "data": {
      "text": "Proceso 2017",
      "idNumber": "ID - 452",
      "status": {
        "type": "publicado"
      },
      "statusDateText": "En plazo hasta el 10 de febrero",
      "link": {
        "html": 'Ver en aragon.es<span class="sr-only"> la convocatoria: Convocatoria 2017</span>',
        "url": "http://www.aragon.es"
      },
      "views": "1587 vistas",
      "sentRequests": "321 solicitudes enviadas",
      "changes": {
        "type": "para-publicar",
        "url": "#"
      },
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 30/01/18 hasta 10/12/18"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial, electrónica (TTO), otros"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "3 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsProcesoPublicadoConCambiosParaPublicarUsuarioValidador
    }
  },
  {
    "name": "Convocatoria fuera de plazo",
    "description": "status = fuera-plazo",
    "data": {
      "text": "Convocatoria 2014",
      "idNumber": "ID - 443",
      "status": {
        "type": "fuera-plazo"
      },
      "statusDateText": "Fuera de plazo desde el 10 febrero (hace 20 días)",
      "views": "787 vistas",
      "sentRequests": "305 solicitudes enviadas",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 17/11/20 hasta 18/12/20"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial, electrónica (TTO), otros"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "5 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsPublicadoFueraPlazo
    }
  },
  {
    "name": "Convocatoria suspendida",
    "description": "status = suspendido",
    "data": {
      "text": "Convocatoria 2015",
      "idNumber": "ID - 448",
      "status": {
        "type": "suspendido",
        "text": "Suspendido desde el 10 de Enero"
      },
      "statusDateText": "Despublicado el 10 de febrero (hace 20 días)",
      "views": "985 vistas",
      "sentRequests": "220 solicitudes enviadas",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "Temporal - desde 15/06/19 hasta 22/10/19"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Electrónica (TTO)"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "2 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      },
      "caller": actions.actionsSuspendido
    }
  },
  {
    "name": "Convocatoria dada de baja",
    "description": "status = baja",
    "data": {
      "text": "Convocatoria 2013",
      "idNumber": "ID - 440",
      "status": {
        "type": "baja",
        "text": "Dado de baja el 10 de enero 2020"
      },
      "statusDateText": "Publicado el 10 de enero",
      "views": "1188 vistas",
      "sentRequests": "123 solicitudes enviadas",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Plazo"
            },
            "definition": {
              "text": "--"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Presentación de solicitud"
            },
            "definition": {
              "text": "Presencial"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Documentos a presentar"
            },
            "definition": {
              "text": "2 documentos"
            },
            "classes": "lg:w-1/3 pr-base mb-xs"
          }
        ]
      }
    }
  }
] %}