{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}


<div class="{%- if params.classes %} {{ params.classes }}{% endif %} mb-base bg-white border border-neutral-base rounded shadow-md" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="p-lg">
    <div class="lg:flex lg:flex-wrap w-full">
      <h3 class="flex-1 font-bold text-2xl leading-tight mb-sm">{{ params.html | safe if params.html else params.text }} <span class="text-sm ml-xs">{{ params.idNumber }}</span></h3>
      <div class="lg:order-3 w-full">
        <p class="flex flex-wrap lg:w-full items-start lg:items-center mb-sm">
          {% if params.status.type == 'publicado' %}
            <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-success-base"></span>
            <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Publicado{% endif %}</span>
          {% elseif params.status.type == 'en-borrador' %}
            <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-neutral-light border-2 border-neutral-dark"></span>
            <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Borrador{% endif %}</span>
          {% elseif params.status.type == 'en-validacion' %}
            <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-warning-base"></span>
            <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}En validación{% endif %}</span>
          {% elseif params.status.type == 'para-publicar' %}
            <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-warning-base"></span>
            <span class="flex-1 lg:flex-initial font-semibold uppercase"><span class="bg-warning-base">{% if params.status.text %}{{ params.status.text }}{% else %}Para publicar{% endif %}</span></span>
          {% elseif params.status.type == 'borrador-rechazado' %}
            <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-alert-light border-2 border-alert-base"></span>
            <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Borrador rechazado{% endif %}</span>
          {% elseif params.status.type == 'suspendido' %}
            <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-alert-dark"></span>
            <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Suspendido{% endif %}</span>
          {% elseif params.status.type == 'fuera-plazo' %}
            <span class="inline-block w-2 h-base mt-1 lg:mt-0 bg-success-base"></span>
            <span class="inline-block w-2 h-base mr-sm mt-1 lg:mt-0 bg-black"></span>
            <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Publicado y fuera de plazo{% endif %}</span>
          {% elseif params.status.type == 'baja' %}
            <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-black"></span>
            <span class="flex-1 lg:flex-initial font-semibold uppercase">{% if params.status.text %}{{ params.status.text }}{% else %}Dado de baja{% endif %}</span>
          {% endif %}
          <span class="w-full lg:w-auto ml-base pl-sm lg:pl-base lg:border-l lg:border-neutral-base">{{ params.statusDateText }}</span>
          {% if params.link %}
            <a href="{{ params.link.url }}" class="c-link ml-base pl-sm lg:pl-0">{{ params.link.text }}</a>
          {% endif %}
        </p>
        <p class="flex flex-wrap lg:w-full items-baseline">
          <span class="">{{ params.views }}</span>
          <span class="w-full lg:w-auto ml-0 lg:ml-lg">{{ params.sentRequests }}</span>
        </p>
      </div>
      <div class="flex flex-wrap lg:items-start mt-base lg:mt-0 mb-xs lg:ml-auto lg:pl-base">
        {% if caller %}
        {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
        {% elseif params.caller %}
        {{ params.caller | safe }}
        {% endif %}
      </div>
    </div>
  </div>
  {% if params.changes %}
    <div class="lg:flex lg:flex-wrap lg:w-full px-lg py-base {%- if params.changes.type == 'sin-enviar-a-publicar' %} bg-warning-light{%- elseif params.changes.type == 'pendientes-de-publicar' %} bg-neutral-light{% else %} bg-warning-base{% endif %}">
      <div class="flex flex-wrap items-center text-sm font-bold {%- if params.changes.type == 'para-publicar' %} uppercase{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block w-4 h-4 mr-sm" aria-hidden="true" focusable="false"><path d="M127 91.34L90 70l37-21.34a10 10 0 10-10-17.32L80 52.68V10a10 10 0 00-20 0v42.68L23 31.34a10 10 0 00-10 17.32L50 70 13 91.34a10 10 0 1010 17.32l37-21.34V130a10 10 0 0020 0V87.32l37 21.34a10 10 0 1010-17.32z" fill="currentColor"/></svg>
        <span class="flex-1">
          {% if params.changes.type == 'sin-enviar-a-publicar' %}
            Existen cambios sin enviar a publicar
          {% elseif params.changes.type == 'pendientes-de-publicar' %}
            Cambios pendientes de publicar
          {% elseif params.changes.type == 'para-publicar' %}
            CAMBIOS PARA PUBLICAR
          {% endif %}
        </span>
      </div>
      <a href="{{ params.changes.url }}" class="c-link flex pl-base ml-sm lg:ml-auto text-sm">Ver cambios<span class="sr-only"> de la convocatoria {{ params.html | safe if params.html else params.text }} - {{ params.idNumber }}</span></a>
    </div>
  {% else %}
    <hr class="border-neutral-base">
  {% endif %}
  <div class="px-lg py-base">
    {{ componentDescriptionList(params.items)  }}
  </div>
</div>